.header__banner(data-mobile-bg="assets/images/content/slider/map.jpg" data-main-bg="assets/images/content/slider/map.jpg" style="background-image: url(assets/images/content/slider/map.jpg); background-size: cover;")