.header__banner(data-mobile-bg="assets/images/content/slider/tmp.jpg" data-main-bg="assets/images/content/slider/tmp.jpg" style="background-image: url(assets/images/content/slider/tmp.jpg); background-size: cover;")
  .container
    .row
      .col-12.col-lg-8.offset-lg-4
        .header__banner--wrap
          h1.headline Выставка Aqua-Therm Kyiv 2019
          .banner__form
            form(action="")
              .header__form.d-flex.align-items-center
                .info Час читання статті 7 хвилин
                a.btn.btn--blue Нема часу читати?
              .body__form.d-flex.align-items-center
                .info Тоді відправимо Вам на пошту
                label(for="email" aria-label="Email")
                  input.form-control(type='text' name="email", placeholder="Ваша електрона пошта")
                button.btn__form(type="submit") 
