.header__banner(data-mobile-bg="assets/images/content/slider/advertising.jpg" data-main-bg="assets/images/content/slider/advertising.jpg" style="background-image: url(assets/images/content/slider/advertising.jpg); background-size: cover;")