.content_404
  .container
    .row
      .col-12.col-lg-9.offset-lg-3
        .wrap 
          .subtitle Помилка 404
          h1.title Сторінку не знайдено
          .text
            p Перейдіть на 
              a(href="") головну сторінку 
              |або оберіть необхідну категорію
