.menu
  .menu-content
    .menu__button
      .header-close
        span
        span
        span
    .menu__navs
      nav.navbar
        #navbarSupportedContent.navbar-collapse
          ul.navbar-nav.mr-auto.menu__list
            li.nav-item.dropdown
              a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                | Про компанію
              .dropdown-menu(aria-labelledby='navbarDropdown')
                a.dropdown-item(href='history.html') Історія компанії 
                a.dropdown-item(href='#') Місія компанії 
                a.dropdown-item(href="objects.html") Портфель наших проектів 
            li.nav-item
              a.nav-link(href='category.html', aria-disabled='true') Продукція
            li.nav-item.dropdown
              a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                | Інфоцентр
              .dropdown-menu(aria-labelledby='navbarDropdown')
                a.dropdown-item(href='#') Рекламні каталоги
                a.dropdown-item(href='videos.html') Відеоогляди продукції
                a.dropdown-item(href='#') Новини
                a.dropdown-item(href='blog.html') Блог
            li.nav-item.dropdown
              a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                | Сервіс
              .dropdown-menu(aria-labelledby='navbarDropdown')
                a.dropdown-item(href='#') Підбір насоса
                a.dropdown-item(href='manuals.html') Документація
                a.dropdown-item(href='#') Карта сервісних центрів
                a.dropdown-item(href='#') Гарантія
            li.nav-item.dropdown
              a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                | Контакти
              .dropdown-menu(aria-labelledby='navbarDropdown')
                a.dropdown-item(href="internet_partners.html") Інтернет-партнери
                a.dropdown-item(href='#') Головний офіс
                a.dropdown-item(href="map.html") Представництва
            li.nav-item
              a.nav-link(href='#', aria-disabled='true') Новинки
header.header
  .header__top.d-none.d-sm-block
    .container
      .row.no-sticky.d-flex.justify-content-between.align-items-center
        .header__logo.d-none.d-sm-block.col-lg-3
          a.logo(href="/", aria-label="Logo")
            img(src="assets/images/general/logo.png", alt="")
        .header__center.col-lg-6.d-flex.align-items-center
          a.header__phone(href="tel:+0800503340") 0-800-50-33-40
          a.header__phone(href="tel:+0577387638") 057-738-76-38
          a.btn(href="", data-toggle="modal" data-target="#callback") Зворотній дзвінок
        .header__right.col-lg-3.d-flex.justify-content-end.align-items-start
          form#mse2_form.wrap_search.msearch2(action='[[~[[+pageId]]]]', method='get')
            input.input(type='text', aria-label="search", name='[[+queryVar]]', placeholder="Пошук", value='')
            img.ic__search(src='assets/images/general/ic_search.png', alt='Search')
          .header-lang-box
            .header-lang
              .header-lang-arrow
                .header-lang-current
                  | UA
                .ti-angle-down
              ul.header-lang-list
                li.header-lang-item
                  a.header-lang-item-link(href='#', title='Русский') RU
  .static
    .container
      .d-flex.justify-content-between
        .header__logo
          a.logo(href="/", aria-label="Logo")
            img(src="assets/images/general/logo-m.png", alt="")
        .dropdown
          button#dropdownMenuButton.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            | КАТАЛОГ
          .dropdown-menu(aria-labelledby='dropdownMenuButton')
            a.dropdown-item(href="category.html") Поверхневі насоси
            a.dropdown-item(href='category.html') Свердловинні насоси
            a.dropdown-item(href='category.html') Циркуляційні насоси
            a.dropdown-item(href='category.html') Насос збільшення тиску
            a.dropdown-item(href='category.html') Заглибні насоси
            a.dropdown-item(href='category.html') Дренажні насоси
            a.dropdown-item(href='category.html') Насосні станції
            a.dropdown-item(href='category.html') Весь каталог
        .header__menu
          ul.menu__list.d-flex.align-items-center
            li.menu__item
              a.menu__item--link(href="#") Про компанію
              ul
                li
                  a(href='history.html') Історія компанії      
                li
                  a(href="#") Місія компанії
                li
                  a(href="objects.html") Портфель наших проектів
            li.menu__item
              a.menu__item--link(href="category.html") Продукція
            li.menu__item
              a.menu__item--link(href="#") Інфоцентр
              ul
                li
                  a(href="advertising_catalogs.html") Рекламні каталоги
                li
                  a(href="videos.html") Відеоогляди продукції
                li
                  a(href="#") Новини
                li
                  a(href="blog.html") Блог
            li.menu__item
              a.menu__item--link(href="#") Сервіс
              ul
                li
                  a(href="#") Підбір насоса
                li
                  a(href="manuals.html") Документація
                li
                  a(href="#") Карта сервісних центрів
                li
                  a(href="#") Гарантія
            li.menu__item
              a.menu__item--link(href="#") Контакти
              ul
                li
                  a(href="internet_partners.html") Інтернет-партнери
                li
                  a(href="#") Головний офіс
                li
                  a(href="map.html") Представництва
            li.menu__item
              a.menu__item--link(href="#") Новинки
        .header__rightblock
          form#mse2_form.wrap_search.msearch2(action='[[~[[+pageId]]]]', method='get')
            input.input(type='text', aria-label="search", name='[[+queryVar]]', placeholder="Пошук", value='')
            img.ic__search(src='assets/images/general/ic_search.png', alt='Search')
          a.ic__call(href="", data-toggle="modal" data-target="#callback")
          a.ic__login(href="", data-toggle="modal" data-target="#login")
          .header-lang-box
            .header-lang
              .header-lang-arrow
                .header-lang-current
                  | UA
                .ti-angle-down
              ul.header-lang-list
                li.header-lang-item
                  a.header-lang-item-link(href='#', title='Русский') RU
  .static__search
    .container
      .row
        .col-10.offset-1
          form(action="")
            label.d-flex.justify-content-center
              input(type="text", placeholder="Пошук")
              img.ic__search(src='assets/images/general/ic_search.png', alt='Search')

  .header__top--mobile.d-block.d-sm-none
    .container
      .row
        .col-3
          .logo
            a.logo(href="/", aria-label="Logo")
              img.img-responsive(src="assets/images/general/logo-m.png", alt="")
        .col-6
          .phone.text-center
            a.mobile__phone(href="tel:+0800503340") 0-800-50-33-40
        .col-3
          .header__toggle
            .header__toggle--mobile.d-flex.align-items-end
              span
              span
              span

  .header__bottom--mobile.d-block.d-sm-none
    .container
      .row
        .col-7
          nav.navbar.navbar-icon-top.navbar-expand-lg.navbar-dark
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
              img(src="assets/images/general/menu_h.png", alt="") 
              | КАТАЛОГ ПРОДУКЦІЇ
            #navbarSupportedContent.collapse.navbar-collapse
              ul.navbar-nav.mr-auto
                li.nav-item
                  a.nav-link(href="category.html") Поверхневі насоси
                li.nav-item
                  a.nav-link(href='category.html') Свердловинні насоси
                li.nav-item
                  a.nav-link(href='category.html') Циркуляційні насоси
                li.nav-item
                  a.nav-link(href='category.html') Насос збільшення тиску
                li.nav-item
                  a.nav-link(href='category.html') Заглибні насоси
                li.nav-item
                  a.nav-link(href='category.html') Дренажні насоси
                li.nav-item
                  a.nav-link(href='category.html') Насосні станції
                li.nav-item
                  a.nav-link(href='category.html') Весь каталог

        .col-5
          .header__bottom--box.d-flex.justify-content-end.align-items-center
            a.ic__login.mr-3(href="")
            a.ic__search.mr-2(href="")
            .header-lang-box
              .header-lang
                .header-lang-arrow
                  .ti-angle-down
                  .header-lang-current
                    | UA
                ul.header-lang-list
                  li.header-lang-item
                    a.header-lang-item-link(href='#', title='Русский') RU

  .header__middle
    .container
      .row  
        .col-lg-3
          #jquery-accordion-menu.jquery-accordion-menu
            .jquery-accordion-menu-header КАТАЛОГ ПРОДУКЦІЇ 
            ul
              li
                a(href='category.html') Поверхневі насоси
              li
                a(href='category.html') Свердловинні насоси
              li
                a(href='category.html') Циркуляційні насоси
              li
                a(href='category.html') Насос збільшення тиску
              li
                a(href='category.html') Заглибні насоси
              li
                a(href='category.html') Дренажні насоси
              li
                a(href='category.html') Насосні станції
              li
                a(href='category.html') Весь каталог
        .col-lg-7.d-flex
          ul.menu__list.d-flex.align-items-center
            li.menu__item
              a.menu__item--link(href="#") Про компанію
              ul
                li
                  a(href='history.html') Історія компанії      
                li
                  a(href="#") Місія компанії
                li
                  a(href="objects.html") Портфель наших проектів
            li.menu__item
              a.menu__item--link(href="category.html") Продукція
            li.menu__item
              a.menu__item--link(href="#") Інфоцентр
              ul
                li
                  a(href="advertising_catalogs.html") Рекламні каталоги
                li
                  a(href="videos.html") Відеоогляди продукції
                li
                  a(href="#") Новини
                li
                  a(href="blog.html") Блог
            li.menu__item
              a.menu__item--link(href="#") Сервіс
              ul
                li
                  a(href="#") Підбір насоса
                li
                  a(href="manuals.html") Документація
                li
                  a(href="#") Карта сервісних центрів
                li
                  a(href="#") Гарантія
            li.menu__item
              a.menu__item--link(href="#") Контакти
              ul
                li
                  a(href="internet_partners.html") Інтернет-партнери
                li
                  a(href="#") Головний офіс
                li
                  a(href="map.html") Представництва
            li.menu__item
              a.menu__item--link(href="#") Новинки
        .col-lg-2.d-flex.justify-content-end.align-items-center
          a.btn(href="", data-toggle="modal" data-target="#login") Вхід для партнерів