.header__slider.swiper-container
  .swiper-wrapper
    .header__slider--item.swiper-slide(data-mobile-bg="assets/images/content/slider/varna_tiff.jpg" data-main-bg="assets/images/content/slider/varna_tiff.jpg" style="background-image: url(assets/images/content/slider/varna_tiff.jpg); background-size: cover;")
    .header__slider--item.swiper-slide(data-mobile-bg="assets/images/content/slider/varna_tiff.jpg" data-main-bg="assets/images/content/slider/varna_tiff.jpg" style="background-image: url(assets/images/content/slider/varna_tiff.jpg); background-size: cover;")
    .header__slider--item.swiper-slide(data-mobile-bg="assets/images/content/slider/varna_tiff.jpg" data-main-bg="assets/images/content/slider/varna_tiff.jpg" style="background-image: url(assets/images/content/slider/varna_tiff.jpg); background-size: cover;")
    .header__slider--item.swiper-slide(data-mobile-bg="assets/images/content/slider/varna_tiff.jpg" data-main-bg="assets/images/content/slider/varna_tiff.jpg" style="background-image: url(assets/images/content/slider/varna_tiff.jpg); background-size: cover;")
    .header__slider--item.swiper-slide(data-mobile-bg="assets/images/content/slider/varna_tiff.jpg" data-main-bg="assets/images/content/slider/varna_tiff.jpg" style="background-image: url(assets/images/content/slider/varna_tiff.jpg); background-size: cover;")
    .header__slider--item.swiper-slide(data-mobile-bg="assets/images/content/slider/varna_tiff.jpg" data-main-bg="assets/images/content/slider/varna_tiff.jpg" style="background-image: url(assets/images/content/slider/varna_tiff.jpg); background-size: cover;")
  .swiper-pagination