footer.footer {
  padding: 70px 0 35px;

  .footer__logo {
    margin-bottom: 40px;
    padding-top: 30px;

    img {
      max-width: 190px;
    }
  }

  .footer__copiryte {
    font-size: 14px;
    color: rgb(48, 52, 53);
    line-height: 1.429;
  }

  .footer__info {
    padding-top: 30px;

    &--phone {
      margin-bottom: 30px;

      a {
        display: block;
        color: #595c5d;
        font-size: 15px;
        line-height: 1.333;

        &:hover {
          opacity: .8;
          text-decoration: underline;
          transition: 0.5s all ease;
        }
      }
    }

    &--address {
      margin-bottom: 30px;

      address {
        display: block;
        color: #595c5d;
        font-size: 15px;
        line-height: 1.333;
        margin-bottom: 0;

        a {
          color: #595c5d;
        }
      }
    }
  }

  nav.footer__nav {
    padding-top: 30px;

    ul.list {
      .list__item {
        margin-bottom: 0;

        a {
          color: #005b7f;
          font-size: 15px;
          line-height: 22px;

          &:hover {
            opacity: .8;
            text-decoration: underline;
            transition: 0.5s all ease;
          }
        }
      }
    }
  }

  .list__social {
    padding-top: 50px;

    li {
      text-align: right;

      .ic__youtube,
      .ic__facebook {
        width: 40px;
        height: auto;

        &:hover {
          opacity: .8;
          transition: 0.5s all ease;
        }
      }
    }
  }

  .hr__right {
    position: relative;

    &::after {
      position: absolute;
      content: '';
      height: 100%;
      top: 0;
      left: -25px;
      border-left: 1px solid #747373;
    }
  }
}