// Modal callback
#callback.modal.fade(tabindex='-1' role='dialog' aria-labelledby='revModal' aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-body
        form#callbackForm(action="")
          .row
            .col-12
              h5.modal-title Заказати зворотній дзвінок
          .row
            .col-12
              .form-group
                label(for="department") Виберіть відділ
                  select.form-control#department(name="department")
                    option(selected) Загальні питання  
                    option(value="1") 1
                    option(value="2") 2
                    option(value="3") 3
                    option(value="4") 4
              .form-group
                label(for="name" aria-label="Ім’я") Ім’я
                  input.form-control(type='text' name="name")
              .form-group
                label(for="phone" aria-label="Телефон") Телефон
                  input.form-control(type='tel' name="phone")
              .form-group
                label Повідомлення
                textarea#review.form-control(name="review", cols="30", rows="4")
              .dop__info
                .captcha Я не робот
                .policy
                  a(href="") Політика конфіденційності
              .d-flex.justify-content-center
                button(type="submit") Відправити

// Modal login
#login.modal.fade(tabindex='-1' role='dialog' aria-labelledby='revModal' aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-body
        form#loginForm(action="")
          .row
            .col-12
              h5.modal-title Вхід в особистий кабінет
          .row
            .col-12
              .form-group
                label(for="email" aria-label="Email") E-mail або телефон
                  input.form-control(type='text' name="email")
              .form-group
                label(for="phone" aria-label="Пароль") Пароль
                  input.form-control(type='password' name="password")
              .check__block.d-flex.justify-content-between.align-items-center
                .custom-control.custom-checkbox
                  input#remember.custom-control-input(type='checkbox' checked)
                  label.custom-control-label(for='remember') Запам’ятати мене
                a.forgot(href="", data-toggle="modal", data-dismiss="modal", data-target="#recovery") Забули пароль?
              .dop__info
                .policy
                  a(href="") Політика конфіденційності
              .d-flex.justify-content-between
                button(type="submit") Увійти
                button.cancel(type="submit") Відмінити
              .login_social_networks.text-center
                .head-wrap
                  .sub__headline або
                .headline Увійти за допомогою соціальних мереж
                .login_btn.d-flex.justify-content-center
                  a.login__facebook(href="")
                  a.login__gplus(href="")

// Modal recovery password
#recovery.modal.fade(tabindex='-1' role='dialog' aria-labelledby='revModal' aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-body
        form#recoveryForm(action="")
          .row
            .col-12
              h5.modal-title Відновлення паролю
          .row
            .col-12
              .form-group
                label(for="email" aria-label="Email") E-mail або телефон
                  input.form-control(type='text' name="email")
              .d-flex.justify-content-center.mt-3
                button(type="submit") Відправити пароль

// Modal recovery password
#thanks.modal.fade(tabindex='-1' role='dialog' aria-labelledby='revModal' aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-body
        .row
          .col-12
            h5.modal-title.text-center Дякуємо за заявку!
        .row
          .col-12
            .thanks--content.text-center Ми передзвонемо Вам протягом <br>
              b 30 хвилин
              |, а поки що можа <br>
              | подивитись новинки в 
              a(href="") каталозі            
            