header.header {

  .header__top {
    padding: 12px 0;
    background-color: #e7e7e7;

    .sticky {
      display: none !important;
    }

    .header__logo {
      img {
        max-width: 150px;
      }
    }

    .header__center {
      padding-left: 90px;

      .header__phone {
        margin-right: 30px;
        font-size: 15px;
        color: #616161;
        line-height: 1.2;
      }

      .btn {
        color: #616161;

        &:hover {
          color: white;
        }
      }
    }

    .header__right {

      .header-lang-box,
      .header-burger-box {
        display: inline-block;
      }

      .header-search-box {
        display: inline-block;
        margin-right: 40px;
        position: relative;
        top: -5px;
      }
    }
  }

  ul.menu__list {
    position: relative;
    z-index: 2;

    .menu__item {
      &:not(last-child) {
        margin-right: 20px;
      }

      .menu__item--link {
        font-size: 16px;
        color: white;

        &:hover {
          text-decoration: underline;
        }

        &.active {
          color: #e62121;
        }
      }
    }
  }

  .wrap_search {
    position: relative;
    line-height: 30px;
    height: 30px;
    padding-right: 30px;
    width: 220px;

    .input {
      border: 0;
      background: transparent;
      width: 0;
      outline: none;
      font-family: sans-serif;
      font-size: 14px;
      color: #303435;
      transition: all 0.3s ease;
      position: relative;

      &.active {
        width: 98%;
        padding-left: 5px;
        transition: width 0.5s ease;
        border-bottom: 1px solid #303435;
      }
    }

    img {
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
    }

    &.active {
      padding-left: 25px;
      transition: all 0.5s ease;
    }
  }

  .header__middle ul.menu__list>li,
  .sticky-menu ul.menu__list>li {
    display: inline-block;
    // position: relative;
    z-index: 100;
    padding: 12px 0;
  }

  .header__middle ul.menu__list>li>ul,
  .sticky-menu ul.menu__list>li>ul {
    position: absolute;
    left: 0;
    top: 48px;
    padding: 0 1000em;
    margin: 0 -1000em;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    background-color: #005b7f;
    height: 48px;
    display: flex;
    align-items: center;
    transition: 0.5s linear;
  }

  .header__middle ul.menu__list>li:hover>ul,
  .sticky-menu ul.menu__list>li:hover>ul {
    visibility: visible;
    opacity: 1;
    display: flex;
  }

  .header__middle ul.menu__list>li>ul>li,
  .sticky-menu ul.menu__list>li>ul>li {
    padding: 3px 0;
    white-space: nowrap;

    &:not(last-child) {
      margin-right: 40px;
    }

    a {
      font-size: 16px;
      color: white !important;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .static {
    position: relative;
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  }

  .static__search {
    position: relative;
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: visibility 0s linear 0.5s, opacity 0.5s linear;

    form {
      display: flex;
      margin: 0 auto;

      label {
        position: relative;
        width: 100%;
        margin-right: 15px;
        margin-bottom: 0;
        display: block;
        height: 30px;

        input {
          border: 0;
          border-bottom: 1px solid #303435;
          background: transparent;
          outline: none;
          font-family: sans-serif;
          font-size: 14px;
          color: #303435;
          transition: all 0.3s ease;
          position: relative;
          padding: 9px 28px 10px;
          width: 100%;
        }
      }
    }

    &.active {
      position: fixed;
      top: 51px;
      padding: 12px 0;
      width: 100%;
      z-index: 10;
      visibility: visible;
      opacity: 1;
      transition-delay: 0s;
      height: auto;
      background-color: #e7e7e7;
      box-shadow: 0 2px 10px 1px rgba(8, 35, 57, 0.26);
    }
  }

  .header-lang-box {
    margin-top: 5px;
    margin-left: 35px;
    width: 40px;
    background-color: #e7e7e7;
  }

  .header-lang {
    position: relative;
    width: 50px;
    cursor: pointer;
    border: 1px solid transparent;
    padding-right: 6px;
    padding-left: 6px;
    font-size: 20px;
    background-color: #e7e7e7;
    z-index: 10;

    &:hover {
      border-left: 1px solid white;
      border-right: 1px solid white;
      border-top: 1px solid white;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;

      .header-lang-arrow .ti-angle-down::before {
        transform: rotate(180deg);
      }

      .header-lang-list {
        height: auto;
        opacity: 1;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
  }

  .header-lang-arrow>* {
    display: inline-block;
    transition: .15s;
    color: #7d7d7d;
  }

  .header-lang-arrow {
    .ti-angle-down {
      position: relative;

      &::before {
        position: absolute;
        content: '';
        background-image: url(../images/general/lang_arrow.png);
        background-repeat: no-repeat;
        display: block;
        width: 9px;
        height: 5px;
        right: -10px;
        top: -10px;
      }
    }
  }

  .header-lang-list {
    position: absolute;
    margin: 0;
    left: -1px;
    padding: 0;
    width: 50px;
    list-style: none;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    opacity: 0;
    overflow: hidden;
    height: 0;
    transition: .25s;
    background-color: #e7e7e7;

    .header-lang-item {
      padding-right: 6px;
      padding-left: 6px;
      text-align: center;

      &:hover {
        background: white;

        .header-lang-item-link {
          color: #005b7f;
          transition: color 0.5s ease;
        }
      }

      &-link {
        color: #7d7d7d;
        text-transform: uppercase;
      }
    }
  }

  .header__middle {
    background-color: #005b7f;
    position: relative;
    z-index: 5;

    ul.menu__list {
      padding-left: 75px;
    }

    .btn {
      background-color: $white;
      color: #005b7f;
      border: 1px solid $white;
      height: 27px;

      &:hover {
        background-color: #005b7f;
        color: $white;
        border: 1px solid $white;
      }
    }
  }

  .header__bottom {
    background-color: rgba(64, 128, 153, 0.8);
    height: 51px;
    padding: 12px 0;
    position: relative;
    z-index: 2;

    ul.menu__list {
      li.menu__item {
        &:not(last-child) {
          margin-right: 40px;
        }
      }
    }
  }

  .header__slider {
    position: relative;
    z-index: 1;

    &--item {
      background-position: center center;
      height: 410px;
    }
  }

  .header__toggle {
    position: absolute;
    top: 8px;
    right: 10px;

    .header__toggle--mobile {
      flex-direction: column;
      cursor: pointer;

      span {
        display: block;
        width: 32px;
        height: 3px;
        margin-bottom: 8px;
        position: relative;
        background: #7d7d7d;
        border-radius: 10px;
        z-index: 1;
        transform-origin: 4px 0;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
          background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
          opacity 0.55s ease;

        &:first-child {
          transform-origin: 0% 0%;
        }

        &:nth-last-child(2) {
          transform-origin: 0% 100%;
          width: 24px;
        }
      }
    }
  }

  .header__top--mobile {
    padding: 10px 0;
    background-color: #e7e7e7;
    border-bottom: 1px solid rgba(97, 97, 97, 0.50);

    .phone {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        font-size: 20px;
        color: #616161;
        line-height: 1.2;
        display: block;
        padding-top: 10px;
      }
    }
  }

  .header__bottom--mobile {
    padding: 6px 0 5px;
    background-color: #e7e7e7;

    // .header__bottom--box {
    //   position: relative;
    //   top: 0;
    // }

    .header-lang {
      width: 45px;
      padding-left: 0;
    }

    .header-lang-list {
      width: 45px;
    }

    .header-lang-box {
      margin-top: 0;
      margin-left: 0;

      .header-lang {
        top: 2px;
      }

      .header-lang-arrow .ti-angle-down::before {
        right: -40px;
      }
    }
  }

  .sticky-menu {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
    height: auto;
    padding: 0 15px;
    background-color: #e7e7e7;
    box-shadow: 0 2px 10px 1px rgba(8, 35, 57, 0.26);

    .no-sticky {
      display: none !important;
    }

    .header__logo {
      display: flex;
      align-items: center;

      a {
        display: block;
      }
    }

    .dropdown {
      margin: auto 0;
    }

    .header__menu {
      display: flex;
      justify-content: center;
      align-items: center;

      ul li a {
        color: #747474 !important;
      }
    }

    .sticky-menu ul.menu__list>li>ul {
      top: 51px;
    }

    .header__rightblock {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .wrap_search {
        margin-right: 0;

        img {
          top: 6px;
        }
      }

      .header-lang-box {
        width: auto;
        margin-left: 0;
      }

      .ic__call,
      .ic__login {
        height: 24px;
        width: 24px;
        margin-right: 10px;
      }

      .ic__login {
        margin-right: 5px;
      }
    }
  }


  .sticky-middle {
    position: fixed !important;
    top: 65px;
    width: 100%;
    z-index: 10;
    background-color: transparent;
    display: block;
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
    height: auto;
  }

  button#dropdownMenuButton {
    // width: 258px;
    position: relative;
    box-shadow: 0 2px 10px 1px rgba(8, 35, 57, 0.26);
    z-index: 3;
    height: 35px;
    border: 0;
    color: white;
    border: 1px solid #005b7f;
    border-radius: 10px;
    font-size: 16px;
    font-family: "HelveticaNeueCyr-Bold", sans-serif;
    text-transform: uppercase;
    background-color: #005b7f;
    padding-left: 40px;
    padding-right: 40px;
    // padding-right: 30px;

    &:focus {
      outline: 0;
      box-shadow: none;
    }

    &::after {
      display: none;
    }

    // &::after {
    //   position: absolute;
    //   content: '';
    //   background-image: url(../images/general/pump.svg);
    //   background-repeat: no-repeat;
    //   background-size: cover;
    //   border: 0;
    //   display: block;
    //   padding-right: 15px;
    //   width: 24px;
    //   height: 17px;
    //   right: 17px;
    //   top: 10px;
    //   z-index: 3;
    //   fill: white;
    // }
  }

  .dropdown-menu.show {
    width: 258px;
    padding: 0;
    margin-top: 0;

    a.dropdown-item {
      border-bottom: solid 1px #005b7f;
      font-family: "HelveticaNeueCyr-Light", sans-serif;
      width: 100%;
      padding: 12px 17px 11px;
      text-decoration: none;
      color: #7d7d7d;
      background-color: white;
      font-size: 16px;
      font-weight: 400;
      white-space: nowrap;
      transition: color .2s linear, background .2s linear;
      position: relative;

      &:hover {
        background: #f1f1f1;
        box-shadow: 0px 2px 9.7px 0.3px rgba(8, 35, 57, 0.26);
      }

      &:before {
        position: absolute;
        content: '';
        background-image: url(../images/general/menu_arrow.png);
        width: 8px;
        height: 12px;
        right: 17px;
        z-index: 3;
        top: 19px;
      }
    }
  }

  .navbar {
    justify-content: flex-start;
    padding: 0;
  }


  .navbar-toggler {
    border: 0;
    padding: 0;
    margin-right: 10px;
    color: #7d7d7d;
    font-size: 14px;
    font-family: "HelveticaNeueCyr-Bold", sans-serif;
    cursor: pointer;
    margin-top: 7px;

    &:focus {
      outline: 0;
      box-shadow: none;
    }

    img {
      margin-top: -3px;
      padding-right: 5px;
    }
  }

  .navbar-dark {
    .navbar-brand {
      color: #7d7d7d;
      font-size: 14px;
      font-family: "HelveticaNeueCyr-Bold", sans-serif;
    }

    .nav-link {
      color: #616161;
      font-family: "HelveticaNeueCyr-Light", sans-serif;
    }
  }

}

.menu {
  background-color: white;
  position: fixed;
  height: 100vh;
  left: 100%;
  opacity: 1;
  width: 100vw;
  padding: 30px 20px;
  transition: .3s;
  z-index: 11;
  display: flex;
  flex-direction: column;

  &.active {
    left: 0;
    overflow: auto;
  }

  .menu__button {
    position: relative;
    right: 0;

    .header-close {
      cursor: pointer;
      position: absolute;
      right: 0;

      span {
        display: block;
        width: 40px;
        height: 3px;
        margin-bottom: 5px;
        position: relative;
        background: #616161;
        border-radius: 2px;
        z-index: 1;
        transform-origin: 4px 0;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
          background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
          opacity 0.55s ease;
        transform: rotate(45deg) translate(-2px, -1px);

        &:first-child {
          transform-origin: 0% 0%;
        }

        &:nth-last-child(2) {
          transform-origin: 0% 100%;
          transform: rotate(-45deg) translate(0, -1px);
          top: 31px;
          right: 0;
        }

        &:nth-last-child(3) {
          opacity: 0;
          transform: rotate(0deg) scale(0.2, 0.2);
        }
      }
    }
  }

  &__navs {
    margin-top: 40px;

    .menu__list {
      .nav-item {
        margin-bottom: 20px;

        .nav-link {
          font-size: 20px;
          font-style: normal;
          font-stretch: normal;
          color: #616161;
          line-height: normal;
          letter-spacing: 0.11px;
          width: fit-content;

          &.dropdown-toggle {
            position: relative;
            padding-right: 40px;

            &::before {
              border-bottom: 2px solid #616161;
              ;
              width: 30px;
              display: block;
              content: "";
              position: absolute;
              right: 0;
              top: 50%;
              transition: 0.5s ease all;
            }

            &::after {
              border-bottom: 2px solid #616161;
              ;
              border-left: 2px solid #616161;
              ;
              transform: rotate(225deg);
              content: "";
              position: absolute;
              border-top: 0;
              right: 0;
              top: 50%;
              margin-top: -4px;
              width: 10px;
              height: 10px;
              transition: 0.5s ease all;
            }
          }
        }

        .dropdown-menu {
          background-color: transparent;
          border: 0;
          padding-top: 20px;
          padding-bottom: 0;
          padding-left: 20px;

          .dropdown-item {
            font-size: 20px;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.11px;
            text-align: left;
            height: auto;
            padding-bottom: 35px;

            &:last-child {
              padding-bottom: 0;
            }
          }
        }
      }
    }

    .dropdown-menu {
      padding: 0;

      &.show {
        top: 12px !important;
        text-align: center;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        padding-bottom: 25px;
      }

      .dropdown-item {
        font-size: 16px;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.09px;
        text-align: center;
        color: #616161;
        cursor: pointer;
        height: 45px;
        line-height: 45px;
        padding: 0;

        &:hover {
          opacity: .8;
        }
      }
    }
  }
}

.jquery-accordion-menu,
.jquery-accordion-menu * {
  font-family: "HelveticaNeueCyr-Light", sans-serif;
  box-sizing: border-box;
  outline: 0;
}

.jquery-accordion-menu {
  max-width: 258px;
  float: left;
  position: absolute;
  box-shadow: 0 2px 10px 1px rgba(8, 35, 57, 0.26);
  margin-bottom: -460px;
  z-index: 3;
}

.jquery-accordion-menu .jquery-accordion-menu-footer,
.jquery-accordion-menu .jquery-accordion-menu-header {
  width: 100%;
  height: 48px;
  float: left;
  line-height: 55px;
  color: #7d7d7d;
  font-size: 16px;
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
  text-transform: uppercase;
  background-color: white;
}

.jquery-accordion-menu .jquery-accordion-menu-header {
  border-bottom: solid 1px #005b7f;
  position: relative;
  padding-left: 55px;

  &::after {
    position: absolute;
    content: '';
    background-image: url(../images/general/menu_h.png);
    background-repeat: no-repeat;
    display: block;
    padding-right: 15px;
    width: 24px;
    height: 17px;
    left: 17px;
    z-index: 3;
    top: 17px;
  }
}

.jquery-accordion-menu ul {
  margin: 0;
  padding: 0;
  list-style: none
}

.jquery-accordion-menu ul li {
  width: 100%;
  display: block;
  float: left;
  position: relative;

  &:before {
    position: absolute;
    content: '';
    background-image: url(../images/general/menu_arrow.png);
    width: 8px;
    height: 12px;
    right: 17px;
    z-index: 3;
    top: 19px;
  }
}

.jquery-accordion-menu ul li a {
  width: 100%;
  padding: 12px 17px 11px;
  float: left;
  text-decoration: none;
  color: #7d7d7d;
  background-color: white;
  font-size: 18px;
  font-weight: 400;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  transition: color .2s linear, background .2s linear;

  &:first-child {
    height: 50.5px;
  }
}

.jquery-accordion-menu>ul>li.active>a,
.jquery-accordion-menu>ul>li:hover>a {
  background: #f1f1f1;
  box-shadow: 0px 2px 9.7px 0.3px rgba(8, 35, 57, 0.26);
}

.jquery-accordion-menu>ul>li {
  border-bottom: solid 1px #005b7f;

  &:last-child {
    border-bottom: 0;
  }
}

.jquery-accordion-menu ul li a i {
  width: 34px;
  float: left;
  line-height: 18px;
  font-size: 16px;
  text-align: left;
}

.jquery-accordion-menu .submenu-indicator {
  float: right;
  right: 22px;
  position: absolute;
  line-height: 19px;
  font-size: 20px;
  transition: transform .3s linear;
}

.jquery-accordion-menu ul ul.submenu .submenu-indicator {
  line-height: 16px;
}

.jquery-accordion-menu .submenu-indicator-minus>.submenu-indicator {
  transform: rotate(45deg)
}

.jquery-accordion-menu ul ul.submenu,
.jquery-accordion-menu ul ul.submenu li ul.submenu {
  width: 100%;
  display: none;
  position: static;
}

.jquery-accordion-menu ul ul.submenu li {
  clear: both;
  width: 100%;

  &:hover>a {
    border-left-color: #414956;
  }

  a {
    width: 100%;
    float: left;
    font-size: 11px;
    background: #383838;
    border-top: none;
    position: relative;
    border-left: solid 6px transparent;
    transition: border .2s linear;
  }
}

.jquery-accordion-menu ul ul.submenu li .jquery-accordion-menu ul ul.submenu>li>a {
  padding-left: 30px;
}

.jquery-accordion-menu ul ul.submenu>li>ul.submenu>li>a {
  padding-left: 45px;
}

.jquery-accordion-menu ul ul.submenu>li>ul.submenu>li>ul.submenu>li>a {
  padding-left: 60px;
}

.jquery-accordion-menu ul li .jquery-accordion-menu-label,
.jquery-accordion-menu ul ul.submenu li .jquery-accordion-menu-label {
  min-width: 20px;
  padding: 1px 2px 1px 1px;
  position: absolute;
  right: 18px;
  top: 14px;
  font-size: 11px;
  font-weight: 800;
  color: #555;
  text-align: center;
  line-height: 18px;
  background: #f0f0f0;
  border-radius: 100%;
}

.jquery-accordion-menu ul ul.submenu li .jquery-accordion-menu-label {
  top: 12px;
}

.ink {
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, .3);
  border-radius: 100%;
  transform: scale(0);
}

.animate-ink {
  animation: ripple .5s linear;
}

.header__banner {
  height: 410px;

  &--wrap {
    display: flex;
    flex-direction: column;
    margin-top: 100px;

    .headline {
      font-size: 45px;
      color: white;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.429;
      margin-bottom: 60px;
    }

    .banner__form {
      max-width: 470px;

      .info {
        display: block;
        width: 100%;
        font-size: 15px;
        color: #096184;
        line-height: 1.2;
        width: 220px;
      }

      .header__form {
        margin-bottom: 15px;

        a.btn {
          font-size: 14px;
          color: rgb(255, 255, 255);
          line-height: 1.2;
          margin-bottom: 0;
          width: 160px;
        }
      }

      .body__form {
        label {
          width: 160px;
          margin-right: 10px;

          ::placeholder {
            font-size: 14px;
            font-family: "Myriad Pro";
            color: rgb(255, 255, 255);
          }

          .form-control {
            background-color: transparent;
            border-color: white;
            padding: 18px 15px;
          }
        }

        .btn__form {
          position: relative;
          border: 0;
          background-color: transparent;

          &::before {
            content: '';
            background-image: url(../images/general/right_arrow_button.png);
            background-repeat: no-repeat;
            width: 28px;
            height: 28px;
            display: block;
            position: absolute;
            left: 0;
            top: -18px;
          }
        }
      }
    }
  }
}