section.brands__list {
  .wrapper {
    width: 100%;
  }
}

.brands__list--item {
  width: 20%;
  margin: 0px 15px;
  cursor: pointer;

  &:hover {
    .brand__logo img {
      filter: none;
    }
  }

  &.varna {
    .brand__logo img {
      width: 140px;
    }
  }

  .brand__logo {
    margin-bottom: 25px;
    border-width: 1px;
    border-color: rgb(144, 144, 144);
    border-style: solid;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    &.mt-logo {
      img {
        margin-top: -10px;
      }
    }

    img {
      filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(0) contrast(19%);
      max-width: 160px;
    }

    &:hover {
      border-color: #286b85;
      cursor: pointer;
    }
  }

  .brand__text {
    font-size: 14px;
    color: rgba(48, 52, 53, 0.502);
    line-height: 1;
    margin-bottom: 10px;
  }

  a {
    color: #acadad;
    line-height: 1;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  section.brands__list {

    .wrapper {
      flex-wrap: wrap;
    }

    .brands__list--item {
      margin: 0 10px;
      width: 100%;

      &.varna {
        .brand__logo img {
          width: 100%;
        }
      }

      .brand__logo {
        margin-bottom: 15px;

        img {
          max-height: 60px;
          max-width: 100%;
        }
      }

      .brand__text,
      a {
        display: none;
      }
    }
  }
}