.info__block--item {
  margin-bottom: 30px;
  border-radius: 10px;
  padding: 30px 25px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  min-height: 270px;
  cursor: pointer;

  &::before {
    background: rgba(172, 166, 165, 0.50);
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  &:hover::before {
    background: rgba(172, 166, 165, 0.30);
    transition: 0.5s all ease;
  }

  .detail {
    position: absolute;
    bottom: 30px;

    .title {
      font-size: 20px;
      color: rgb(255, 255, 255);
      font-weight: bold;
      line-height: 1.022;
      margin-bottom: 25px;
    }

    .btn {
      background-color: #ffffff;

      &:hover {
        background-color: #005b7f;
        color: $white;
      }
    }
  }
}

@media (max-width: 768px) {
  .info__block--item {
    margin-bottom: 15px;
    padding: 10px 15px;
    min-height: 170px;

    .detail {
      bottom: 10px;

      .title {
        font-size: 14px;
        margin-bottom: 10px;
      }
    }
  }
}