section.news__list {
  background-color: #e9e9e9;
  padding: 25px 0;

  .news__item--title {
    font-size: 18px;
    color: #005b7f;
    line-height: 1;
    margin-bottom: 30px;

    &:hover {
      text-decoration: underline;
    }
  }

  .news__item--img {
    margin-bottom: 20px;
    position: relative;

    &::before {
      background: rgba(172, 166, 165, 0.50);
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      border-radius: 10px;
    }

    &:hover::before {
      background: rgba(172, 166, 165, 0.30);
      transition: 0.5s all ease;
    }

    img {
      border-radius: 10px;
    }
  }

  .news__item--descr {
    font-size: 14px;
    line-height: 1.2;
  }

  .news__item {
    margin-bottom: 30px;

    .news__item--img {
      margin-bottom: 0;
    }

    &:first-child {
      margin-top: 50px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

}

@media (max-width: 768px) {
  section.news__list {
    padding: 25px 0 50px;
    position: relative;

    .news__item {
      &:first-child {
        margin-top: 10px;
      }

      &--img {
        width: 40%;
        margin-right: 10px;

        &::before {
          display: none;
        }

        img {
          position: absolute;
          margin: auto;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }

      &--info {
        width: 60%;

        .news__item--title {
          font-size: 16px;
          margin-bottom: 15px;
        }
      }
    }

    .nav__swipper {
      position: relative;
      top: -65px;

      .swiper-button-prev,
      .swiper-button-next {
        color: #222;
        cursor: pointer;

        &:focus {
          outline: 0;
        }
      }

      .swiper-button-prev:after,
      .swiper-button-next:after {
        font-family: swiper-icons;
        font-size: 20px;
      }

      .swiper-button-prev {
        left: -35px;
      }

      .swiper-button-next {
        right: -35px;
      }
    }
  }
}