section.seo__texts {
  h2 {
    color: rgb(48, 52, 53);
    font-size: 14px;
    text-transform: uppercase;
    line-height: 20px;
    margin-bottom: 30px;

    b {
      font-family: "MyriadPro-Bold", sans-serif;
    }
  }

  p {
    color: #303435;
    font-size: 14px;
    line-height: 20px;
  }
}