section.socials {
  background-color: #e9e9e9;
  padding-top: 20px;
  padding-bottom: 30px;

  h2.section__title {
    font-family: "OpenSans-Regular", sans-serif;

    span {
      font-family: "OpenSans-Bold", sans-serif;
    }
  }

  .video__block {
    iframe {
      border-radius: 12px;
    }
  }

  .social__item {
    max-width: 285px;

    .ic__youtube,
    .ic__facebook {
      display: block;
      margin-bottom: 30px;
    }

    &--text {
      font-size: 18px;
      color: rgb(48, 52, 53);
      line-height: 1.111;
      margin-bottom: 40px;
    }

    .btn {
      float: right;
      font-size: 15px;
    }
  }
}

@media (max-width: 768px) {
  section.socials {

    .video__block {
      iframe {
        height: 130px;
        border-radius: 7px;
      }
    }

    .ic__youtube,
    .ic__facebook {
      width: 40px;
      height: auto;
    }
  }
}