include ../utils/mixins
block variables

doctype html
html(lang="ru-RU")
  head
    meta(charset="utf-8")
    title #{title}
    <!--[if IE]>
    meta(http-equiv='X-UA-Compatible', content="IE = edge")
    <![endif]-->
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="keywords" content="слова, слово")
    meta(name="description" content="Описание про данный сайт")
    link(rel="stylesheet" type='text/css' href="assets/css/styles.min.css")
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/general/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/general/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/general/favicons/favicon-16x16.png">
    <link rel="manifest" href="assets/images/general/favicons/site.webmanifest">
    <link rel="mask-icon" href="assets/images/general/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="assets/images/general/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="assets/images/general/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
    <script src="https://yastatic.net/share2/share.js"></script>

  body(class=pageClass)
    block content

    include ../modules/footer/footer
    include ../modules/modal/modal
    script(src="assets/js/jquery.min.js")
    script(src="assets/js/popper.min.js")
    script(src="assets/js/libs.min.js")
    script(src="assets/js/main.js")
    block script