.breadcrumb {
  background: #0000;
  padding: 0;
  margin: 20px 0;

  .breadcrumb-item,
  .breadcrumb-item--link {
    font-size: 12px;
    color: #747474;
    line-height: 1;

    &.active {
      color: #005b7f;
    }
  }
}

.category__list {
  .blog_navigation {
    .item {
      margin-right: 25px;

      &:last-child {
        margin-right: 0;
      }

      &__link {
        color: #747474;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.4;
        position: relative;

        &:after {
          content: '';
          position: absolute;
          left: -10px;
          top: 1px;
          background-color: #747474;
          width: 4px;
          height: 14px;
        }

        &:hover {
          color: #005b7f;
          transition: 0.5s all ease;
        }

        &.active {
          color: #005b7f;

          &:after {
            background-color: #005b7f;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .breadcrumb {
    margin: 10px 0 0 0;
  }
}