extends template/main

block variables
  - var title = 'Блог'
  - var pageClass = '404'

block content
  include modules/header/header_404
    
  .wrapper

    .container
      .row
        .col-12
          .button__content
            a(href="#") Переглянуті товари
            a(href="#") Дивитись усі
      .row
        .col-lg-3.col-md-6.col-12
          .good__item
            .good__item--img
              a(href="product.html")
                img.mx-auto.img-responsive(src="assets/images/content/recomend/1.png", alt="")
            .good__item--detail.d-flex.justify-content-between
              .left__block
                .title PKm
                .category Насосы+Оборудование 
                .pre-category насоси вихрові
                .options
                  span Напір: 00 м 
                  span Потужність: 00 кВт
                  span Живлення: 220 V
                  span Гарантія: 12 місяців
              .right__block.d-flex.flex-column
                a.ic_comment(href="", aria-hidden="true")
                  span.label 15
                a.ic_comparison(href="", aria-hidden="true")
                a.ic_see(href="", aria-hidden="true")
        .col-lg-3.col-md-6.col-12
          .good__item
            .good__item--img
              a(href="product.html")
                img.mx-auto.img-responsive(src="assets/images/content/recomend/1.png", alt="")
            .good__item--detail.d-flex.justify-content-between
              .left__block
                .title PKm
                .category Насосы+Оборудование 
                .pre-category насоси вихрові
                .options
                  span Напір: 00 м 
                  span Потужність: 00 кВт
                  span Живлення: 220 V
                  span Гарантія: 12 місяців
              .right__block.d-flex.flex-column
                a.ic_comment(href="", aria-hidden="true")
                  span.label 15
                a.ic_comparison(href="", aria-hidden="true")
                a.ic_see(href="", aria-hidden="true")
        .col-lg-3.col-md-6.col-12
          .good__item
            .good__item--img
              a(href="product.html")
                img.mx-auto.img-responsive(src="assets/images/content/recomend/1.png", alt="")
            .good__item--detail.d-flex.justify-content-between
              .left__block
                .title PKm
                .category Насосы+Оборудование 
                .pre-category насоси вихрові
                .options
                  span Напір: 00 м 
                  span Потужність: 00 кВт
                  span Живлення: 220 V
                  span Гарантія: 12 місяців
              .right__block.d-flex.flex-column
                a.ic_comment(href="", aria-hidden="true")
                  span.label 15
                a.ic_comparison(href="", aria-hidden="true")
                a.ic_see(href="", aria-hidden="true")
        .col-lg-3.col-md-6.col-12
          .good__item
            .good__item--img
              a(href="product.html")
                img.mx-auto.img-responsive(src="assets/images/content/recomend/1.png", alt="")
            .good__item--detail.d-flex.justify-content-between
              .left__block
                .title PKm
                .category Насосы+Оборудование 
                .pre-category насоси вихрові
                .options
                  span Напір: 00 м 
                  span Потужність: 00 кВт
                  span Живлення: 220 V
                  span Гарантія: 12 місяців
              .right__block.d-flex.flex-column
                a.ic_comment(href="", aria-hidden="true")
                  span.label 15
                a.ic_comparison(href="", aria-hidden="true")
                a.ic_see(href="", aria-hidden="true")
                