extends template/main

block variables
  - var title = 'Рекламні каталоги'
  - var pageClass = 'advertising_catalogs'

block content
  include modules/header/header_advertising
      
  .wrapper

    .container
      .row
        .col-lg-12.col-md-12.col-12  
          .nav__wrap
            .breadcrumbs
              nav(aria-label='breadcrumb')
                ol.breadcrumb
                  li.breadcrumb-item
                    a(class='breadcrumb-item--link' href='#') Головна
                  li.breadcrumb-item
                    a(class='breadcrumb-item--link' href='#') Інфоцентр
                  li.breadcrumb-item.active(aria-current='page') Рекламні каталоги
      .row
        .col-12
          .category__list
            nav(aria-label="blog navigation")
              ul.blog_navigation.pl-lg-2.d-flex
                li.item
                  a.item__link.active(href="#") рекламні каталоги
                li.item
                  a.item__link(href="#") Відеоогляди
                li.item
                  a.item__link(href="#") Інструкції

          h1.title Ознайомтесь з нашими рекламними каталогами

      .row
        .col-12.col-md-6.col-lg-6
          .catalog__item
            .catalog__item--img
              img(src="assets/images/content/catalog/1.jpg", alt="")
            .catalog__item--body
              .catalog__item--meta.d-flex.justify-content-between
                .catalog__item--category #рекламні_каталоги
                .catalog__item--date 22.08.2019
              .catalog__item--title Каталог продукції побутового насосного обладнання ТМ "Насоси плюс обладнання" - 2019 рік
              .catalog__item--link
                a(href="") Завантажити каталог в форматі pdf
        .col-12.col-md-6.col-lg-6
          .catalog__item
            .catalog__item--img
              img(src="assets/images/content/catalog/2.jpg", alt="")
            .catalog__item--body
              .catalog__item--meta.d-flex.justify-content-between
                .catalog__item--category #рекламні_каталоги
                .catalog__item--date 22.08.2019
              .catalog__item--title Каталог продукції побутового насосного обладнання ТМ Sput - 2019 рік
              .catalog__item--link
                a(href="") Завантажити каталог в форматі pdf
        .col-12.col-md-6.col-lg-6
          .catalog__item
            .catalog__item--img
              img(src="assets/images/content/catalog/3.jpg", alt="")
            .catalog__item--body
              .catalog__item--meta.d-flex.justify-content-between
                .catalog__item--category #рекламні_каталоги
                .catalog__item--date 22.08.2019
              .catalog__item--title Каталог продукції насосного обладнання ТМ rudes - 2018 року
              .catalog__item--link
                a(href="") Завантажити каталог в форматі pdf
        .col-12.col-md-6.col-lg-6
          .catalog__item
            .catalog__item--img
              img(src="assets/images/content/catalog/4.jpg", alt="")
            .catalog__item--body
              .catalog__item--meta.d-flex.justify-content-between
                .catalog__item--category #рекламні_каталоги
                .catalog__item--date 22.08.2019
              .catalog__item--title Каталог продукції насосного обладнання ТМ rudes - 2018 року
              .catalog__item--link
                a(href="") Завантажити каталог в форматі pdf
        .col-12.col-md-6.col-lg-6
          .catalog__item
            .catalog__item--img
              img(src="assets/images/content/catalog/5.jpg", alt="")
            .catalog__item--body
              .catalog__item--meta.d-flex.justify-content-between
                .catalog__item--category #рекламні_каталоги
                .catalog__item--date 22.08.2019
              .catalog__item--title Каталог рекламної продукції - 2019 рік
              .catalog__item--link
                a(href="") Завантажити каталог в форматі pdf
        .col-12.col-md-6.col-lg-6
          .catalog__item
            .catalog__item--img
              img(src="assets/images/content/catalog/6.jpg", alt="")
            .catalog__item--body
              .catalog__item--meta.d-flex.justify-content-between
                .catalog__item--category #рекламні_каталоги
                .catalog__item--date 22.08.2019
              .catalog__item--title Практичні рекомендації по підбору і монтажу основних видів насосного обладнання
              .catalog__item--link
                a(href="") Завантажити каталог в форматі pdf
        .col-12.col-md-6.col-lg-6
          .catalog__item
            .catalog__item--img
              img(src="assets/images/content/catalog/7.jpg", alt="")
            .catalog__item--body
              .catalog__item--meta.d-flex.justify-content-between
                .catalog__item--category #рекламні_каталоги
                .catalog__item--date 22.08.2019
              .catalog__item--title Реалізовані проекти Компанії ТОВ "ВАРНА" 2015 рік
              .catalog__item--link
                a(href="") Завантажити каталог в форматі pdf
        .col-12.col-md-6.col-lg-6
          .catalog__item
            .catalog__item--img
              img(src="assets/images/content/catalog/8.jpg", alt="")
            .catalog__item--body
              .catalog__item--meta.d-flex.justify-content-between
                .catalog__item--category #рекламні_каталоги
                .catalog__item--date 22.08.2019
              .catalog__item--title Каталог продукції промислового насосного обладнання ТМ VARNA- 2013 року
              .catalog__item--link
                a(href="") Завантажити каталог в форматі pdf 

