extends template/main

block variables
  - var title = 'Блог'
  - var pageClass = 'blog'

block content
  include modules/header/header_2
    
  .wrapper

    .container
      .row
        .col-lg-3.d-none.d-sm-block
        .col-lg-9.col-md-12.col-12  
          include modules/navigation/breadcrumb_blog

          .content
            .row.align-items-stretch
              .col-12.col-md-6.col-lg-4
                .blog__item
                  .blog__item--img
                    img.img-responsive(src="assets/images/content/blog/1.jpg", alt="")
                  .blog__item--title
                    a(href="blog_page.html") Вітання з Днем Конституції Украіїни
                  .blog__item--meta.d-flex.justify-content-between
                    .blog__item--date 28.06.2019
                    .blog__item--category новини компанії 
              .col-12.col-md-6.col-lg-4
                .blog__item
                  .blog__item--img
                    img.img-responsive(src="assets/images/content/blog/2.jpg", alt="")
                  .blog__item--title
                    a(href="blog_page.html") Выставка Aqua-Therm Kyiv 2019
                  .blog__item--meta.d-flex.justify-content-between
                    .blog__item--date 17.05.2019
                    .blog__item--category новини компанії
              .col-12.col-md-6.col-lg-4
                .blog__item
                  .blog__item--img
                    img.img-responsive(src="assets/images/content/blog/3.jpg", alt="")
                    span.label pdf
                  .blog__item--title
                    a(href="blog_page.html") Каталог продукції побутового насосного обладнання ТМ "Насоси плюс обладнання "- 2019 рік
                  .blog__item--meta.d-flex.justify-content-between
                    .blog__item--date 28.06.2019
                    .blog__item--category Рекламні каталоги
              .col-12.col-md-6.col-lg-4
                .blog__item
                  .blog__item--img
                    img.img-responsive(src="assets/images/content/blog/4.jpg", alt="")
                    span.label Video
                  .blog__item--title
                    a(href="blog_page.html") Електронасос погружний GARDEN1000-4Robot з вбудованою автоматикою
                  .blog__item--meta.d-flex.justify-content-between
                    .blog__item--date 28.06.2019
                    .blog__item--category новини компанії 
              .col-12.col-md-6.col-lg-4
                .blog__item
                  .blog__item--img
                    img.img-responsive(src="assets/images/content/blog/2.jpg", alt="")
                  .blog__item--title
                    a(href="blog_page.html") Выставка Aqua-Therm Kyiv 2019
                  .blog__item--meta.d-flex.justify-content-between
                    .blog__item--date 17.05.2019
                    .blog__item--category новини компанії
              .col-12.col-md-6.col-lg-4
                .blog__item
                  .blog__item--img
                    img.img-responsive(src="assets/images/content/blog/3.jpg", alt="")
                    span.label pdf
                  .blog__item--title
                    a(href="blog_page.html") Каталог продукції побутового насосного обладнання ТМ "Насоси плюс обладнання "- 2019 рік
                  .blog__item--meta.d-flex.justify-content-between
                    .blog__item--date 28.06.2019
                    .blog__item--category Рекламні каталоги
              .col-12.col-md-6.col-lg-4
                .blog__item
                  .blog__item--img
                    img.img-responsive(src="assets/images/content/blog/1.jpg", alt="")
                  .blog__item--title
                    a(href="blog_page.html") Вітання з Днем Конституції Украіїни
                  .blog__item--meta.d-flex.justify-content-between
                    .blog__item--date 28.06.2019
                    a.blog__item--category(href="") новини компанії 
              .col-12.col-md-6.col-lg-4
                .blog__item
                  .blog__item--img
                    img.img-responsive(src="assets/images/content/blog/2.jpg", alt="")
                  .blog__item--title
                    a(href="blog_page.html") Выставка Aqua-Therm Kyiv 2019
                  .blog__item--meta.d-flex.justify-content-between
                    .blog__item--date 17.05.2019
                    .blog__item--category новини компанії
              .col-12.col-md-6.col-lg-4
                .blog__item
                  .blog__item--img
                    img.img-responsive(src="assets/images/content/blog/3.jpg", alt="")
                    span.label pdf
                  .blog__item--title
                    a(href="blog_page.html") Каталог продукції побутового насосного обладнання ТМ "Насоси плюс обладнання "- 2019 рік
                  .blog__item--meta.d-flex.justify-content-between
                    .blog__item--date 28.06.2019
                    .blog__item--category Рекламні каталоги
            
          .more_wrap
            a.btn.more.mx-auto(href="") Більше публікацій 
          .mse2_pagination.d-flex.justify-content-center
            ul.pagination
              li.page-item
                a.page-link(href="") 1,
              li.page-item
                a.page-link(href="") 2,
              li.page-item
                a.page-link(href="") 3
              li.page-item
                a.page-link(href="") ...
              li.page-item
                a.page-link(href="") 8
              li.page-item
                a.page-link(href="") >
          
    include modules/small-block/brand_list_2

    

