extends template/main

block variables
  - var title = 'Выставка Aqua-Therm Kyiv 2019 '
  - var pageClass = 'blog_page'

block content
  include modules/header/header_blogpage
    
  .wrapper

    .container
      .row
        .col-lg-12.col-md-12.col-12  
          .nav__wrap
            .breadcrumbs
              nav(aria-label='breadcrumb')
                ol.breadcrumb
                  li.breadcrumb-item
                    a(class='breadcrumb-item--link' href='/') Головна
                  li.breadcrumb-item
                    a(class='breadcrumb-item--link' href='blog.html') Блог 
                  li.breadcrumb-item.active(aria-current='page') Выставка Aqua-Therm Kyiv 2019 

      .row
        .col-12.col-lg-9.col-md-9
          article.article
            .article__header.d-flex.align-items-center.justify-content-between
              h1.title Участие в выставке Aqua-Therm Kyiv 2019
              time(datetime='17.05.2019') 17.05.2019

            .article__body
              p
                b С 
                | 14 по 17 мая компания 
                b «ВАРНА» 
                | приняла участие в 
                a 21-й выставке Aqua-Therm Kyiv 2019 
                | в Международном Выставочном Центре. Это специаvлизированное мероприятие для профессионалов в сфере отопления, вентиляции, кондиционирования, водоснабжения, возобновляемой энергетики, сантехники и бассейнов.
              p На своем стенде компания 
                b «ВАРНА» 
                | представила продукцию таких брендов: «Насосы плюс оборудование», Sprut, ARUNA, rudes и VARNA. Широкий ассортимент охватывает все категории бытового и промышленного насосного оборудования. Немаловажным событием была встреча с нашими партнерами, которые смогли посетить стенд.  

              .article__slider.swiper-container.container
                .swiper-wrapper
                  .header__slider--item.swiper-slide
                    img.img-responsive(src="assets/images/content/slider/varna_tiff.jpg", alt="")
                  .header__slider--item.swiper-slide
                    img.img-responsive(src="assets/images/content/slider/varna_tiff.jpg", alt="")
                  .header__slider--item.swiper-slide
                    img.img-responsive(src="assets/images/content/slider/varna_tiff.jpg", alt="")
                  .header__slider--item.swiper-slide
                    img.img-responsive(src="assets/images/content/slider/varna_tiff.jpg", alt="")
                  .header__slider--item.swiper-slide
                    img.img-responsive(src="assets/images/content/slider/varna_tiff.jpg", alt="")
                .swiper-pagination
            
              p На своем стенде компания 
                b «ВАРНА» 
                | представила продукцию таких брендов: «Насосы плюс оборудование», Sprut, ARUNA, rudes и VARNA. Широкий ассортимент охватывает все категории бытового и промышленного насосного оборудования. Немаловажным событием была встреча с нашими партнерами, которые смогли посетить стенд. 
            
            .article__footer.d-flex.align-items-center.justify-content-center
              .ic__share__block 121

        .col-12.col-lg-3.col-md-3
          aside.primary
            .widget
              .banner
                a(href="")
                  img.img-responsive(src="assets/images/content/banners/banner_1.jpg", alt="Banner")
      
      .row.related
        .col-12
          h2 Схожі статті
        .col-12.col-md-4.col-lg-4
          .related__item
            .related__item--img
              img(src="assets/images/content/related/den_konstitucii.jpg", alt="")
            .related__info
              .meta.d-flex.justify-content-between
                .category #новости
                .date 28.06.2019
                .publish
                  span.ic__publish
                  span Читати: 7 хв. 
              a.title(href="blog_page.html") З прийдешнім Днем Конституції України!
              .text Вітаємо з Днем Незалежності України! Прийміть щирі вітання від ТОВ "ВАРНА" з Днем Незалежності України!
            .related__item--footer.d-flex.justify-content-between
              .ic__like
              .ic__share
        .col-12.col-md-4.col-lg-4
          .related__item
            .related__item--img
              img(src="assets/images/content/related/den_konstitucii.jpg", alt="")
            .related__info
              .meta.d-flex.justify-content-between
                .category #новости
                .date 28.06.2019
                .publish
                  span.ic__publish
                  span Читати: 7 хв. 
              a.title(href="blog_page.html") З прийдешнім Днем Конституції України!
              .text Вітаємо з Днем Незалежності України! Прийміть щирі вітання від ТОВ "ВАРНА" з Днем Незалежності України!
            .related__item--footer.d-flex.justify-content-between
              .ic__like
              .ic__share
        .col-12.col-md-4.col-lg-4
          .related__item
            .related__item--img
              img(src="assets/images/content/related/den_konstitucii.jpg", alt="")
            .related__info
              .meta.d-flex.justify-content-between
                .category #новости
                .date 28.06.2019
                .publish
                  span.ic__publish 
                  span Читати: 7 хв. 
              a.title(href="blog_page.html") З прийдешнім Днем Конституції України!
              .text Вітаємо з Днем Незалежності України! Прийміть щирі вітання від ТОВ "ВАРНА" з Днем Незалежності України!
            .related__item--footer.d-flex.justify-content-between
              .ic__like
              .ic__share


             
          


              


    

