extends template/main

block variables
  - var title = 'Категория'
  - var pageClass = 'category'

block content
  include modules/header/header
    
  .wrapper

    include modules/navigation/breadcrumb

    .content__wrapper
      .container
        .row
          .col-12
            h1 Поверхневі насоси

        .row#mse2_selected_wrapper
          .col-12.col-lg-2.col-md-4
            .filter__total Обрано 
              spa#mse2_total 225 
              | товарів

          .col-12.col-lg-8.col-md-7
            #mse2_selected
              a.mse2_selected_link(href='#', data-id='mse2_msoption|tags_0')
                em Скинути фільтр
                sup x
              a.mse2_selected_link(href='#', data-id='mse2_msoption|tags_0')
                em Поверхневі насоси
                sup x
              a.mse2_selected_link(href='#', data-id='mse2_msoption|tags_0')
                em Насосы плюс оборудование
                sup x

          .col-12.col-lg-2.col-md-1.d-none.d-sm-block
            #mse2_tpl.d-flex.justify-content-end
              a.ic__catmenu--1(href='#', data-tpl='0')
              a.ic__catmenu--2(href='#', data-tpl='1')     

          .col-12.d-block.d-sm-none
            .filter-toggle
              .ic__filter
              span Фільтр   

        .row.filter-mobile-block
          .col-12
            form#mse2_filters(action='', method='post')

              fieldset.filter_box(id='1')
                h4.filter_title ТИП ОБЛАДНАННЯ:
                .filter_box--content(data-simplebar)
                  label(for='mse2_resource|parent_0')
                    input(type='checkbox')
                    span Поверхневі насоси
                  label(for='mse2_resource|parent_1')
                    input(type='checkbox')
                    span Циркуляційні насоси
                  label(for='mse2_resource|parent_2')
                    input(type='checkbox')
                    span Насос збільшення тиску
                  label(for='mse2_resource|parent_0')
                    input(type='checkbox')
                    span Заглибні насоси
                  label(for='mse2_resource|parent_1')
                    input(type='checkbox')
                    span Насосні станції
                  label(for='mse2_resource|parent_2')
                    input(type='checkbox')
                    span Електронасоси для бассейнів та фонтаів
                  label(for='mse2_resource|parent_0')
                    input(type='checkbox')
                    span Гідроакумулятори для систем водопостачання
                  label(for='mse2_resource|parent_1')
                    input(type='checkbox')
                    span Гідроакумулятори для систем водопостачання
                  label(for='mse2_resource|parent_0')
                    input(type='checkbox')
                    span Гідроакумулятори для систем водопостачання
                  label(for='mse2_resource|parent_1')
                    input(type='checkbox')
                    span Гідроакумулятори для систем водопостачання
                  label(for='mse2_resource|parent_0')
                    input(type='checkbox')
                    span Гідроакумулятори для систем водопостачання
                  label(for='mse2_resource|parent_1')
                    input(type='checkbox')
                    span Гідроакумулятори для систем водопостачання

              fieldset.filter_box(id='2')
                h4.filter_title ВИРОБНИК:
                .filter_box--content.uppercase(data-simplebar)
                  label(for='mse2_resource|parent_0')
                    input(type='checkbox')
                    span НАСОСЫ ПЛЮС ОБОРУДОВАНИЕ
                  label(for='mse2_resource|parent_1')
                    input(type='checkbox')
                    span SPRUT
                  label(for='mse2_resource|parent_2')
                    input(type='checkbox')
                    span ARUNA
                  label(for='mse2_resource|parent_0')
                    input(type='checkbox')
                    span RUDES
                  label(for='mse2_resource|parent_1')
                    input(type='checkbox')
                    span VARNA

              fieldset.filter_box(id='3')
                h4.filter_title ЖИВЛЕННЯ:
                .filter_box--content(data-simplebar)
                  label(for='mse2_resource|parent_0')
                    input(type='checkbox')
                    span Акумулятор
                  label(for='mse2_resource|parent_1')
                    input(type='checkbox')
                    span Бензин
                  label(for='mse2_resource|parent_2')
                    input(type='checkbox')
                    span Електромережа
                  label(for='mse2_resource|parent_0')
                    input(type='checkbox')
                    span Дизель
              a.btn.btn--blue(href="") Підібрати насос
              a.btn.btn--blue(href="map.html") Де купити

        .row          
          .col-lg-3.col-12.d-none.d-sm-block
            .filters__wrapper
              form#mse2_filters(action='', method='post')

                fieldset.filter_box(id='1')
                  h4.filter_title ТИП ОБЛАДНАННЯ:
                  .filter_box--content(data-simplebar)
                    label(for='mse2_resource|parent_0')
                      input(type='checkbox')
                      span Поверхневі насоси
                    label(for='mse2_resource|parent_1')
                      input(type='checkbox')
                      span Циркуляційні насоси
                    label(for='mse2_resource|parent_2')
                      input(type='checkbox')
                      span Насос збільшення тиску
                    label(for='mse2_resource|parent_0')
                      input(type='checkbox')
                      span Заглибні насоси
                    label(for='mse2_resource|parent_1')
                      input(type='checkbox')
                      span Насосні станції
                    label(for='mse2_resource|parent_2')
                      input(type='checkbox')
                      span Електронасоси для бассейнів та фонтаів
                    label(for='mse2_resource|parent_0')
                      input(type='checkbox')
                      span Гідроакумулятори для систем водопостачання
                    label(for='mse2_resource|parent_1')
                      input(type='checkbox')
                      span Гідроакумулятори для систем водопостачання
                    label(for='mse2_resource|parent_0')
                      input(type='checkbox')
                      span Гідроакумулятори для систем водопостачання
                    label(for='mse2_resource|parent_1')
                      input(type='checkbox')
                      span Гідроакумулятори для систем водопостачання
                    label(for='mse2_resource|parent_0')
                      input(type='checkbox')
                      span Гідроакумулятори для систем водопостачання
                    label(for='mse2_resource|parent_1')
                      input(type='checkbox')
                      span Гідроакумулятори для систем водопостачання

                fieldset.filter_box(id='2')
                  h4.filter_title ВИРОБНИК:
                  .filter_box--content.uppercase(data-simplebar)
                    label(for='mse2_resource|parent_0')
                      input(type='checkbox')
                      span НАСОСЫ ПЛЮС ОБОРУДОВАНИЕ
                    label(for='mse2_resource|parent_1')
                      input(type='checkbox')
                      span SPRUT
                    label(for='mse2_resource|parent_2')
                      input(type='checkbox')
                      span ARUNA
                    label(for='mse2_resource|parent_0')
                      input(type='checkbox')
                      span RUDES
                    label(for='mse2_resource|parent_1')
                      input(type='checkbox')
                      span VARNA

                fieldset.filter_box(id='3')
                  h4.filter_title ЖИВЛЕННЯ:
                  .filter_box--content(data-simplebar)
                    label(for='mse2_resource|parent_0')
                      input(type='checkbox')
                      span Акумулятор
                    label(for='mse2_resource|parent_1')
                      input(type='checkbox')
                      span Бензин
                    label(for='mse2_resource|parent_2')
                      input(type='checkbox')
                      span Електромережа
                    label(for='mse2_resource|parent_0')
                      input(type='checkbox')
                      span Дизель
                a.btn.btn--blue(href="") Підібрати насос
                a.btn.btn--blue(href="map.html") Де купити

          .col-lg-9.col-12
            .row#mse2_results
              .col-lg-4.col-md-6.col-12
                .good__item
                  .good__item--img
                    a(href="product.html")
                      img.mx-auto.img-responsive(src="assets/images/content/recomend/1.png", alt="")
                  .good__item--detail.d-flex.justify-content-between
                    .left__block
                      .title PKm
                      .category Насосы+Оборудование 
                      .pre-category насоси вихрові
                      .options
                        span Напір: 00 м 
                        span Потужність: 00 кВт
                        span Живлення: 220 V
                        span Гарантія: 12 місяців
                    .right__block.d-flex.flex-column
                      a.ic_comment(href="", aria-hidden="true")
                        span.label 15
                      a.ic_comparison(href="", aria-hidden="true")
                      a.ic_see(href="", aria-hidden="true")
              .col-lg-4.col-md-6.col-12
                .good__item
                  .good__item--img
                    a(href="product.html")
                      img.mx-auto.img-responsive(src="assets/images/content/recomend/2.png", alt="")
                  .good__item--detail.d-flex.justify-content-between
                    .left__block
                      .title 2CPm
                      .category Насосы + Оборудование
                      .pre-category насоси центробіжні
                      .options
                        span Напір: 00 м 
                        span Потужність: 00 кВт
                        span Живлення: 220 V
                        span Гарантія: 12 місяців
                    .right__block.d-flex.flex-column
                      a.ic_comment(href="", aria-hidden="true")
                        span.label 15
                      a.ic_comparison(href="", aria-hidden="true")
                      a.ic_see(href="", aria-hidden="true")
              .col-lg-4.col-md-6.col-12
                .good__item
                  .good__item--img
                    a(href="product.html")
                      img.mx-auto.img-responsive(src="assets/images/content/recomend/3.png", alt="")
                  .good__item--detail.d-flex.justify-content-between
                    .left__block
                      .title Garden-JLUX 2,4
                      .category Насосы+Оборудование 
                      .pre-category електронасоси самовсасучі
                      .options
                        span Напір: 00 м 
                        span Потужність: 00 кВт
                        span Живлення: 220 V
                        span Гарантія: 12 місяців
                    .right__block.d-flex.flex-column
                      a.ic_comment(href="", aria-hidden="true")
                        span.label 15
                      a.ic_comparison(href="", aria-hidden="true")
                      a.ic_see(href="", aria-hidden="true")
              .col-lg-4.col-md-6.col-12
                .good__item
                  .good__item--img
                    a(href="product.html")
                      img.mx-auto.img-responsive(src="assets/images/content/recomend/1.png", alt="")
                  .good__item--detail.d-flex.justify-content-between
                    .left__block
                      .title PKm
                      .category Насосы+Оборудование 
                      .pre-category насоси вихрові
                      .options
                        span Напір: 00 м 
                        span Потужність: 00 кВт
                        span Живлення: 220 V
                        span Гарантія: 12 місяців
                    .right__block.d-flex.flex-column
                      a.ic_comment(href="", aria-hidden="true")
                        span.label 15
                      a.ic_comparison(href="", aria-hidden="true")
                      a.ic_see(href="", aria-hidden="true")
              .col-lg-4.col-md-6.col-12
                .good__item
                  .good__item--img
                    a(href="product.html")
                      img.mx-auto.img-responsive(src="assets/images/content/recomend/2.png", alt="")
                  .good__item--detail.d-flex.justify-content-between
                    .left__block
                      .title 2CPm
                      .category Насосы + Оборудование
                      .pre-category насоси центробіжні
                      .options
                        span Напір: 00 м 
                        span Потужність: 00 кВт
                        span Живлення: 220 V
                        span Гарантія: 12 місяців
                    .right__block.d-flex.flex-column
                      a.ic_comment(href="", aria-hidden="true")
                        span.label 15
                      a.ic_comparison(href="", aria-hidden="true")
                      a.ic_see(href="", aria-hidden="true")
              .col-lg-4.col-md-6.col-12
                .good__item
                  .good__item--img
                    a(href="product.html")
                      img.mx-auto.img-responsive(src="assets/images/content/recomend/3.png", alt="")
                  .good__item--detail.d-flex.justify-content-between
                    .left__block
                      .title Garden-JLUX 2,4
                      .category Насосы+Оборудование 
                      .pre-category електронасоси самовсасучі
                      .options
                        span Напір: 00 м 
                        span Потужність: 00 кВт
                        span Живлення: 220 V
                        span Гарантія: 12 місяців
                    .right__block.d-flex.flex-column
                      a.ic_comment(href="", aria-hidden="true")
                        span.label 15
                      a.ic_comparison(href="", aria-hidden="true")
                      a.ic_see(href="", aria-hidden="true")
              .col-lg-4.col-md-6.col-12
                .good__item
                  .good__item--img
                    a(href="product.html")
                      img.mx-auto.img-responsive(src="assets/images/content/recomend/1.png", alt="")
                  .good__item--detail.d-flex.justify-content-between
                    .left__block
                      .title PKm
                      .category Насосы+Оборудование 
                      .pre-category насоси вихрові
                      .options
                        span Напір: 00 м 
                        span Потужність: 00 кВт
                        span Живлення: 220 V
                        span Гарантія: 12 місяців
                    .right__block.d-flex.flex-column
                      a.ic_comment(href="", aria-hidden="true")
                        span.label 15
                      a.ic_comparison(href="", aria-hidden="true")
                      a.ic_see(href="", aria-hidden="true")
              .col-lg-4.col-md-6.col-12
                .good__item
                  .good__item--img
                    a(href="product.html")
                      img.mx-auto.img-responsive(src="assets/images/content/recomend/2.png", alt="")
                  .good__item--detail.d-flex.justify-content-between
                    .left__block
                      .title 2CPm
                      .category Насосы + Оборудование
                      .pre-category насоси центробіжні
                      .options
                        span Напір: 00 м 
                        span Потужність: 00 кВт
                        span Живлення: 220 V
                        span Гарантія: 12 місяців
                    .right__block.d-flex.flex-column
                      a.ic_comment(href="", aria-hidden="true")
                        span.label 15
                      a.ic_comparison(href="", aria-hidden="true")
                      a.ic_see(href="", aria-hidden="true")
              .col-lg-4.col-md-6.col-12
                .good__item
                  .good__item--img
                    a(href="product.html")
                      img.mx-auto.img-responsive(src="assets/images/content/recomend/3.png", alt="")
                  .good__item--detail.d-flex.justify-content-between
                    .left__block
                      .title Garden-JLUX 2,4
                      .category Насосы+Оборудование 
                      .pre-category електронасоси самовсасучі
                      .options
                        span Напір: 00 м 
                        span Потужність: 00 кВт
                        span Живлення: 220 V
                        span Гарантія: 12 місяців
                    .right__block.d-flex.flex-column
                      a.ic_comment(href="", aria-hidden="true")
                        span.label 15
                      a.ic_comparison(href="", aria-hidden="true")
                      a.ic_see(href="", aria-hidden="true")
              .col-lg-4.col-md-6.col-12
                .good__item
                  .good__item--img
                    a(href="product.html")
                      img.mx-auto.img-responsive(src="assets/images/content/recomend/1.png", alt="")
                  .good__item--detail.d-flex.justify-content-between
                    .left__block
                      .title PKm
                      .category Насосы+Оборудование 
                      .pre-category насоси вихрові
                      .options
                        span Напір: 00 м 
                        span Потужність: 00 кВт
                        span Живлення: 220 V
                        span Гарантія: 12 місяців
                    .right__block.d-flex.flex-column
                      a.ic_comment(href="", aria-hidden="true")
                        span.label 15
                      a.ic_comparison(href="", aria-hidden="true")
                      a.ic_see(href="", aria-hidden="true")
              .col-lg-4.col-md-6.col-12
                .good__item
                  .good__item--img
                    a(href="product.html")
                      img.mx-auto.img-responsive(src="assets/images/content/recomend/2.png", alt="")
                  .good__item--detail.d-flex.justify-content-between
                    .left__block
                      .title 2CPm
                      .category Насосы + Оборудование
                      .pre-category насоси центробіжні
                      .options
                        span Напір: 00 м 
                        span Потужність: 00 кВт
                        span Живлення: 220 V
                        span Гарантія: 12 місяців
                    .right__block.d-flex.flex-column
                      a.ic_comment(href="", aria-hidden="true")
                        span.label 15
                      a.ic_comparison(href="", aria-hidden="true")
                      a.ic_see(href="", aria-hidden="true")
              .col-lg-4.col-md-6.col-12
                .good__item
                  .good__item--img
                    a(href="product.html")
                      img.mx-auto.img-responsive(src="assets/images/content/recomend/3.png", alt="")
                  .good__item--detail.d-flex.justify-content-between
                    .left__block
                      .title Garden-JLUX 2,4
                      .category Насосы+Оборудование 
                      .pre-category електронасоси самовсасучі
                      .options
                        span Напір: 00 м 
                        span Потужність: 00 кВт
                        span Живлення: 220 V
                        span Гарантія: 12 місяців
                    .right__block.d-flex.flex-column
                      a.ic_comment(href="", aria-hidden="true")
                        span.label 15
                      a.ic_comparison(href="", aria-hidden="true")
                      a.ic_see(href="", aria-hidden="true")
            .more_wrap
              a.btn.more.mx-auto(href="") Показати ще 9 товарів 
            .mse2_pagination.d-flex.justify-content-center
              ul.pagination
                li.page-item
                  a.page-link(href="") 1,
                li.page-item
                  a.page-link(href="") 2,
                li.page-item
                  a.page-link(href="") 3
                li.page-item
                  a.page-link(href="") ...
                li.page-item
                  a.page-link(href="") 8
                li.page-item
                  a.page-link(href="") >

    include modules/small-block/brand_list_2

    section.seo__texts
      .container
        .row
          .col-lg-6.col-md-6.col-12
            h2 
              b Компанія ТОВ "ВАРНА" 
              | - виробник насосного обладнання для виконання як побутових так і промислових завдань. 
            p портфелі компанії кілька брендів, які вже багато років мають відмінну репутацію на ринку. Головний офіс підприємства розташований в місті Харків, а представництва зосереджені в усіх найбільших містах України. Каталог насосів містить всю інформацію про виробленої продукції, а також ряд відносяться до неї технічних характеристик. На сторінках офіційного сайту www.waterpump.com.ua приведена корисна інформація про характеристики, конструкції і призначення окремих насосів і насосного обладнання, а також програма підбору. Це дозволить вам правильно і з мінімальним витраченим часом підібрати обладнання для виконання поставлених завдань. Основу асортименту складають насоси різних типів і модифікацій, автоматика для насосного обладнання, гідроакумулятори і розширювальні баки, а також інші прилади для водопостачання та опалення під такими торговими марками:
            p "VARNA". Електронасоси призначені для промислового застосування в системах подачі технічної води і рідких хімічних субстанцій. Залежно від типу насоси можуть використовуватися для водопостачання, а також для примусової циркуляції теплоносіїв кліматичних систем. Багато пристроїв розроблені спеціально для експлуатації в сфері житлово-комунального господарства.
          .col-lg-6.col-md-6.col-12.h-desktop
            p Насосы плюс оборудование". В каталог увійшло обладнання побутового призначення для реалізації широкого кола завдань - заглибні, циркуляційні та поверхневі насоси різноманітних конструкцій, дренажні і дренажно-фекальні насоси, побутові насосні станції, різна автоматика і гідроакумулятори.
            p "SPRUT". Насосне обладнання для організації систем автономного водопостачання житлових будинків і невеликих комунальних об'єктів. Також можуть бути застосовані на виробництвах малого формату. До каталогу увійшли поверхневі, свердловини, циркуляційні, дренажні і дренажно-фекальні насоси, а також спеціалізовані пристрої для виконання завдань опалення, водопостачання та водовідведення.
            p "Rudes". Електронасоси побутового призначення для систем водопостачання, водовідведення та опалення приватних будинків та квартир. Також в асортимент входять гідроакумулятори, насосні станції і автоматика. Основна область застосування - подача води з свердловин і ємностей, осушення різних площ і підвалів після затоплення, постачання об'єктів водою, зрошення земель і т.п.
            p Продукцію представлених торгових марок ви можете купити у офіційних партнерів, представництва яких розосереджені по всій території України.
            p Сервісна підтримка також характеризується розвиненою мережею спеціалізованих центрів, які здійснюють гарантійне і післягарантійне обслуговування техніки.


