extends template/main

block variables
  - var title = 'Історія компанії'
  - var pageClass = 'history'

block content
  include modules/header/header_advertising
      
  .wrapper

    .container
      .row
        .col-lg-12.col-md-12.col-12  
          .nav__wrap
            .breadcrumbs
              nav(aria-label='breadcrumb')
                ol.breadcrumb
                  li.breadcrumb-item
                    a(class='breadcrumb-item--link' href='#') Головна
                  li.breadcrumb-item
                    a(class='breadcrumb-item--link' href='#') Про компанію
                  li.breadcrumb-item.active(aria-current='page') Історія компанії

          h1.title Історія компанії

      .row
        .col-12
          .history__wrap.d-flex.align-items-stretch
            #0.item
              .item__year 1995
              .item__title Дистрибуція  продукції заводів- виробників
            #1.item
              .item__year 2004
              .item__title Міжнародна спеціалізована виставка «АКВАТЕРМ»
            #2.item
              .item__year 2006-2010
              .item__title Найбільша мережа дистрибуції та сервісу в Україні
            #3.item
              .item__year 2012
              .item__title 10-річчя компанії Varna
            #4.item
              .item__year 2003
              .item__title Розширення портфеля  брендів
            #5.item
              .item__year 2005
              .item__title Становлення компанії Varna як компанії - виробника
            #6.item
              .item__year 2011
              .item__title Укладання контракту з китайською компанією CNP
            #7.item
              .item__year 2013-2017
              .item__title Участь у конференціях та міжнародних виставках
      
      .row
        .col-12
          #history__item--content
            #0.text__history(style="display: block;") Портфель продукції включає обладнання заводів-виробників: «ХЕЛЗ» г. Харьков, «Промелектро» г. Харьков, «Електромашина» г. Харьков, «Електромотор» м. Полтава, «Южгідромаш» м. Бердянськ, «Електропобутприлад» г. Киев, «Червоний Металіст» м. Конотоп,«УАПО» г. Уфа, «Електромеханічний завод «Кама» г. Пермь і ін.
            #1.text__history Портфель 2
            #2.text__history Портфель 3
            #3.text__history Портфель 4
            #4.text__history Портфель 5
            #5.text__history Портфель 6
            #6.text__history Портфель 7
            #7.text__history Портфель 8

      .row.related
        .col-12
          h2 Новини
        .col-12.col-md-4.col-lg-4
          .related__item
            .related__item--img
              img(src="assets/images/content/related/den_konstitucii.jpg", alt="")
            .related__info
              .meta.d-flex.justify-content-between
                .category #новости
                .date 28.06.2019
                .publish
                  span.ic__publish
                  span Читати: 7 хв. 
              a.title(href="blog_page.html") З прийдешнім Днем Конституції України!
              .text Вітаємо з Днем Незалежності України! Прийміть щирі вітання від ТОВ "ВАРНА" з Днем Незалежності України!
            .related__item--footer.d-flex.justify-content-between
              .ic__like
              .ic__share
        .col-12.col-md-4.col-lg-4
          .related__item
            .related__item--img
              img(src="assets/images/content/related/den_konstitucii.jpg", alt="")
            .related__info
              .meta.d-flex.justify-content-between
                .category #новости
                .date 28.06.2019
                .publish
                  span.ic__publish
                  span Читати: 7 хв. 
              a.title(href="blog_page.html") З прийдешнім Днем Конституції України!
              .text Вітаємо з Днем Незалежності України! Прийміть щирі вітання від ТОВ "ВАРНА" з Днем Незалежності України!
            .related__item--footer.d-flex.justify-content-between
              .ic__like
              .ic__share
        .col-12.col-md-4.col-lg-4
          .related__item
            .related__item--img
              img(src="assets/images/content/related/den_konstitucii.jpg", alt="")
            .related__info
              .meta.d-flex.justify-content-between
                .category #новости
                .date 28.06.2019
                .publish
                  span.ic__publish 
                  span Читати: 7 хв. 
              a.title(href="blog_page.html") З прийдешнім Днем Конституції України!
              .text Вітаємо з Днем Незалежності України! Прийміть щирі вітання від ТОВ "ВАРНА" з Днем Незалежності України!
            .related__item--footer.d-flex.justify-content-between
              .ic__like
              .ic__share