extends template/main

block variables
  - var title = 'Главная страница'
  - var pageClass = 'index-page'

block content
  include modules/header/header
    
  .wrapper
    section.brands__list
      .container
        .row
          .col-lg-3
          .col-lg-9.col-12
            h2.section__title 
              span бренди 
              | насосного обладнання та комплектуючих:
        .row
          .wrapper.d-flex.justify-content-lg-between
            .brands__list--item
              .brand__logo
                img.img-responsive(src="assets/images/general/brands/nasosi.svg", alt="«Насоси плюс обладнання")
              .brand__text Торгова марка «Насоси плюс обладнання» охоплює весь спектр побутового електро обладнання. Щорічно, асортиментний портфель торгової марки поповнюється новою технічно вдосконаленої продукцією, що відповідає останнім тенденціям розвитку ринку. 
              a(href="") Детальніше...
            .brands__list--item
              .brand__logo
                img.img-responsive(src="assets/images/general/brands/sprut.svg", alt="Sprut")
              .brand__text Широкий асортимент торгової марки Sprut дозволяє задовольнити більшість вимог до конфігурації обладнання. Надійність всієї продукції ТМ Sprut досягається за рахунок застосування матеріалів, що забезпечують необхідний запас міцності, і контролю робіт на виробництві.
            .brands__list--item
              .brand__logo
                img.img-responsive(src="assets/images/general/brands/aruna.svg", alt="Aruna")
              .brand__text Продукція торгової марки ARUNA пропонує використання сучасних технологій в повсякденному житті. Зниження споживання електроенергії, підвищення комфортності життя, оптимальне співвідношення ціни і якості - основні критерії якості обладнання ТМ ARUNA.
            .brands__list--item
              .brand__logo.mt-logo
                img.img-responsive(src="assets/images/general/brands/rudes.png", alt="Rudes")
              .brand__text Під торговою маркою rudes випускаються багатоцільові електронасоси для виконання побутових завдань з перекачування рідин з різними характеристиками. Насосний ряд компанії містить найнеобхідніші позиції насосного обладнання для побутових систем водопостачання та водовідведення.
            .brands__list--item.varna
              .brand__logo
                img.img-responsive(src="assets/images/general/brands/varna.svg", alt="Varna")
              .brand__text VARNA - це лінія обладнання, яке широко використовується в сфері житлово-комунального господарства і промислових підприємств. Устаткування торгової марки VARNA має високий рівень експлуатаційної надійності, забезпечується проектної підтримкою, гарантійним та сервісним обслуговуванням, проходить сертифікацію і відповідає останнім європейським вимогам, що пред'являються до якості і безпеки продукції, що випускається.

    section.socials
      .container
        .row
          .col-lg-3.col-12
          .col-12.col-lg-9
            h2.section__title 
              | VARNA 
              span у соціальних мережах
        .row
          .col-lg-5.col-9
            .video__block
              <iframe width="100%" height="220" title="youtube Varna" src="https://www.youtube.com/embed/IC5WGCWlu1k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          .col-lg-4.col-12.d-none.d-sm-block
            .social__item
              a.ic__youtube(href="#", aria-hidden="true")
              .social__item--text Огляд новинок насосного обладнання, важливі події та інша корисна інформація на нашому каналі Youtube 
              a.btn(href="") Підписатися
          .col-lg-3.col-12.d-none.d-sm-block
            .social__item
              a.ic__facebook(href="#", aria-hidden="true")
              .social__item--text Актуальні новини, останні події з життя компанії, анонси нових надходжень обладнання на нашій сторінці Facebook 
              a.btn(href="") Підписатися
          .col-3.d-block.d-sm-none
            .social__item
              a.ic__youtube(href="#", aria-hidden="true")
            .social__item
              a.ic__facebook(href="#", aria-hidden="true")

    section.info__block
      .container
        .row
          .col-lg-3
          .col-lg-9.col-12
            h2.section__title 
              span кориснА 
              | Інформація
        .row
          .col-6.col-md-6.col-lg-3
            .info__block--item(style="background-image:url(assets/images/general/info/1.png)")
              .overlay
              .detail
                h4.title Підбір насосного обладнання
                a.btn(href="") Детальніше
          .col-6.col-md-6.col-lg-3
            .info__block--item(style="background-image:url(assets/images/general/info/2.png)")
              .overlay
              .detail
                h4.title Інтернет партнери компанії
                a.btn(href="") Детальніше
          .col-6.col-md-6.col-lg-3
            .info__block--item(style="background-image:url(assets/images/general/info/3.png)")
              .overlay
              .detail
                h4.title Документація насосного обладнання
                a.btn(href="") Детальніше
          .col-6.col-md-6.col-lg-3
            .info__block--item(style="background-image:url(assets/images/general/info/4.png)")
              .overlay
              .detail
                h4.title Портфель наших проектів
                a.btn(href="") Детальніше

    section.news__list
      .container
        .row
          .col-lg-3
          .col-lg-9.col-12
            h2.section__title 
              span Останні новини 
              | компанії VARNA
        .row.h-desktop
          .col-lg-5.offset-lg-1.col-6
            .news__item--first
              a(href="")
                h2.news__item--title Вітання з Днем Конституції Украіїни
              a(href="")
                .news__item--img
                  img.rounded.img-responsive(src="assets/images/content/news/1.jpg", alt="")
              .news__item--descr З 14 по 17 травня компанія «ВАРНА» взяла участь в 21-й виставці Aqua-Therm Kyiv 2019 Міжнародному Виставковому Центрі. Це спеціалізований захід для ...
          .col-lg-5.offset-lg-1.col-6
            .news__item.d-flex
              a(href="").news__item--img.mr-lg-3
                img.rounded.img-responsive(src="assets/images/content/news/2.jpg", alt="")
              a(href="")
                h2.news__item--title Регіональний форум 2019
            .news__item.d-flex
              a(href="").news__item--img.mr-lg-3
                img.rounded.img-responsive(src="assets/images/content/news/3.jpg", alt="")
              a(href="")
                h2.news__item--title Міжнародний форум у Яремче
            .news__item--all.d-flex.justify-content-end
              a.btn(href="") Усі новини
        .row.d-sm-none
          .col-10.offset-1
            .news__slider.swiper-container.container
              .swiper-wrapper
                .news__slider--item.swiper-slide
                  .news__item.d-flex
                    .news__item--img
                      img.rounded.img-responsive(src="assets/images/content/news/3.jpg", alt="")
                    .news__item--info
                      h2.news__item--title Вітання з Днем Конституції Украіїни
                      .news__item--descr З 14 по 17 травня компанія «ВАРНА» взяла участь в 21-й виставці Aqua-Therm Kyiv 2019 Міжнародному Виставковому Центрі. Це спеціалізований захід для ...
                .news__slider--item.swiper-slide
                  .news__item.d-flex
                    .news__item--img
                      img.rounded.img-responsive(src="assets/images/content/news/3.jpg", alt="")
                    .news__item--info
                      h2.news__item--title Вітання з Днем Конституції Украіїни
                      .news__item--descr З 14 по 17 травня компанія «ВАРНА» взяла участь в 21-й виставці Aqua-Therm Kyiv 2019 Міжнародному Виставковому Центрі. Це спеціалізований захід для ...
                .news__slider--item.swiper-slide
                  .news__item.d-flex
                    .news__item--img
                      img.rounded.img-responsive(src="assets/images/content/news/3.jpg", alt="")
                    .news__item--info
                      h2.news__item--title Вітання з Днем Конституції Украіїни
                      .news__item--descr З 14 по 17 травня компанія «ВАРНА» взяла участь в 21-й виставці Aqua-Therm Kyiv 2019 Міжнародному Виставковому Центрі. Це спеціалізований захід для ...
            .nav__swipper
              .swiper-button-next
              .swiper-button-prev

    section.seo__texts
      .container
        .row
          .col-lg-6.col-md-6.col-12
            h2 
              b Компанія ТОВ "ВАРНА" 
              | - виробник насосного обладнання для виконання як побутових так і промислових завдань. 
            p портфелі компанії кілька брендів, які вже багато років мають відмінну репутацію на ринку. Головний офіс підприємства розташований в місті Харків, а представництва зосереджені в усіх найбільших містах України. Каталог насосів містить всю інформацію про виробленої продукції, а також ряд відносяться до неї технічних характеристик. На сторінках офіційного сайту www.waterpump.com.ua приведена корисна інформація про характеристики, конструкції і призначення окремих насосів і насосного обладнання, а також програма підбору. Це дозволить вам правильно і з мінімальним витраченим часом підібрати обладнання для виконання поставлених завдань. Основу асортименту складають насоси різних типів і модифікацій, автоматика для насосного обладнання, гідроакумулятори і розширювальні баки, а також інші прилади для водопостачання та опалення під такими торговими марками:
            p "VARNA". Електронасоси призначені для промислового застосування в системах подачі технічної води і рідких хімічних субстанцій. Залежно від типу насоси можуть використовуватися для водопостачання, а також для примусової циркуляції теплоносіїв кліматичних систем. Багато пристроїв розроблені спеціально для експлуатації в сфері житлово-комунального господарства.
          .col-lg-6.col-md-6.col-12.h-desktop
            p Насосы плюс оборудование". В каталог увійшло обладнання побутового призначення для реалізації широкого кола завдань - заглибні, циркуляційні та поверхневі насоси різноманітних конструкцій, дренажні і дренажно-фекальні насоси, побутові насосні станції, різна автоматика і гідроакумулятори.
            p "SPRUT". Насосне обладнання для організації систем автономного водопостачання житлових будинків і невеликих комунальних об'єктів. Також можуть бути застосовані на виробництвах малого формату. До каталогу увійшли поверхневі, свердловини, циркуляційні, дренажні і дренажно-фекальні насоси, а також спеціалізовані пристрої для виконання завдань опалення, водопостачання та водовідведення.
            p "Rudes". Електронасоси побутового призначення для систем водопостачання, водовідведення та опалення приватних будинків та квартир. Також в асортимент входять гідроакумулятори, насосні станції і автоматика. Основна область застосування - подача води з свердловин і ємностей, осушення різних площ і підвалів після затоплення, постачання об'єктів водою, зрошення земель і т.п.
            p Продукцію представлених торгових марок ви можете купити у офіційних партнерів, представництва яких розосереджені по всій території України.
            p Сервісна підтримка також характеризується розвиненою мережею спеціалізованих центрів, які здійснюють гарантійне і післягарантійне обслуговування техніки.
