extends template/main

block variables
  - var title = 'Інтернет-партнери'
  - var pageClass = 'partners'

block content
  include modules/header/header_advertising
      
  .wrapper

    .container
      .row
        .col-lg-12.col-md-12.col-12  
          .nav__wrap
            .breadcrumbs
              nav(aria-label='breadcrumb')
                ol.breadcrumb
                  li.breadcrumb-item
                    a(class='breadcrumb-item--link' href='#') Головна
                  li.breadcrumb-item
                    a(class='breadcrumb-item--link' href='#') Контакти
                  li.breadcrumb-item.active(aria-current='page') Інтернет-партнери
          h1.title Придбати продукцію можна в фірмових інтернет-магазинах

      .row.partners__wrap
        .col-12.col-md-6.col-lg-3
          a.partner__item(href="")
            .partner__item--img
              img.mx-auto(src="assets/images/content/partners/220Volt.png", alt="")
            .partner__item--body.text-center
              .partner__item--name 220Volt
              .partner__item--location м. Київ
        .col-12.col-md-6.col-lg-3
          a.partner__item(href="")
            .partner__item--img
              img.mx-auto(src="assets/images/content/partners/abo.png", alt="")
            .partner__item--body.text-center
              .partner__item--name Abo
              .partner__item--location м. Київ
        .col-12.col-md-6.col-lg-3
          a.partner__item(href="")
            .partner__item--img
              img.mx-auto(src="assets/images/content/partners/Aldentrade.png", alt="")
            .partner__item--body.text-center
              .partner__item--name Aldentrade
              .partner__item--location м. Київ
        .col-12.col-md-6.col-lg-3
          a.partner__item(href="")
            .partner__item--img
              img.mx-auto(src="assets/images/content/partners/aquavital.png", alt="")
            .partner__item--body.text-center
              .partner__item--name Аквавитал
              .partner__item--location м. Київ
        .col-12.col-md-6.col-lg-3
          a.partner__item(href="")
            .partner__item--img
              img.mx-auto(src="assets/images/content/partners/BT-Servise.png", alt="")
            .partner__item--body.text-center
              .partner__item--name БТ-Сервис
              .partner__item--location м. Київ
        .col-12.col-md-6.col-lg-3
          a.partner__item(href="")
            .partner__item--img
              img.mx-auto(src="assets/images/content/partners/UA-Instrument.png", alt="")
            .partner__item--body.text-center
              .partner__item--name UA-Instrument
              .partner__item--location м. Кременчуг
        .col-12.col-md-6.col-lg-3
          a.partner__item(href="")
            .partner__item--img
              img.mx-auto(src="assets/images/content/partners/fua.png", alt="")
            .partner__item--body.text-center
              .partner__item--name F.UA
              .partner__item--location м. Київ
        .col-12.col-md-6.col-lg-3
          a.partner__item(href="")
            .partner__item--img
              img.mx-auto(src="assets/images/content/partners/Hitet.png", alt="")
            .partner__item--body.text-center
              .partner__item--name Hitet
              .partner__item--location м. Черкаси
        .col-12.col-md-6.col-lg-3
          a.partner__item(href="")
            .partner__item--img
              img.mx-auto(src="assets/images/content/partners/technomash.png", alt="")
            .partner__item--body.text-center
              .partner__item--name Техномаш-Львів
              .partner__item--location м. Львів
        .col-12.col-md-6.col-lg-3
          a.partner__item(href="")
            .partner__item--img
              img.mx-auto(src="assets/images/content/partners/market-mace.png", alt="")
            .partner__item--body.text-center
              .partner__item--name Маркет-Мейс
              .partner__item--location м. Дніпро
        .col-12.col-md-6.col-lg-3
          a.partner__item(href="")
            .partner__item--img
              img.mx-auto(src="assets/images/content/partners/nasos.png", alt="")
            .partner__item--body.text-center
              .partner__item--name Nasos.net.UA
              .partner__item--location м. Харьков
        .col-12.col-md-6.col-lg-3
          a.partner__item(href="")
            .partner__item--img
              img.mx-auto(src="assets/images/content/partners/nasos-online.png", alt="")
            .partner__item--body.text-center
              .partner__item--name Nasos-Online
              .partner__item--location м. Київ
        .col-12.col-md-6.col-lg-3
          a.partner__item(href="")
            .partner__item--img
              img.mx-auto(src="assets/images/content/partners/PlusComfort.png", alt="")
            .partner__item--body.text-center
              .partner__item--name PlusComfort
              .partner__item--location м. Харків
        .col-12.col-md-6.col-lg-3
          a.partner__item(href="")
            .partner__item--img
              img.mx-auto(src="assets/images/content/partners/Rozetka.png", alt="")
            .partner__item--body.text-center
              .partner__item--name Rozetka
              .partner__item--location м. Київ
        .col-12.col-md-6.col-lg-3
          a.partner__item(href="")
            .partner__item--img
              img.mx-auto(src="assets/images/content/partners/s-torgom.png", alt="")
            .partner__item--body.text-center
              .partner__item--name С торгом
              .partner__item--location м. Київ
        .col-12.col-md-6.col-lg-3
          a.partner__item(href="")
            .partner__item--img
              img.mx-auto(src="assets/images/content/partners/strojmagazin.png", alt="")
            .partner__item--body.text-center
              .partner__item--name Строймагазин
              .partner__item--location м. Дніпро
        .col-12.col-md-6.col-lg-3
          a.partner__item(href="")
            .partner__item--img
              img.mx-auto(src="assets/images/content/partners/teplopolis.png", alt="")
            .partner__item--body.text-center
              .partner__item--name Теплополис
              .partner__item--location м. Дніпро
        .col-12.col-md-6.col-lg-3
          a.partner__item(href="")
            .partner__item--img
              img.mx-auto(src="assets/images/content/partners/teplopolis.png", alt="")
            .partner__item--body.text-center
              .partner__item--name Теплополис
              .partner__item--location м. Запоріжжя
        .col-12.col-md-6.col-lg-3
          a.partner__item(href="")
            .partner__item--img
              img.mx-auto(src="assets/images/content/partners/trudovik.png", alt="")
            .partner__item--body.text-center
              .partner__item--name Трудовик
              .partner__item--location м. Київ
        .col-12.col-md-6.col-lg-3
          a.partner__item(href="")
            .partner__item--img
              img.mx-auto(src="assets/images/content/partners/xem.png", alt="")
            .partner__item--body.text-center
              .partner__item--name ХЭМ ДИСТРИБЬЮШН
              .partner__item--location м. Харьків
              