extends template/main

block variables
  - var title = 'Інструкції'
  - var pageClass = 'manuals'

block content
  include modules/header/header_advertising
      
  .wrapper

    .container
      .row
        .col-lg-12.col-md-12.col-12  
          .nav__wrap
            .breadcrumbs
              nav(aria-label='breadcrumb')
                ol.breadcrumb
                  li.breadcrumb-item
                    a(class='breadcrumb-item--link' href='#') Головна
                  li.breadcrumb-item
                    a(class='breadcrumb-item--link' href='#') Інфоцентр
                  li.breadcrumb-item.active(aria-current='page') Інструкції
      .row
        .col-12
          .category__list
            nav(aria-label="blog navigation")
              ul.blog_navigation.pl-lg-2.d-flex
                li.item
                  a.item__link(href="#") рекламні каталоги
                li.item
                  a.item__link(href="#") Відеоогляди
                li.item
                  a.item__link.active(href="#") Інструкції

          .form_in_page
            form#mse2_form.msearch2(action='[[~[[+pageId]]]]', method='get')
              label(for="search")
                input.form-control(type='text', aria-label="search", name='[[+queryVar]]', placeholder="Пошук", value='')

          h1.title Інструкції

      .row
        .col-12.col-md-6.col-lg-4
          .manual__item
            .manual__item--img
              img.img-responsive(src="assets/images/content/manuals/nasos.png", alt="")
            .manual__item--body
              .manual__item--category Циркуляционные электронасосы
              .manual__item--title BPS32-12 название насоса
              .manual__item--link
                a(href="") Завантажити pdf
        .col-12.col-md-6.col-lg-4
          .manual__item
            .manual__item--img
              img.img-responsive(src="assets/images/content/manuals/nasos.png", alt="")
            .manual__item--body
              .manual__item--category Циркуляционные электронасосы
              .manual__item--title BPS32-12 название насоса
              .manual__item--link
                a(href="") Завантажити pdf
        .col-12.col-md-6.col-lg-4
          .manual__item
            .manual__item--img
              img.img-responsive(src="assets/images/content/manuals/nasos.png", alt="")
            .manual__item--body
              .manual__item--category Циркуляционные электронасосы
              .manual__item--title BPS32-12 название насоса
              .manual__item--link
                a(href="") Завантажити pdf
        .col-12.col-md-6.col-lg-4
          .manual__item
            .manual__item--img
              img.img-responsive(src="assets/images/content/manuals/nasos.png", alt="")
            .manual__item--body
              .manual__item--category Циркуляционные электронасосы
              .manual__item--title BPS32-12 название насоса
              .manual__item--link
                a(href="") Завантажити pdf
        .col-12.col-md-6.col-lg-4
          .manual__item
            .manual__item--img
              img.img-responsive(src="assets/images/content/manuals/nasos.png", alt="")
            .manual__item--body
              .manual__item--category Циркуляционные электронасосы
              .manual__item--title BPS32-12 название насоса
              .manual__item--link
                a(href="") Завантажити pdf
        .col-12.col-md-6.col-lg-4
          .manual__item
            .manual__item--img
              img.img-responsive(src="assets/images/content/manuals/nasos.png", alt="")
            .manual__item--body
              .manual__item--category Циркуляционные электронасосы
              .manual__item--title BPS32-12 название насоса
              .manual__item--link
                a(href="") Завантажити pdf

      .more_wrap.mt-5
        a.btn.more.mx-auto(href="") Більше публікацій 
      .mse2_pagination.d-flex.justify-content-center
        ul.pagination
          li.page-item
            a.page-link(href="") 1,
          li.page-item
            a.page-link(href="") 2,
          li.page-item
            a.page-link(href="") 3
          li.page-item
            a.page-link(href="") ...
          li.page-item
            a.page-link(href="") 8
          li.page-item
            a.page-link(href="") >
