extends template/main

block variables
  - var title = 'Обєкти, оснащені нашим обладнанням'
  - var pageClass = 'objects'

block content
  include modules/header/header_map
      
  .wrapper

    .container
      .row
        .col-lg-12.col-md-12.col-12  
          .nav__wrap
            .breadcrumbs
              nav(aria-label='breadcrumb')
                ol.breadcrumb
                  li.breadcrumb-item
                    a(class='breadcrumb-item--link' href='#') Головна
                  li.breadcrumb-item
                    a(class='breadcrumb-item--link' href='#') Контакти
                  li.breadcrumb-item.active(aria-current='page') Представництва

          h1.title Обери представництво в своїй області

      .row.map_reg(style='position:relative;')
        .left__block
          map#mapsvg(name='mapsvg')
            area#Volin.map-region(shape='poly', coords='159,66,160,80,160,98,156,101,155,109,160,121,178,151,171,156,172,171,207,200,223,212,244,215,254,218,251,195,259,194,263,184,279,177,292,185,300,190,303,178,302,165,308,167,314,159,320,145,315,133,314,120,308,105,297,98,287,83,297,53,293,49,275,46,269,43,238,45,222,41,202,51,202,58,188,65,179,70', href='javascript: void(0);', alt='Ivanofrankivsk')
            area#Lviv.map-region(shape='poly', coords='141,199,140,202,128,213,113,225,57,282,60,286,60,312,54,320,59,327,63,331,66,339,73,348,73,355,74,362,83,362,87,367,97,372,105,379,110,378,114,366,117,350,126,337,134,337,140,337,161,340,177,337,182,335,177,321,179,317,183,310,185,297,196,298,203,304,206,302,221,293,234,280,237,271,242,267,254,265,254,248,244,237,243,220,231,209,221,209,211,206,212,202,205,192,196,184,175,176,165,191,164,194,160,198,157,200', href='javascript: void(0);', alt='Lviv')
            area#Ternopil.map-region(shape='poly', coords='136,194,137,190,137,189,137,196,138,199,139,187,139,197,140,216,140,203,141,209,141,212,141,207,141,205,141,203,141,201,141,199,141,206,141,204,141,200,142,186,143,186,143,217,145,183,145,221,146,228,147,182,147,182,147,223,148,179,149,229,150,179,151,228,152,173,152,228,153,176,153,171,153,233,153,230,153,229,154,177,155,234,156,171,156,234,158,171,158,238,158,236,158,234,158,230,159,240,159,231,161,169,161,239,161,239,162,169,163,158,163,237,164,168,164,162,164,159,164,235,165,166,165,156,166,163,166,162,166,235,167,155,167,153,167,149,167,149,168,235,170,238,171,148,171,150,171,238,172,242,173,150,173,240,174,248,174,245,175,245,175,243,176,149,176,149,178,247,179,148,179,247,180,249,181,148,181,249,182,148,183,248,184,146,184,251,185,145,185,145,185,249,186,144,187,252,188,251,190,142,190,252,191,142,191,249,191,252,194,142,195,143,195,251,196,252,197,144,197,255,198,192,198,197,199,144,199,147,199,162,199,163,199,165,199,168,199,190,199,188,200,151,200,160,200,171,200,177,200,187,200,198,200,209,200,215,200,218,200,227,200,231,201,152,201,156,201,159,201,169,201,174,201,180,201,182,201,184,201,201,201,209,201,212,201,257,201,222,201,239,201,235,202,202,202,205,202,233,203,242,204,258,204,247,204,244,205,253,205,250,207,256,207,255', href='javascript: void(0);', alt='Ternopil')
            area#Khmelnytsky.map-region(shape='poly', coords='198,192,198,197,199,162,199,163,199,165,199,168,199,190,199,188,200,151,200,160,200,171,200,177,200,187,200,198,200,209,200,215,200,218,200,227,200,231,201,152,201,156,201,159,201,169,201,174,201,180,201,182,201,184,201,201,201,209,201,212,201,222,201,239,201,235,202,202,202,205,202,233,202,149,203,242,203,149,204,247,204,244,204,146,205,253,205,250,207,256,207,255,207,144,208,143,209,142,212,144,213,142,213,257,215,141,215,261,215,258,216,139,216,258,218,138,218,261,219,135,219,136,219,135,219,259,220,136,220,257,220,259,221,132,222,131,222,256,222,256,223,254,224,254,225,128,226,254,226,252,227,127,228,126,228,126,228,255,231,125,231,126,231,253,233,254,234,124,235,123,235,252,237,123,237,254,237,253,240,121,241,121,241,253,242,254,243,123,244,125,245,126,245,129,245,132,245,134,245,254,246,128,246,135,247,126,249,135,249,138,249,251,250,250,250,250,251,138,251,226,251,246,252,141,252,229,252,232,252,234,252,238,252,244,253,143,253,225,253,239,253,241,254,222,254,223,255,145,256,145,256,219,256,221,258,161,258,217,259,144,259,161,260,142,260,158,260,163,261,146,261,153,261,165,261,167,261,171,261,216,261,217,262,144,262,148,262,155,262,157,263,158,263,172,263,216,264,215,265,217,266,173,266,179,266,192,267,181,267,190,267,194,267,195,268,174,268,183,268,217,269,185,270,176,270,178,270,183,270,196,270,199,270,202,270,216,271,205,272,208,272,211,272,213,273,206,273,215', href='javascript: void(0);', alt='Khmelnytsky')
            area#Vinnytsya.map-region(shape='poly', coords='250,250,251,226,251,246,252,229,252,232,252,234,252,238,252,244,253,225,253,239,253,241,253,250,254,222,254,223,254,251,254,254,255,256,255,260,256,219,256,221,256,259,258,217,258,259,260,258,261,216,261,217,263,216,263,258,263,259,264,215,265,217,266,192,266,258,266,261,267,181,267,190,267,194,267,195,268,183,268,217,269,185,269,262,270,176,270,178,270,183,270,196,270,199,270,202,270,216,271,205,271,264,272,208,272,211,272,213,272,264,273,206,273,215,273,262,275,265,275,175,276,265,276,268,277,175,278,268,278,176,280,269,281,176,283,176,284,269,285,272,286,175,286,174,287,175,288,272,289,273,291,274,291,174,293,175,294,274,294,276,294,175,297,277,297,173,297,172,300,174,301,277,301,172,302,277,302,174,303,279,307,281,307,173,307,172,308,173,309,282,310,171,311,283,311,169,312,170,313,283,314,169,315,283,316,285,316,167,317,172,317,171,318,183,318,182,319,286,319,172,319,169,320,287,320,183,320,179,320,179,321,173,321,175,322,288,322,284,322,282,322,186,323,287,323,285,323,282,323,188,324,282,324,187,325,282,326,187,329,283,329,186,330,284,330,187,331,285,333,187,334,285,336,285,337,183,337,186,339,284,340,282,340,183,341,187,342,284,342,187,343,285,343,203,343,184,344,205,344,201,344,192,344,190,345,207,345,206,345,198,345,196,345,194,346,223,347,284,347,224,347,222,347,221,347,208,348,285,348,209,349,231,349,228,349,228,349,218,349,217,350,283,350,280,350,231,350,226,350,225,350,212,350,209,351,278,351,236,351,234,351,215,351,213,352,278,352,232,353,274,353,272,353,267,354,278,354,268,354,240,354,237,355,278,355,276,355,266,356,276,356,264,357,243,357,242,357,239,358,263,358,245,359,248,359,247,361,265,361,267,361,264,362,259,362,251,362,248,363,261,363,251,364,257,364,254,365,255,366,262,366,260,367,260', href='javascript: void(0);', alt='Vinnytsya')
            area#Zhytomyr.map-region(shape='poly', coords='248,119,248,120,249,96,249,102,249,106,249,120,249,134,249,135,250,95,250,97,250,103,250,108,250,111,250,114,250,116,250,118,250,122,250,130,251,123,251,125,251,138,252,93,255,90,256,73,256,76,256,86,256,88,257,84,257,138,257,139,258,77,258,79,258,82,259,71,261,71,263,139,264,164,265,140,265,164,265,166,265,71,266,141,266,143,267,146,267,155,267,158,267,160,267,162,267,163,268,147,268,150,268,152,268,170,268,71,269,170,270,71,272,169,272,71,274,71,275,170,277,171,278,70,281,170,281,71,283,70,284,71,286,170,287,170,287,71,290,170,291,70,292,171,293,68,295,69,296,169,296,69,298,168,298,69,300,168,300,69,303,169,303,71,304,71,305,169,307,72,308,167,308,166,309,166,310,74,312,163,312,73,313,74,315,162,317,163,317,71,319,165,319,71,320,169,321,171,321,174,321,70,323,174,323,175,324,180,324,70,325,182,326,84,326,82,326,80,327,78,327,70,328,86,328,77,328,76,328,72,329,88,331,182,332,182,332,134,332,131,332,130,332,129,332,99,332,98,332,94,332,87,333,136,333,126,333,124,333,122,333,119,333,99,333,93,333,91,334,182,334,88,335,179,335,171,335,115,335,102,336,175,336,173,336,137,336,114,336,107,336,104,337,169,337,105,338,168,338,137,338,111,338,111,338,107,340,166,340,139,341,166,343,139,344,165,346,163,346,160,346,158,346,141,347,162,347,155,347,152,347,150,347,148,347,143', href='javascript: void(0);', alt='Zhytomyr')
            area#Kyivska.map-region(shape='poly', coords='335,79,338,76,338,81,340,83,341,76,343,86,344,87,345,95,345,98,345,185,345,77,345,76,346,90,346,99,347,103,347,104,347,122,347,123,347,124,347,127,347,176,347,178,347,180,347,186,348,189,349,107,349,120,349,131,349,174,349,192,349,194,349,196,349,200,349,203,349,77,350,135,350,174,350,205,351,109,351,112,351,116,351,136,352,172,352,77,353,139,353,205,353,76,354,146,354,208,354,76,355,139,355,143,355,150,355,159,355,161,355,168,356,207,357,150,357,156,357,164,357,166,358,152,358,206,358,76,359,203,359,204,360,79,362,203,364,201,364,201,367,77,368,200,368,77,371,77,374,200,375,77,376,203,377,203,377,84,378,86,378,79,379,88,379,80,380,195,380,91,381,195,382,96,382,93,383,198,384,97,386,100,388,197,388,103,389,107,389,103,390,111,390,109,391,199,391,113,393,115,394,199,395,201,396,114,398,198,399,114,400,199,401,114,402,195,403,192,403,114,405,190,405,113,406,185,407,187,407,182,407,121,408,180,408,122,408,117,408,116,409,172,409,123,410,177,410,174,410,126,411,168,412,166,413,164,414,131,414,128,415,164,419,163,420,131,425,131,426,164,429,130,431,129,432,166,434,129,436,165,437,160,437,127,438,157,438,128,440,152,440,128,440,127,441,150,443,147,444,144,444,128,444,127,446,141,446,141,447,132,447,131,448,138,448,133', href='javascript: void(0);', alt='Kyivska')
            area#Cherkasy.map-region(shape='poly', coords='565,376,570,392,570,403,579,413,585,421,589,429,602,430,618,419,622,404,633,405,646,400,652,406,675,407,685,405,693,394,701,388,718,386,731,388,740,381,750,373,756,369,762,380,779,384,786,378,785,363,767,352,761,348,760,340,770,339,771,326,769,316,760,305,752,294,749,280,743,270,734,265,727,260,726,278,715,290,703,298,700,298,685,292,678,291,674,300,672,317,670,325,662,335,653,343,637,353,626,347,596,357,581,356', href='javascript: void(0);', alt='Cherkasy')
            area#Kyrovograd.map-region(shape='poly', coords='357,272,360,269,361,271,362,269,363,269,364,274,365,267,366,268,366,274,366,276,367,268,369,266,369,266,369,276,370,276,371,266,374,264,374,277,375,265,376,265,376,277,378,265,378,277,380,263,381,275,382,262,382,275,384,261,384,275,385,276,386,261,387,260,388,275,390,258,390,275,391,277,392,255,394,251,395,248,395,275,396,247,396,276,398,248,399,248,399,275,402,248,402,247,402,274,403,247,404,274,406,247,406,273,409,247,410,249,410,271,411,249,412,250,412,271,414,249,415,248,415,271,416,273,418,273,419,248,420,274,422,249,423,275,424,249,425,249,425,276,427,276,428,278,429,244,430,246,431,242,432,239,433,236,434,278,438,236,438,277,440,235,440,277,441,235,442,238,442,236,443,239,443,279,444,239,445,240,445,281,445,282,446,284,446,288,446,291,446,297,447,292,447,296,448,239,449,239,450,300,451,238,453,299,454,236,456,236,457,234,457,299,460,230,461,230,463,298,465,228,465,227,465,301,467,228,467,227,468,301,469,229,470,231,472,231,473,299,474,299,475,231,475,297,475,293,475,291,475,290,476,231,478,286,479,232,479,285,481,284,482,233,485,232,485,283,486,232,487,219,488,224,488,282,489,217,489,215,489,220,489,231,490,226,490,229,491,218,492,220,492,282,493,218,493,283,495,282,496,221,496,278,498,223,498,222,498,277,500,225,500,222,502,226,502,225,502,224,502,277,503,234,503,229,504,234,504,230,504,227,506,273,507,233,508,273,508,260,508,257,508,254,508,251,509,234,509,250,510,269,510,262,511,270,511,250,512,234,513,245,513,243,513,241,513,240,513,236,514,237,515,245,516,236,516,236,516,248,517,247,521,249,523,236,527,235', href='javascript: void(0);', alt='Kyrovograd')
            area#Mykolaiv.map-region(shape='poly', coords='378,290,378,292,380,299,381,286,381,294,381,296,383,300,383,302,384,302,385,286,385,303,386,287,386,309,386,310,387,304,389,311,390,290,394,310,395,286,395,311,398,310,400,286,400,312,401,315,401,317,402,318,404,286,404,319,404,320,405,285,405,321,405,325,405,328,405,331,406,323,406,325,406,329,406,332,408,333,409,282,410,333,410,334,411,286,411,283,411,364,411,366,413,334,413,359,413,360,413,365,413,366,414,288,416,366,417,333,417,337,417,359,417,366,418,339,418,364,419,288,419,343,420,346,420,364,422,288,422,356,423,352,424,293,424,348,425,362,428,362,431,292,431,362,432,291,432,363,435,297,435,296,435,293,435,361,436,301,436,297,439,307,439,305,439,361,440,309,440,303,440,301,444,309,444,361,446,361,448,362,451,362,452,309,454,361,455,309,456,311,457,362,460,362,462,311,462,362,466,363,467,309,467,308,468,363,470,365,472,309,473,360,474,309,475,359,477,309,479,308,481,304,482,359,482,302,483,299,485,358,485,355,485,352,486,349,486,346,486,345,486,317,486,312,486,309,487,341,487,313,487,306,487,296,489,337,489,320,490,336,490,332,490,328,490,326,490,305,490,297,491,323,492,300', href='javascript: void(0);', alt='Mykolaiv')
            area#Odessa.map-region(shape='poly', coords='295,434,296,436,297,431,298,439,299,442,299,441,299,429,301,443,301,427,302,427,304,426,304,425,305,444,305,423,307,444,307,421,307,423,307,421,308,418,308,416,308,414,309,444,309,419,309,413,309,410,310,444,313,443,313,408,313,409,314,445,316,407,317,444,318,444,318,406,320,405,320,387,321,392,321,388,321,385,321,382,322,404,322,403,322,284,323,444,323,393,323,286,323,280,324,401,324,398,324,396,324,377,324,378,325,443,326,442,326,290,326,282,327,377,329,376,330,378,330,296,330,293,330,284,331,441,331,286,332,378,332,295,333,319,333,317,333,297,334,317,334,313,334,311,334,310,334,309,334,305,334,304,334,302,334,301,335,442,335,379,335,323,335,321,335,313,336,323,336,305,336,285,338,378,338,326,338,283,340,439,340,439,340,378,340,380,340,282,342,327,342,326,343,438,343,285,344,379,345,327,346,285,347,436,347,379,347,285,348,379,348,346,348,330,349,378,349,348,349,347,349,343,349,333,350,337,350,333,350,339,350,283,350,280,351,435,351,282,352,278,353,377,353,376,353,348,354,434,354,353,354,351,354,277,355,356,355,353,356,374,357,357,358,431,358,373,358,371,358,359,358,278,359,368,359,364,359,363,359,361,360,431,360,366,360,364,361,277,363,429,363,277,364,429,366,427,366,279,366,281,368,425,368,427,369,280,371,422,373,286,373,418,373,419,373,421,373,281,375,284,375,285,375,288,375,414,375,415,376,291,376,294,376,295,377,296,377,407,377,410,377,412,378,297,378,300,378,301,378,303,378,409,378,281,379,397,379,402,379,404,380,389,380,390,380,391,380,393,381,303,381,305,382,385,384,310,384,382,386,311,386,380,386,380,387,315,389,377,391,316,392,377,394,317,395,374,396,317,398,372,399,318,400,318,400,324,400,327,400,334,401,330,401,371,402,321,402,334,402,370,403,336,405,369,406,336,409,337,410,341,410,358,410,360,410,365,410,368,411,356,412,342,413,339,413,342,414,338,414,353,415,343,416,346,416,353,417,348,418,352,419,349,419,351', href='javascript: void(0);', alt='Odessa')
            area#Chernivtsi.map-region(shape='poly', coords='146,301,146,300,146,296,147,292,147,290,148,301,149,286,150,284,151,281,152,301,153,302,154,280,154,279,155,274,158,272,159,300,160,270,160,301,164,301,165,268,166,301,167,266,168,300,169,266,170,299,172,266,172,299,174,248,174,297,175,258,175,255,175,250,176,264,176,260,176,294,178,295,179,250,182,250,182,293,184,291,185,249,187,251,188,253,188,290,190,288,192,251,192,288,193,287,197,253,198,255,198,285,198,285,200,283,202,258,203,282,206,280,208,259,208,278,209,278,210,259,213,276,214,276,215,259,215,273,217,262,217,273,220,262,221,271,222,271,223,260,223,260,224,259,224,257,225,255,226,271,229,256,231,269,232,255,232,269,233,270,234,255,236,269,237,255,240,256,241,267,242,268,244,255,246,254,246,266,247,264,249,254,249,263,250,255,252,261,253,253,254,256,254,258', href='javascript: void(0);', alt='Chernivtsi')
            //- area#Lutsk.map-region(shape='poly', coords='90,79,90,77,90,70,91,83,91,74,91,67,93,86,94,65,95,87,97,93,97,90,97,62,99,95,99,63,102,100,102,97,103,102,104,63,106,102,108,107,108,65,110,115,110,111,112,65,114,116,116,64,116,61,117,117,118,58,120,57,120,116,123,52,123,51,123,115,126,116,127,116,128,50,128,116,130,117,131,50,131,120,133,123,134,49,134,130,134,125,134,123,136,49,136,130,138,50,141,50,141,131,146,47,146,123,146,124,146,132,147,120,147,125,147,127,147,130,149,45,150,117,153,114,154,46,154,112,155,48,156,110,158,108,160,47,161,108,164,46,164,109,165,48,165,51,165,62,166,58,166,63,166,65,166,71,167,53,168,73,168,75,168,108,171,74,171,108,174,75,176,75,176,107,179,76,179,105,179,106,180,77,180,104,181,81,183,87,183,91,183,94,183,97,183,100,184,82', href='javascript: void(0);', alt='Lutsk')
            //- area#Rivne.map-region(shape='poly', coords='160,134,161,133,161,139,162,147,163,152,164,141,166,146,167,129,169,123,169,125,170,143,172,144,176,122,176,144,178,123,178,122,179,53,179,59,179,123,180,49,180,60,180,144,183,141,184,62,184,49,186,63,186,138,186,48,187,67,187,139,188,121,189,138,189,48,191,69,191,116,191,118,191,120,192,137,193,112,193,47,194,72,194,138,194,51,196,74,197,137,198,103,198,106,198,109,198,138,198,51,199,75,199,82,199,85,199,88,200,99,200,51,201,79,201,139,202,92,202,94,202,97,202,51,203,52,206,52,206,51,207,139,209,52,210,138,212,137,213,131,213,53,213,51,214,132,214,53,216,131,216,53,217,128,219,126,219,55,220,56,221,124,223,124,226,121,226,56,227,118,228,57,228,56,230,121,231,56,233,58,234,119,235,57,236,117,237,59,238,116,238,94,238,91,238,59,240,114,240,97,240,86,240,87,240,61,241,113,241,100,241,86,242,109,242,105,243,81,245,79,246,78,246,61,247,73,249,66,250,70,253,68', href='javascript: void(0);', alt='Rivne')
            area#Kherson.map-region(shape='poly', coords='446,386,448,384,449,382,450,387,451,390,452,392,452,377,454,377,456,394,457,375,459,374,461,394,461,374,463,394,465,373,466,373,468,396,469,372,469,372,471,371,471,395,472,365,472,371,473,361,473,396,473,368,473,365,476,361,476,396,477,394,479,363,480,365,480,395,484,395,485,365,485,394,487,361,488,349,488,395,489,344,489,342,490,359,490,395,491,341,491,395,492,356,492,349,493,354,494,354,494,352,495,339,495,317,496,327,496,316,496,392,498,337,498,330,498,328,498,324,498,321,500,393,502,318,502,393,503,320,506,321,506,392,509,394,511,320,511,403,511,402,512,404,512,400,512,399,512,395,515,319,515,401,516,400,517,316,518,318,518,401,521,399,522,319,522,398,524,322,524,400,526,402,526,401,529,320,529,401,532,321,535,399,536,321,538,399,539,323,539,401,540,402,542,323,542,404,543,405,545,323,546,327,546,331,547,404,548,334,548,405,550,405,551,332,553,334,554,404,555,333,555,336,556,333,557,343,558,340,558,404,559,350,560,346,560,348,561,355,563,400,563,403,563,401,564,353,564,374,565,357,565,367,565,370,565,371,565,398,566,365,566,397,567,360,567,363,568,377,568,396,569,379,571,394,572,383,572,395,574,397,575,384,577,384,578,395,580,386,580,395,581,391', href='javascript: void(0);', alt='Kherson')
            area#Zaporizhzhya.map-region(shape='poly', coords='551,324,552,324,553,326,554,328,556,323,557,327,559,327,559,321,560,330,562,335,562,333,563,338,563,337,563,321,564,351,564,347,564,346,565,343,565,340,566,323,567,352,567,350,569,324,570,351,571,351,572,373,572,372,572,355,573,361,573,359,573,324,574,379,574,376,574,369,574,367,575,364,578,383,579,384,579,324,579,325,579,312,579,311,579,305,579,303,579,300,579,296,579,293,580,319,580,314,580,296,580,288,581,389,581,385,581,287,583,387,583,385,586,383,586,285,589,380,590,378,592,379,593,289,595,377,598,288,599,375,602,373,603,289,605,372,605,288,608,289,611,368,614,290,615,368,617,291,617,292,619,297,620,366,621,302,622,298,623,304,624,366,627,304,628,365,629,305,631,365,634,306,636,305,637,306,639,363,640,305,641,305,642,363,646,305,647,307,648,310,649,359,649,311,650,317,652,321,654,359,654,323,657,343,657,345,657,346,658,356,658,331,658,335,658,338,659,322,661,355,661,322,663,324,663,328,663,349,664,325,664,327,665,354,666,351,670,353,670,352', href='javascript: void(0);', alt='Zaporizhzhya')
            area#Donetsk.map-region(shape='poly', coords='653,298,653,296,654,292,654,291,655,302,655,299,656,302,656,292,658,243,659,308,659,307,659,305,660,290,660,246,661,310,661,246,662,264,662,244,663,312,663,289,663,267,663,264,664,289,664,252,665,312,665,287,665,283,665,279,665,277,665,270,665,260,665,254,665,249,665,243,666,314,666,312,666,280,666,273,666,271,666,255,667,343,667,338,667,315,668,341,668,241,669,348,669,344,670,336,670,316,671,349,671,337,671,239,672,350,672,317,673,334,673,317,673,238,674,351,674,320,675,237,676,352,676,331,677,330,677,322,677,237,678,326,678,319,678,236,679,327,679,235,679,351,681,348,682,232,682,231,684,347,685,227,686,226,686,343,688,341,689,342,690,223,692,340,693,219,694,214,694,339,696,340,697,215,698,215,698,341,702,215,702,218,703,341,704,229,705,219,705,227,705,340,706,226,706,341,707,219,707,223,709,229,710,230,711,341,714,232,714,246,714,249,715,234,715,238,715,240,715,241,715,243,716,251,716,339,717,252,717,255,717,259,717,261,718,263,719,264,719,333,720,333,721,264,721,266,721,330,721,328,722,331,722,325,722,317,723,268,723,269,723,272,723,322,723,318,723,315,725,274,725,312,725,311,726,274,728,274,728,277,729,311,732,278,732,280,733,281,733,284,733,310,734,282,734,309,736,284,736,286,738,285,738,286,738,290,738,308,739,308,739,307,740,306,741,291,742,291,742,304,742,305,743,303,744,300,746,290,747,299,748,300,749,294,750,297', href='javascript: void(0);', alt='Donetsk')
            //- area#Lugansk.map-region(shape='poly', coords='709,209,709,206,710,204,710,202,710,201,710,197,710,195,710,193,711,209,711,189,712,187,712,186,712,184,712,178,713,180,714,210,714,176,715,216,715,213,715,173,716,220,716,170,717,223,717,222,717,216,717,168,717,166,719,224,719,164,720,227,722,228,722,227,722,162,722,161,723,162,724,245,724,241,724,236,724,231,725,256,725,248,725,238,725,232,725,229,726,253,726,250,727,261,728,162,729,261,730,161,731,268,731,163,732,261,733,267,733,165,735,267,736,166,737,275,737,272,737,168,738,268,740,276,740,168,742,170,743,276,744,170,745,277,745,171,746,282,747,285,747,278,747,171,749,172,750,284,750,174,752,285,754,286,755,295,755,290,755,288,755,287,755,174,755,175,756,292,759,175,761,175,761,297,761,296,763,176,764,297,765,178,765,297,766,297,767,298,768,179,769,180,771,181,771,298,772,298,773,181,774,297,775,181,776,298,777,183,779,296,780,183,782,184,782,186,782,296,784,188,787,189,787,225,787,227,788,230,788,293,789,190,789,230,789,247,789,249,789,251,789,292,790,231,790,292,791,190,791,223,791,243,791,244,792,242,792,288,793,253,793,254,793,286,794,189,794,220,794,221,794,232,794,241,795,232,795,256,795,284,796,189,796,260,796,280,797,190,797,239,797,239,797,257,798,218,798,237,798,261,798,265,798,277,799,218,799,262,799,266,799,273,800,189,800,236,801,216,803,190,803,214,803,215,804,192,804,195,804,213,805,211,806,209,806,211,807,195,807,197,807,199,807,206,808,203', href='javascript: void(0);', alt='Lugansk')
            area#Kharkiv.map-region(shape='poly', coords='578,157,579,161,581,164,582,162,583,211,585,164,587,210,588,165,589,209,589,208,589,212,590,174,591,167,591,170,591,214,592,218,593,176,593,208,595,207,595,208,595,222,596,176,596,220,597,204,598,200,598,201,598,202,599,177,599,223,600,179,601,137,601,182,602,189,603,138,603,184,603,185,603,193,603,196,603,197,606,139,607,223,608,140,608,224,609,142,611,143,612,223,613,143,614,144,616,144,616,224,619,144,620,223,621,145,621,224,623,143,624,226,626,232,626,235,627,143,629,144,629,238,632,146,632,237,633,240,634,147,635,147,635,244,635,247,636,247,638,249,639,149,639,146,641,149,641,247,642,245,643,149,645,150,645,149,647,246,648,151,649,241,650,152,650,247,650,241,650,238,650,236,651,243,651,236,653,151,655,150,655,235,658,149,660,232,660,233,661,148,664,232,666,146,667,233,668,145,670,231,671,144,671,229,671,228,672,226,673,144,673,223,674,222,676,144,677,222,681,144,681,217,682,216,683,210,684,144,684,214,684,212,684,208,686,144,687,207,688,145,689,207,692,147,692,206,694,150,694,147,696,154,697,157,697,207,698,155,698,207,698,202,698,199,698,198,699,193,699,193,700,158,700,191,700,189,701,181,702,161,702,183,702,175,703,163,703,176,703,170,704,167,704,166,704,167,707,168,711,168', href='javascript: void(0);', alt='Kharkiv')
            area#Sumy.map-region(shape='poly', coords='496,82,497,84,497,80,498,77,499,83,499,74,499,73,500,70,502,118,502,117,502,115,502,111,502,109,502,65,502,63,502,38,503,118,503,83,503,40,504,120,504,60,504,59,504,50,504,43,505,120,505,105,505,94,505,92,505,87,505,53,505,47,505,46,505,34,506,103,506,99,506,95,506,33,507,120,508,32,511,31,511,30,511,28,512,121,513,24,514,24,514,19,514,21,515,122,517,122,518,22,520,21,522,122,522,23,526,121,528,22,529,23,530,120,531,23,533,120,533,24,534,25,535,120,536,121,538,25,539,28,540,120,541,28,543,43,543,39,543,30,544,121,544,43,544,36,544,33,546,44,548,121,548,119,549,68,549,65,549,64,549,47,549,46,550,70,551,80,551,76,551,63,551,49,552,82,552,78,552,77,552,73,552,50,553,122,553,62,554,137,554,135,554,58,554,56,555,131,555,128,555,124,555,89,555,86,555,84,555,82,555,52,556,91,556,89,556,87,558,91,560,91,564,90,567,93,567,91,568,94,571,93,572,93,573,94,575,93,576,94,580,95,584,95,586,95,587,96,588,101,589,102,589,97,589,136,590,103,592,136,594,103,595,136,596,103,599,123,599,121,599,117,599,111,599,107,599,104,600,135,600,131,600,126,600,118,600,114,600,111,600,107,601,132,603,134', href='javascript: void(0);', alt='Sumy')
            area#Chernigiv.map-region(shape='poly', coords='642,188 665,187 674,211 686,220 714,207 724,214 732,234 753,225 770,234 796,217 803,194 805,167 787,150 793,128 793,78 802,68 806,49 811,18 797,12 781,29 763,29 748,19 748,37 724,55 713,48 708,43 675,48 670,56 650,47 642,61 626,99 628,130 620,146 630,164 641,187b', href='javascript: void(0);', alt='Chernigiv')
            //- area#Crimea.map-region(shape='poly', coords='475,434,476,432,477,441,477,440,477,438,477,434,477,431,477,431,478,443,479,447,479,429,480,445,481,426,482,446,483,426,484,426,485,449,485,448,486,427,488,447,489,426,491,447,491,426,492,423,493,423,497,447,497,421,497,422,499,446,500,421,501,446,501,422,503,447,503,418,504,417,507,448,507,414,507,414,508,412,509,411,510,407,511,407,513,407,513,448,514,492,514,486,514,485,514,480,515,478,515,448,516,483,516,475,517,407,517,494,518,473,519,469,519,450,520,468,521,496,522,405,522,466,522,465,522,452,523,464,524,405,524,462,525,461,526,459,526,452,526,451,527,495,527,458,528,495,529,453,530,406,530,495,530,455,530,455,531,406,533,406,533,492,537,405,537,491,538,492,539,408,540,491,545,409,545,488,546,488,547,487,549,409,549,485,550,483,551,482,552,410,553,410,554,479,555,478,556,409,557,409,557,408,558,476,559,406,559,407,559,474,561,403,561,404,561,473,564,473,565,401,567,401,567,472,570,400,572,470,573,399,574,399,574,469,575,399,577,468,577,468,578,400,578,468,580,400,580,410,581,404,581,405,581,407,582,412,582,415,583,417,583,466,583,466,585,418,585,465,586,466,587,418,589,421,589,465,592,420,592,463,593,422,593,424,593,464,596,425,596,462,597,426,597,459,598,459,599,456,600,456,602,426,602,455,603,426,604,427,604,455,607,427,608,456,609,428,612,426,612,457,612,455,614,457,615,459,616,426,617,427,618,427,618,459,621,426,621,459,623,426,624,458,625,459,626,426,626,459,628,427,628,459,630,458,632,426,633,427,635,457,636,427,637,458,638,457,639,428,640,456,643,429,644,455,646,430,647,455,648,430,648,454,649,453,650,433,650,434,650,436,650,437,651,440,651,443,651,445,651,450,652,441,652,447,652,448,652,449', href='javascript: void(0);', alt='Crimea')
            area#Dniepropetrivsk.map-region(shape='poly', coords='500,294,500,297,500,302,500,313,501,292,501,298,502,290,502,303,502,305,502,310,504,290,505,314,506,290,506,316,507,288,508,287,511,284,512,316,512,315,514,282,516,260,516,281,517,259,517,261,517,315,519,264,519,315,520,270,520,273,520,277,520,278,521,315,521,317,523,257,524,241,524,317,525,256,527,255,527,256,528,245,528,318,531,244,532,248,532,248,534,318,535,241,536,320,537,242,537,320,538,321,539,243,542,246,546,321,547,246,548,319,548,320,549,245,553,229,553,231,553,234,553,238,553,240,553,317,554,225,556,224,557,315,558,316,560,224,561,315,564,313,565,222,566,302,566,297,566,288,566,286,567,313,567,303,567,298,567,292,568,220,568,316,568,304,568,294,568,280,568,279,568,277,569,307,569,277,571,221,571,308,571,277,572,314,573,277,574,277,576,220,578,220,578,277,580,221,580,277,584,223,587,277,589,277,590,227,590,277,592,227,592,278,593,228,594,278,595,280,596,231,596,280,598,233,600,279,602,233,604,233,604,278,604,278,607,278,608,278,610,236,610,278,615,236,615,277,616,237,617,277,617,280,619,242,620,280,621,247,622,281,626,247,627,281,627,286,628,255,628,283,629,255,629,286,629,288,629,292,630,258,630,294,633,294,635,260,636,295,637,295,639,297,640,259,641,286,642,294,642,291,642,283,644,256,645,279,646,257,647,279,647,257,648,281,649,257,652,282,652,256,653,273,653,268,653,263,654,263,654,260,655,281,655,275,656,281,658,276', href='javascript: void(0);', alt='Dniepropetrivsk')
            area#Poltava.map-region(shape='poly', coords='459,141,459,145,460,143,461,139,461,145,463,139,464,146,464,148,465,149,465,150,466,138,466,153,467,139,469,140,471,140,471,154,471,157,471,159,471,165,472,161,472,166,472,168,473,170,475,140,477,140,477,170,477,173,477,177,478,173,478,177,479,140,481,139,481,177,483,177,483,178,483,194,483,198,484,180,484,183,484,184,484,185,485,136,485,198,485,200,486,187,487,192,488,189,488,204,488,205,489,135,490,135,490,206,494,133,495,207,496,132,496,208,497,129,498,129,498,209,499,129,500,212,504,216,505,128,505,217,506,128,507,132,508,218,509,132,510,221,511,223,511,226,512,131,514,227,515,132,517,228,518,133,519,229,521,132,523,132,523,229,525,228,526,132,528,228,530,228,531,133,536,132,536,229,537,230,538,133,538,232,538,233,542,233,542,235,543,135,544,135,544,133,544,233,544,232,544,230,544,227,545,140,545,227,545,223,546,222,547,142,547,141,547,221,548,146,548,220,549,144,549,218,550,153,550,150,551,153,551,148,551,147,551,215,552,154,554,215,556,158,556,215,557,215,558,157,560,158,560,214,560,215,562,212,562,212,564,212,568,164,568,161,568,160,568,210,569,166,569,209,571,209,575,169,575,207,575,207,575,202,576,204,577,201,579,171,579,202,582,172,583,177,583,202,584,174,585,177,585,201,585,202,586,181,587,195,587,192,587,191,587,182,588,200,589,201,590,200,590,189,590,184,592,189,592,188,592,185', href='javascript: void(0);', alt='Poltava')
          img#ID_Dniepropetrivsk.reg_img(src='assets/images/general/map/dnepropetrovsk.jpg', width='843', height='579', alt='dnepropetrovsk', usemap='#mapsvg', style='position: relative; top: 0px; left: 0px; z-index:1; visibility: visible; cursor: pointer;')
          img#ID_Volin.reg_img(src='assets/images/general/map/volin.jpg', width='843', height='579', alt='volin', usemap='#mapsvg', style='position: absolute; top: 0px; left: 0px; visibility: hidden; z-index: 2; cursor: pointer;')
          img#ID_Lviv.reg_img(src='assets/images/general/map/lviv.jpg', width='843', height='579', alt='lviv', usemap='#mapsvg', style='position: absolute; top: 0px; left: 0px; visibility: hidden; z-index: 2; cursor: pointer;')
          img#ID_Ivanofrankivsk.reg_img(src='assets/images/general/map/ivanofrankivsk.jpg', width='843', height='579', alt='ivanofrankivsk', usemap='#mapsvg', style='position: absolute; top: 0px; left: 0px; visibility: hidden; z-index: 2; cursor: pointer;')
          img#ID_Ternopil.reg_img(src='assets/images/general/map/ternopil.jpg', width='843', height='579', alt='ternopil', usemap='#mapsvg', style='position: absolute; top: 0px; left: 0px; visibility: hidden; z-index: 2; cursor: pointer;')
          img#ID_Khmelnytsky.reg_img(src='assets/images/general/map/khmelnytsky.jpg', width='843', height='579', alt='khmelnytsky', usemap='#mapsvg', style='position: absolute; top: 0px; left: 0px; visibility: hidden; z-index: 2; cursor: pointer;')
          img#ID_Vinnytsya.reg_img(src='assets/images/general/map/vinnytsya.jpg', width='843', height='579', alt='vinnytsya', usemap='#mapsvg', style='position: absolute; top: 0px; left: 0px; visibility: hidden; z-index: 2; cursor: pointer;')
          img#ID_Zhytomyr.reg_img(src='assets/images/general/map/zhytomyr.jpg', width='843', height='579', alt='zhytomyr', usemap='#mapsvg', style='position: absolute; top: 0px; left: 0px; visibility: hidden; z-index: 2; cursor: pointer;')
          img#ID_Kyivska.reg_img(src='assets/images/general/map/kiev.jpg', width='843', height='579', alt='kiev', usemap='#mapsvg', style='position: absolute; top: 0px; left: 0px; visibility: hidden; z-index: 2; cursor: pointer;')
          img#ID_Cherkasy.reg_img(src='assets/images/general/map/cherkasi.jpg', width='843', height='579', alt='cherkasi', usemap='#mapsvg', style='position: absolute; top: 0px; left: 0px; visibility: hidden; z-index: 2; cursor: pointer;')
          img#ID_Kyrovograd.reg_img(src='assets/images/general/map/kirovograd.jpg', width='843', height='579', alt='kirovograd', usemap='#mapsvg', style='position: absolute; top: 0px; left: 0px; visibility: hidden; z-index: 2; cursor: pointer;')
          img#ID_Mykolaiv.reg_img(src='assets/images/general/map/nikolaev.jpg', width='843', height='579', alt='nikolaev', usemap='#mapsvg', style='position: absolute; top: 0px; left: 0px; visibility: hidden; z-index: 2; cursor: pointer;')
          img#ID_Odessa.reg_img(src='assets/images/general/map/odessa.jpg', width='843', height='579', alt='odessa', usemap='#mapsvg', style='position: absolute; top: 0px; left: 0px; visibility: hidden; z-index: 2; cursor: pointer;')
          img#ID_Chernivtsi.reg_img(src='assets/images/general/map/chernivtsi.jpg', width='843', height='579', alt='chernivtsi', usemap='#mapsvg', style='position: absolute; top: 0px; left: 0px; visibility: hidden; z-index: 2; cursor: pointer;')
          //- img#ID_Lutsk.reg_img(src='assets/images/general/map/luck.jpg', width='843', height='579', alt='luck', usemap='#mapsvg', style='position: absolute; top: 0px; left: 0px; visibility: hidden; z-index: 2; cursor: pointer;')
          //- img#ID_Rivne.reg_img(src='assets/images/general/map/rovno.jpg', width='843', height='579', alt='rovno', usemap='#mapsvg', style='position: absolute; top: 0px; left: 0px; visibility: hidden; z-index: 2; cursor: pointer;')
          img#ID_Kherson.reg_img(src='assets/images/general/map/herson.jpg', width='843', height='579', alt='herson', usemap='#mapsvg', style='position: absolute; top: 0px; left: 0px; visibility: hidden; z-index: 2; cursor: pointer;')
          img#ID_Zaporizhzhya.reg_img(src='assets/images/general/map/zaporojie.jpg', width='843', height='579', alt='zaporojie', usemap='#mapsvg', style='position: absolute; top: 0px; left: 0px; visibility: hidden; z-index: 2; cursor: pointer;')
          img#ID_Donetsk.reg_img(src='assets/images/general/map/doneck.jpg', width='843', height='579', alt='doneck', usemap='#mapsvg', style='position: absolute; top: 0px; left: 0px; visibility: hidden; z-index: 2; cursor: pointer;')
          //- img#ID_Lugansk.reg_img(src='assets/images/general/map/lugansk.jpg', width='843', height='579', alt='lugansk', usemap='#mapsvg', style='position: absolute; top: 0px; left: 0px; visibility: hidden; z-index: 2; cursor: pointer;')
          img#ID_Kharkiv.reg_img(src='assets/images/general/map/harkov.jpg', width='843', height='579', alt='harkov', usemap='#mapsvg', style='position: absolute; top: 0px; left: 0px; visibility: hidden; z-index: 2; cursor: pointer;')
          img#ID_Sumy.reg_img(src='assets/images/general/map/sumi.jpg', width='843', height='579', alt='sumi', usemap='#mapsvg', style='position: absolute; top: 0px; left: 0px; visibility: hidden; z-index: 2; cursor: pointer;')
          img#ID_Chernigiv.reg_img(src='assets/images/general/map/chernigov.jpg', width='843', height='579', alt='chernigov', usemap='#mapsvg', style='position: absolute; top: 0px; left: 0px; visibility: hidden; z-index: 2; cursor: pointer;')
          //- img#ID_Crimea.reg_img(src='assets/images/general/map/crimea.jpg', width='843', height='579', alt='crimea', usemap='#mapsvg', style='position: absolute; top: 0px; left: 0px; visibility: hidden; z-index: 2; cursor: pointer;')
          img#ID_Dniepropetrivsk.reg_img(src='assets/images/general/map/dnepropetrovsk.jpg', width='843', height='579', alt='dnepropetrovsk', usemap='#mapsvg', style='position: absolute; top: 0px; left: 0px; visibility: hidden; z-index: 2; cursor: pointer;')
          img#ID_Poltava.reg_img(src='assets/images/general/map/poltava.jpg', width='843', height='579', alt='poltava', usemap='#mapsvg', style='position: absolute; top: 0px; left: 0px; visibility: hidden; z-index: 2; cursor: pointer;')
        
        .right__block
          #short-region-info
            #Volin.region-short.contact_reg(style='display:none')
              span.city-name Воли́нська о́бласть:
              .city__item
                | м. Харьків, вул.Тюринська, 75 (центральный офис)
                .name Борзенков Игорь Григорьевич
                .phone 
                  a(href="tel:+0675793392") (067) 579-33-92
            #Vinnytsya.region-short.contact_reg(style='display:none')
              span.city-name Вінницька область:
              .city__item
                | м. Харьків, вул.Тюринська, 75 (центральный офис)
                .name Борзенков Игорь Григорьевич
                .phone 
                  a(href="tel:+0675793392") (067) 579-33-92
            #Lutsk.region-short.contact_reg(style='display:none')
              span.city-name Волинська область:
              .city__item
                | м. Харьків, вул.Тюринська, 75 (центральный офис)
                .name Борзенков Игорь Григорьевич
                .phone 
                  a(href="tel:+0675793392") (067) 579-33-92
            #Dniepropetrivsk.region-short.contact_reg(style='display:block')
              span.city-name Дніпропетровська область:
              .city__item
                | м. Харьків, вул.Тюринська, 75 (центральный офис)
                .name Борзенков Игорь Григорьевич
                .phone 
                  a(href="tel:+0675793392") (067) 579-33-92
            #Donetsk.region-short.contact_reg(style='display:none')
              span.city-name Донецька область:
              .city__item
                | м. Харьків, вул.Тюринська, 75 (центральный офис)
                .name Борзенков Игорь Григорьевич
                .phone 
                  a(href="tel:+0675793392") (067) 579-33-92
            #Zhytomyr.region-short.contact_reg(style='display:none')
              span.city-name Житомирська область:
              .city__item
                | м. Харьків, вул.Тюринська, 75 (центральный офис)
                .name Борзенков Игорь Григорьевич
                .phone 
                  a(href="tel:+0675793392") (067) 579-33-92
            #Uzhgorod.region-short.contact_reg(style='display:none')
              span.city-name Закарпатська область:
              .city__item
                | м. Харьків, вул.Тюринська, 75 (центральный офис)
                .name Борзенков Игорь Григорьевич
                .phone 
                  a(href="tel:+0675793392") (067) 579-33-92
            #Zaporizhzhya.region-short.contact_reg(style='display:none')
              span.city-name Запорізька область:
              .city__item
                | м. Харьків, вул.Тюринська, 75 (центральный офис)
                .name Борзенков Игорь Григорьевич
                .phone 
                  a(href="tel:+0675793392") (067) 579-33-92
            #Ivanofrankivsk.region-short.contact_reg(style='display:none')
              span.city-name Івано-Франківська область:
              .city__item
                | м. Харьків, вул.Тюринська, 75 (центральный офис)
                .name Борзенков Игорь Григорьевич
                .phone 
                  a(href="tel:+0675793392") (067) 579-33-92
            #kyiv.region-short.contact_reg(style='display:none')
              span.city-name Київська область:
              .city__item
                | м. Харьків, вул.Тюринська, 75 (центральный офис)
                .name Борзенков Игорь Григорьевич
                .phone 
                  a(href="tel:+0675793392") (067) 579-33-92
            #Kyrovograd.region-short.contact_reg(style='display:none')
              span.city-name Кіровоградська область:
              .city__item
                | м. Харьків, вул.Тюринська, 75 (центральный офис)
                .name Борзенков Игорь Григорьевич
                .phone 
                  a(href="tel:+0675793392") (067) 579-33-92
            #Lugansk.region-short.contact_reg(style='display:none')
              span.city-name Луганська область:
              .city__item
                | м. Харьків, вул.Тюринська, 75 (центральный офис)
                .name Борзенков Игорь Григорьевич
                .phone 
                  a(href="tel:+0675793392") (067) 579-33-92
            #Lviv.region-short.contact_reg(style='display:none')
              span.city-name Львівська область:
              .city__item
                | м. Харьків, вул.Тюринська, 75 (центральный офис)
                .name Борзенков Игорь Григорьевич
                .phone 
                  a(href="tel:+0675793392") (067) 579-33-92
            #Mykolaiv.region-short.contact_reg(style='display:none')
              span.city-name Миколаївська область:
              .city__item
                | м. Харьків, вул.Тюринська, 75 (центральный офис)
                .name Борзенков Игорь Григорьевич
                .phone 
                  a(href="tel:+0675793392") (067) 579-33-92
            #Odessa.region-short.contact_reg(style='display:none')
              span.city-name Одеська область:
              .city__item
                | м. Харьків, вул.Тюринська, 75 (центральный офис)
                .name Борзенков Игорь Григорьевич
                .phone 
                  a(href="tel:+0675793392") (067) 579-33-92
            #Poltava.region-short.contact_reg(style='display:none')
              span.city-name Полтавська область:
              .city__item
                | м. Харьків, вул.Тюринська, 75 (центральный офис)
                .name Борзенков Игорь Григорьевич
                .phone 
                  a(href="tel:+0675793392") (067) 579-33-92
            #Rivne.region-short.contact_reg(style='display:none')
              span.city-name Рівненська область:
              .city__item
                | м. Харьків, вул.Тюринська, 75 (центральный офис)
                .name Борзенков Игорь Григорьевич
                .phone 
                  a(href="tel:+0675793392") (067) 579-33-92
            #Sumy.region-short.contact_reg(style='display:none')
              span.city-name Сумська область:
              .city__item
                | м. Харьків, вул.Тюринська, 75 (центральный офис)
                .name Борзенков Игорь Григорьевич
                .phone 
                  a(href="tel:+0675793392") (067) 579-33-92
            #Ternopil.region-short.contact_reg(style='display:none')
              span.city-name Тернопільська область:
              .city__item
                | м. Харьків, вул.Тюринська, 75 (центральный офис)
                .name Борзенков Игорь Григорьевич
                .phone 
                  a(href="tel:+0675793392") (067) 579-33-92
            #Kharkiv.region-short.contact_reg(style='display:none')
              span.city-name Харківська область:
              .city__item
                | м. Харьків, вул.Тюринська, 75 (центральный офис)
                .name Борзенков Игорь Григорьевич
                .phone 
                  a(href="tel:+0675793392") (067) 579-33-92
            #Kherson.region-short.contact_reg(style='display:none')
              span.city-name Херсонська область:
              .city__item
                | м. Харьків, вул.Тюринська, 75 (центральный офис)
                .name Борзенков Игорь Григорьевич
                .phone 
                  a(href="tel:+0675793392") (067) 579-33-92
            #Khmelnytsky.region-short.contact_reg(style='display:none')
              span.city-name Хмельницька область:
              .city__item
                | м. Харьків, вул.Тюринська, 75 (центральный офис)
                .name Борзенков Игорь Григорьевич
                .phone 
                  a(href="tel:+0675793392") (067) 579-33-92
            #Cherkasy.region-short.contact_reg(style='display:none')
              span.city-name Черкаська область:
              .city__item
                | м. Харьків, вул.Тюринська, 75 (центральный офис)
                .name Борзенков Игорь Григорьевич
                .phone 
                  a(href="tel:+0675793392") (067) 579-33-92
            #Chernivtsi.region-short.contact_reg(style='display:none')
              span.city-name Чернівецька область:
              .city__item
                | м. Харьків, вул.Тюринська, 75 (центральный офис)
                .name Борзенков Игорь Григорьевич
                .phone 
                  a(href="tel:+0675793392") (067) 579-33-92
            #Chernigiv.region-short.contact_reg(style='display:none')
              span.city-name Чернговская область:
              .city__item
                | м. Харьків, вул.Тюринська, 75 (центральный офис)
                .name Борзенков Игорь Григорьевич
                .phone 
                  a(href="tel:+0675793392") (067) 579-33-92
