extends template/main

block variables
  - var title = 'Обєкти, оснащені нашим обладнанням'
  - var pageClass = 'objects'

block content
  include modules/header/header_advertising
      
  .wrapper

    .container
      .row
        .col-lg-12.col-md-12.col-12  
          .nav__wrap
            .breadcrumbs
              nav(aria-label='breadcrumb')
                ol.breadcrumb
                  li.breadcrumb-item
                    a(class='breadcrumb-item--link' href='#') Головна
                  li.breadcrumb-item
                    a(class='breadcrumb-item--link' href='#') Про компанію
                  li.breadcrumb-item.active(aria-current='page') Об'єкти, оснащені нашим обладнанням
          h1.title Об'єкти, оснащені нашим обладнанням

      .row
        .col-12
          .select__region
            span Вибір області
            label(for="department")
              select#region(name="region")
                option(selected) Загальні питання 
                option(value="1") 1121
      .row.objects__wrap.align-item-stretch
        .col-12.col-md-6.col-lg-4.object
          .object__item
            .object__item--slider
              .objects__slider.swiper-container
                .swiper-wrapper
                  .swiper-slide
                    img.img-responsive.gallery-img(src="assets/images/content/objects/1.png", alt='')
                  .swiper-slide
                    img.img-responsive.gallery-img(src="assets/images/content/objects/2.png", alt='')
                  .swiper-slide
                    img.img-responsive.gallery-img(src="assets/images/content/objects/1.png", alt='')
              .another-block
                .swiper-pagination
                .slider-arrow
                  .swiper-button-next
                  .swiper-button-prev

            .object__item--info
              .item
                .item--name Населений пункт
                .item--value м. Севастополь
              .item
                .item--name Об'єкт
                .item--value Зерновий Ж/Д термінал
              .item
                .item--name Система
                .item--value Зниження рівня грунтових вод при будівництві
              .item
                .item--name Устаткування
                .item--value VARNA WQ
        .col-12.col-md-6.col-lg-4.object
          .object__item
            .object__item--slider
              .objects__slider.swiper-container
                .swiper-wrapper
                  .swiper-slide
                    img.img-responsive.gallery-img(src="assets/images/content/objects/1.png", alt='')
                  .swiper-slide
                    img.img-responsive.gallery-img(src="assets/images/content/objects/2.png", alt='')
                  .swiper-slide
                    img.img-responsive.gallery-img(src="assets/images/content/objects/1.png", alt='')
              .another-block
                .swiper-pagination
                .slider-arrow
                  .swiper-button-next
                  .swiper-button-prev

            .object__item--info
              .item
                .item--name Населений пункт
                .item--value сел. М.Маяк
              .item
                .item--name Об'єкт
                .item--value База відпочинку "Студентський", НТУ ХПІ
              .item
                .item--name Система
                .item--value Відведення стічних вод
              .item
                .item--name Устаткування
                .item--value VARNA WQ
        .col-12.col-md-6.col-lg-4.object
          .object__item
            .object__item--slider
              .objects__slider.swiper-container
                .swiper-wrapper
                  .swiper-slide
                    img.img-responsive.gallery-img(src="assets/images/content/objects/1.png", alt='')
                  .swiper-slide
                    img.img-responsive.gallery-img(src="assets/images/content/objects/2.png", alt='')
                  .swiper-slide
                    img.img-responsive.gallery-img(src="assets/images/content/objects/1.png", alt='')
              .another-block
                .swiper-pagination
                .slider-arrow
                  .swiper-button-next
                  .swiper-button-prev

            .object__item--info
              .item
                .item--name Населений пункт
                .item--value сел. Жовтневий
              .item
                .item--name Об'єкт
                .item--value ВЗП
              .item
                .item--name Система
                .item--value Водопостачання селища
              .item
                .item--name Устаткування
                .item--value VARNA SJ
        .col-12.col-md-6.col-lg-4.object
          .object__item
            .object__item--slider
              .objects__slider.swiper-container
                .swiper-wrapper
                  .swiper-slide
                    img.img-responsive.gallery-img(src="assets/images/content/objects/1.png", alt='')
                  .swiper-slide
                    img.img-responsive.gallery-img(src="assets/images/content/objects/2.png", alt='')
                  .swiper-slide
                    img.img-responsive.gallery-img(src="assets/images/content/objects/1.png", alt='')
              .another-block
                .swiper-pagination
                .slider-arrow
                  .swiper-button-next
                  .swiper-button-prev

            .object__item--info
              .item
                .item--name Населений пункт
                .item--value м. Севастополь
              .item
                .item--name Об'єкт
                .item--value Зерновий Ж/Д термінал
              .item
                .item--name Система
                .item--value Зниження рівня грунтових вод при будівництві
              .item
                .item--name Устаткування
                .item--value VARNA WQ
        .col-12.col-md-6.col-lg-4.object
          .object__item
            .object__item--slider
              .objects__slider.swiper-container
                .swiper-wrapper
                  .swiper-slide
                    img.img-responsive.gallery-img(src="assets/images/content/objects/1.png", alt='')
                  .swiper-slide
                    img.img-responsive.gallery-img(src="assets/images/content/objects/2.png", alt='')
                  .swiper-slide
                    img.img-responsive.gallery-img(src="assets/images/content/objects/1.png", alt='')
              .another-block
                .swiper-pagination
                .slider-arrow
                  .swiper-button-next
                  .swiper-button-prev

            .object__item--info
              .item
                .item--name Населений пункт
                .item--value м. Севастополь
              .item
                .item--name Об'єкт
                .item--value Зерновий Ж/Д термінал
              .item
                .item--name Система
                .item--value Зниження рівня грунтових вод при будівництві
              .item
                .item--name Устаткування
                .item--value VARNA WQ
        .col-12.col-md-6.col-lg-4.object
          .object__item
            .object__item--slider
              .objects__slider.swiper-container
                .swiper-wrapper
                  .swiper-slide
                    img.img-responsive.gallery-img(src="assets/images/content/objects/1.png", alt='')
                  .swiper-slide
                    img.img-responsive.gallery-img(src="assets/images/content/objects/2.png", alt='')
                  .swiper-slide
                    img.img-responsive.gallery-img(src="assets/images/content/objects/1.png", alt='')
              .another-block
                .swiper-pagination
                .slider-arrow
                  .swiper-button-next
                  .swiper-button-prev

            .object__item--info
              .item
                .item--name Населений пункт
                .item--value м. Севастополь
              .item
                .item--name Об'єкт
                .item--value Зерновий Ж/Д термінал
              .item
                .item--name Система
                .item--value Зниження рівня грунтових вод при будівництві
              .item
                .item--name Устаткування
                .item--value VARNA WQ
            