extends template/main

block variables
  - var title = 'Товар'
  - var pageClass = 'product'

block content
  include modules/header/header_2
    
  .wrapper

    .product__content
      .container
        .row
          .col-12.col-lg-9.offset-lg-3
            .wrapper__product#msProduct
              ul#productTab.nav.nav-tabs(role='tablist')
                li.nav-item
                  a#home-tab.nav-link.active(data-toggle='tab', href='#home', role='tab', aria-controls='home', aria-selected='true') Опис товару
                li.nav-item
                  a#profile-tab.nav-link(data-toggle='tab', href='#profile', role='tab', aria-controls='profile', aria-selected='false') Характеристики
                li.nav-item
                  a#contact-tab.nav-link(data-toggle='tab', href='#contact', role='tab', aria-controls='contact', aria-selected='false') Обмеження
              #productTabContent.tab-content
                #home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab')
                  .container
                    .row
                      .col-12.col-md-6.col-lg-6
                        #msGallery
                          .fotorama(data-nav='thumbs', data-width='100%', data-thumbmargin="16", transition="crossfade", data-thumbheight='95', data-thumbwidth='102', data-allowfullscreen='true', data-swipe='true', data-autoplay='5000')
                            a(href='assets/images/content/product/1.jpg', target='_blank')
                              img(src='assets/images/content/product/1.jpg', alt='1', title='')
                            a(href='assets/images/content/product/1.jpg', target='_blank')
                              img(src='assets/images/content/product/1.jpg', alt='2', title='')
                            a(href='assets/images/content/product/1.jpg', target='_blank')
                              img(src='assets/images/content/product/1.jpg', alt='3', title='')
                            a(href='assets/images/content/product/1.jpg', target='_blank')
                              img(src='assets/images/content/product/1.jpg', alt='4', title='')
                      .col-12.col-md-6.col-lg-6
                        form.form-horizontal.ms2_form(method="post")
                          input(type="hidden", name="id", value="[[*id]]")
                          .title__
                          h2.title Поверхневий вихревий  насос для води «Насоси + оборудование» 
                          h2.category PKm
                          .info__block.d-flex.justify-content-between
                            .price__wrap 1200 грн
                            a.btn(href="") Підібрати аналог
                          .base__options
                            h2 Основні характеристики:
                            span
                              b Напір: 
                              | 00 м 
                            span
                              b Потужність: 
                              | 00 кВт
                            span
                              b Живлення: 
                              | 220 V
                            span
                              b Гарантія: 
                              |12 місяців
                          button.btn.btn--blue(type='submit', name='ms2_action', value='cart/add') Купити
                          .share__block
                            h3 Поділитися у соц. мережах
                            .ya-share2(data-services="facebook,twitter,viber,whatsapp,telegram", data-lang="uk")

                    .row
                      .col-12.col-md-6.col-lg-6
                        .product__description
                          h3 Опис
                          p Електронасоси серії PKm призначені для подачі води з відкритих водойм, колодязів, свердловин, накопичувальних ємностей. Використовуються в системах поливу садів і городів, системах крапельного зрошення, автоматичного водопостачання для підвищення тиску. Завдяки конструкції робочого колеса можуть перекачувати рідини, в яких присутня повітря або газ. Є хорошим рішенням там, де необхідно створити високий натиск з відносно невеликою об'ємною подачею.

                      .col-12.col-md-6.col-lg-6
                        .product__review
                          h3 Відгуки покупців
                          .review__item
                            .review__item--header.d-flex.justify-content-between
                              h4 Олег
                              span.date 10.09.19
                            .review__item--body
                              .review__item--text Насос очень качественній, не нагреввется при длительной работе...
                            .review__item--footer.d-flex.justify-content-end
                              a.review__item--btn(href="") Відповісти
                        .d-flex.justify-content-center
                          a.btn.btn--bluelight(href="") Написати відгук


 
                #profile.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab') ...
                #contact.tab-pane.fade(role='tabpanel', aria-labelledby='contact-tab') ...

        .row
          .col-12.col-lg-9.offset-lg-3
            .recommended__wrap
              h2 Рекомендовані товари
              .row
                .col-lg-4.col-md-4.col-12
                  .good__item
                    .good__item--img
                      a(href="product.html")
                        img.mx-auto.img-responsive(src="assets/images/content/recomend/1.png", alt="")
                    .good__item--detail.d-flex.justify-content-between
                      .left__block
                        .title PKm
                        .category Насосы+Оборудование 
                        .pre-category насоси вихрові
                        .options
                          span Напір: 00 м 
                          span Потужність: 00 кВт
                          span Живлення: 220 V
                          span Гарантія: 12 місяців
                      .right__block.d-flex.flex-column
                        a.ic_comment(href="", aria-hidden="true")
                          span.label 15
                        a.ic_comparison(href="", aria-hidden="true")
                        a.ic_see(href="", aria-hidden="true")
                .col-lg-4.col-md-4.col-12
                  .good__item
                    .good__item--img
                      a(href="product.html")
                        img.mx-auto.img-responsive(src="assets/images/content/recomend/2.png", alt="")
                    .good__item--detail.d-flex.justify-content-between
                      .left__block
                        .title 2CPm
                        .category Насосы + Оборудование
                        .pre-category насоси центробіжні
                        .options
                          span Напір: 00 м 
                          span Потужність: 00 кВт
                          span Живлення: 220 V
                          span Гарантія: 12 місяців
                      .right__block.d-flex.flex-column
                        a.ic_comment(href="", aria-hidden="true")
                          span.label 15
                        a.ic_comparison(href="", aria-hidden="true")
                        a.ic_see(href="", aria-hidden="true")
                .col-lg-4.col-md-4.col-12
                  .good__item
                    .good__item--img
                      a(href="product.html")
                        img.mx-auto.img-responsive(src="assets/images/content/recomend/3.png", alt="")
                    .good__item--detail.d-flex.justify-content-between
                      .left__block
                        .title Garden-JLUX 2,4
                        .category Насосы+Оборудование 
                        .pre-category електронасоси самовсасучі
                        .options
                          span Напір: 00 м 
                          span Потужність: 00 кВт
                          span Живлення: 220 V
                          span Гарантія: 12 місяців
                      .right__block.d-flex.flex-column
                        a.ic_comment(href="", aria-hidden="true")
                          span.label 15
                        a.ic_comparison(href="", aria-hidden="true")
                        a.ic_see(href="", aria-hidden="true")