extends template/main

block variables
  - var title = 'Рекламні каталоги'
  - var pageClass = 'advertising_catalogs'

block content
  include modules/header/header_2
      
  .wrapper

    .container
      .row
        .col-lg-3.d-none.d-sm-block
        .col-lg-9.col-md-12.col-12
          .nav__wrap
            .breadcrumbs
              nav(aria-label='breadcrumb')
                ol.breadcrumb
                  li.breadcrumb-item
                    a(class='breadcrumb-item--link' href='#') Головна
                  li.breadcrumb-item.active(aria-current='page') Особистий кабінет

          .profile__content
            .profile__content--header
              .welcome Вітаємо, Катерина
              
            ul#profileTab.nav.nav-tabs(role='tablist')
              li.nav-item
                a#personal_info-tab.nav-link.active(data-toggle='tab', href='#personal_info', role='tab', aria-controls='personal_info', aria-selected='true') Особисті данні
              li.nav-item
                a#shopping-tab.nav-link(data-toggle='tab', href='#shopping', role='tab', aria-controls='shopping', aria-selected='false') Интернет-магазинам
              li.nav-item
                a#internetPartners-tab.nav-link(data-toggle='tab', href='#internetPartners', role='tab', aria-controls='internetPartners', aria-selected='false') Интернет-партнерам
              li.nav-item
                a#partners-tab.nav-link(data-toggle='tab', href='#partners', role='tab', aria-controls='partners', aria-selected='false') Партнерам
            #profileTabContent.tab-content
              #personal_info.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab')
                
                .tab__headline Редагування персональних даних
                form.personalInfo(action="")
                  .form-group
                    label(for="name" aria-label="Ім’я") Ім’я
                      input.form-control(type='text' name="name")
                  .form-group
                    label(for="surname" aria-label="Прізвище") Прізвище
                      input.form-control(type='text' name="surname")
                  .form-group
                    label(for="email" aria-label="Email") E-mail
                      input.form-control(type='text' name="email")
                  .form-group
                    label(for="phone" aria-label="Телефон") Телефон
                      input.form-control(type='tel' name="phone")
                  .form-group
                    label(for="phone" aria-label="Адреса") Адреса
                      input.form-control(type='text' name="address")
                  .form-group
                    a.forgot(href="") Забули пароль?
                  .form-group
                    button.save Зберегти

              #shopping.tab-pane.fade(role='tabpanel', aria-labelledby='shopping-tab')
                
                h3.tab__headline Редагування персональних даних
                form.personalInfo(action="")
                  .form-group
                    label(for="name" aria-label="Ім’я") Ім’я
                      input.form-control(type='text' name="name")
                  .form-group
                    label(for="surname" aria-label="Прізвище") Прізвище
                      input.form-control(type='text' name="surname")
                  .form-group
                    label(for="email" aria-label="Email") E-mail
                      input.form-control(type='text' name="email")
                  .form-group
                    label(for="phone" aria-label="Телефон") Телефон
                      input.form-control(type='tel' name="phone")
                  .form-group
                    label(for="phone" aria-label="Адреса") Адреса
                      input.form-control(type='text' name="address")
                  .form-group
                    label(for="phone" aria-label="Пароль") Пароль
                      input.form-control(type='password' name="password")
                  .form-group
                    label(for="phone" aria-label="Пароль") Пароль
                      input.form-control(type='password' name="password")
                  .form-group
                    label(for="phone" aria-label="Пароль") Пароль
                      input.form-control(type='password' name="password")
                  .form-group
                    a.forgot(href="") Скрити пароль
                  .form-group
                    button.save Зберегти

              #internetPartners.tab-pane.fade(role='tabpanel', aria-labelledby='internetPartners-tab')
                .row
                  .col-12
                    .date__update
                      span Дата (поточна): 
                      | 04.10.19
                    .course
                      span Курс: 
                      |24,85 грн. за 1 доллар
                .row.prices__wrap
                  .col-12.col-md-4.col-lg-4
                    .price__item.d-flex.justify-content-center
                      a(href="", target="_blanc")
                        .ic__yml
                        .price__item--label Завантажити 

                  .col-12.col-md-4.col-lg-4
                    .price__item.d-flex.justify-content-center
                      a(href="", target="_blanc")
                        .ic__xml
                        .price__item--label Завантажити 

                  .col-12.col-md-4.col-lg-4
                    .price__item.d-flex.justify-content-center
                      a(href="", target="_blanc")
                        .ic__xls
                        .price__item--label Завантажити 

                .row
                  .note Брендове торгове обладнання торгових марок Sprut, "Насосы плюс 
              
              #partners.tab-pane.fade(role='tabpanel', aria-labelledby='partners-tab')
                .row
                  .col-12.col-lg-6
                    .tab__headline Шановні партнери!
                    .tab__text 
                      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.

                  .col-12.col-lg-6
                    .video__block
                      <iframe width="100%" height="230" title="youtube Varna" src="https://www.youtube.com/embed/IC5WGCWlu1k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    .test__block.d-flex.justify-content-center
                      a.btn.btn__testing(href="") Пройти тестування
