extends template/main

block variables
  - var title = 'Відеоогляди'
  - var pageClass = 'videos'

block content
  include modules/header/header_advertising
      
  .wrapper

    .container
      .row
        .col-lg-12.col-md-12.col-12  
          .nav__wrap
            .breadcrumbs
              nav(aria-label='breadcrumb')
                ol.breadcrumb
                  li.breadcrumb-item
                    a(class='breadcrumb-item--link' href='#') Головна
                  li.breadcrumb-item
                    a(class='breadcrumb-item--link' href='#') Інфоцентр
                  li.breadcrumb-item.active(aria-current='page') Відеоогляди
      .row
        .col-12
          .category__list
            nav(aria-label="blog navigation")
              ul.blog_navigation.pl-lg-2.d-flex
                li.item
                  a.item__link(href="#") рекламні каталоги
                li.item
                  a.item__link.active(href="#") Відеоогляди
                li.item
                  a.item__link(href="#") Інструкції

          h1.title Відеоогляди продукції торгових марок "Насосы плюс оборудование", Sprut, VARNA і rudes 

      .row
        .col-12.col-md-6.col-lg-4
          .video__item(href='http://www.youtube.com/watch?v=0O2aH4XLbto')
            .video__item--img
              img.img-responsive(src="assets/images/general/video_thumb.png", alt="")
            .video__item--thumb
              img.img-responsive(src="assets/images/content/video/140.png", alt="")
            .video__item--body
              .video__item--title Електронасос погружний GARDEN1000-4 Robot з вбудованою автоматикою
              .video__item--info
                span.ic__gauge
                | Напір: 00 м
              .video__item--info
                span.ic__power
                | Потужність: 00 кВт
              .video__item--info
                span.ic__flash
                | Живлення: 220 V
        .col-12.col-md-6.col-lg-4
          .video__item(href='http://www.youtube.com/watch?v=0O2aH4XLbto')
            .video__item--img
              img.img-responsive(src="assets/images/general/video_thumb.png", alt="")
            .video__item--thumb
              img.img-responsive(src="assets/images/content/video/140.png", alt="")
            .video__item--body
              .video__item--title Електронасос погружний GARDEN1000-4 Robot з вбудованою автоматикою
              .video__item--info
                span.ic__gauge
                | Напір: 00 м
              .video__item--info
                span.ic__power
                | Потужність: 00 кВт
              .video__item--info
                span.ic__flash
                | Живлення: 220 V
        .col-12.col-md-6.col-lg-4
          .video__item(href='http://www.youtube.com/watch?v=0O2aH4XLbto')
            .video__item--img
              img.img-responsive(src="assets/images/general/video_thumb.png", alt="")
            .video__item--thumb
              img.img-responsive(src="assets/images/content/video/140.png", alt="")
            .video__item--body
              .video__item--title Електронасос погружний GARDEN1000-4 Robot з вбудованою автоматикою
              .video__item--info
                span.ic__gauge
                | Напір: 00 м
              .video__item--info
                span.ic__power
                | Потужність: 00 кВт
              .video__item--info
                span.ic__flash
                | Живлення: 220 V
        .col-12.col-md-6.col-lg-4
          .video__item(href='http://www.youtube.com/watch?v=0O2aH4XLbto')
            .video__item--img
              img.img-responsive(src="assets/images/general/video_thumb.png", alt="")
            .video__item--thumb
              img.img-responsive(src="assets/images/content/video/140.png", alt="")
            .video__item--body
              .video__item--title Електронасос погружний GARDEN1000-4 Robot з вбудованою автоматикою
              .video__item--info
                span.ic__gauge
                | Напір: 00 м
              .video__item--info
                span.ic__power
                | Потужність: 00 кВт
              .video__item--info
                span.ic__flash
                | Живлення: 220 V
        .col-12.col-md-6.col-lg-4
          .video__item(href='http://www.youtube.com/watch?v=0O2aH4XLbto')
            .video__item--img
              img.img-responsive(src="assets/images/general/video_thumb.png", alt="")
            .video__item--thumb
              img.img-responsive(src="assets/images/content/video/140.png", alt="")
            .video__item--body
              .video__item--title Електронасос погружний GARDEN1000-4 Robot з вбудованою автоматикою
              .video__item--info
                span.ic__gauge
                | Напір: 00 м
              .video__item--info
                span.ic__power
                | Потужність: 00 кВт
              .video__item--info
                span.ic__flash
                | Живлення: 220 V
        .col-12.col-md-6.col-lg-4
          .video__item(href='http://www.youtube.com/watch?v=0O2aH4XLbto')
            .video__item--img
              img.img-responsive(src="assets/images/general/video_thumb.png", alt="")
            .video__item--thumb
              img.img-responsive(src="assets/images/content/video/140.png", alt="")
            .video__item--body
              .video__item--title Електронасос погружний GARDEN1000-4 Robot з вбудованою автоматикою
              .video__item--info
                span.ic__gauge
                | Напір: 00 м
              .video__item--info
                span.ic__power
                | Потужність: 00 кВт
              .video__item--info
                span.ic__flash
                | Живлення: 220 V


      .more_wrap.mt-5
        a.btn.more.mx-auto(href="") Більше публікацій 
      .mse2_pagination.d-flex.justify-content-center
        ul.pagination
          li.page-item
            a.page-link(href="") 1,
          li.page-item
            a.page-link(href="") 2,
          li.page-item
            a.page-link(href="") 3
          li.page-item
            a.page-link(href="") ...
          li.page-item
            a.page-link(href="") 8
          li.page-item
            a.page-link(href="") >
