.content_404 {
  background-color: #f8f8f8;
  height: 410px;

  .wrap {
    padding: 80px 0;

    .subtitle {
      font-size: 30px;
      color: #ea5d5d;
      line-height: 1.3;
      margin-bottom: 30px;
    }

    .title {
      font-size: 44px;
      color: rgb(49, 49, 49);
      line-height: 0.757;
      margin-bottom: 40px;
    }

    .text {
      max-width: 400px;

      p {
        font-size: 20px;
        color: rgb(49, 49, 49);
        line-height: 1;

        a {
          color: #005b7f;
          transition: 0.5s all ease;

          &:hover {
            text-decoration: underline;
          }
        }
      }

    }
  }
}

.button__content {
  display: flex;
  justify-content: center;
  padding: 40px 0;

  a {
    font-size: 25px;
    color: #005b7f;
    line-height: 1.12;
    margin-right: 20px;
    transition: 0.5s all ease;

    &:hover {
      color: rgb(49, 49, 49);
    }

    &:last-child {
      margin-right: 0;
    }
  }
}