.catalog__item {
  display: flex;
  border-width: 1px;
  border-color: rgb(181, 199, 203);
  border-style: solid;
  padding: 15px;
  margin-bottom: 20px;
  transition: all 0.5s ease;

  &:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 13.44px 0.56px rgba(58, 58, 58, 0.36);
  }

  &--img {
    position: relative;

    &::before {
      background-color: rgba(0, 91, 127, 0.36);
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
    }

    img {
      width: 210px;
      height: 185px;
    }
  }

  &--body {
    padding: 0 15px;
    position: relative;
    width: 100%;

    .catalog__item--meta {
      padding-bottom: 30px;

      .catalog__item--category {
        font-size: 14px;
        color: #005b7f;
        line-height: 1.286;
      }

      .catalog__item--date {
        font-size: 12px;
        line-height: 1.5;
      }
    }

    .catalog__item--title {
      font-size: 16px;
      color: #005b7f;
      line-height: 1.125;
    }
  }

  .catalog__item--link {
    position: absolute;
    bottom: 0;
    left: 15px;
    padding-right: 15px;
    width: 100%;

    a {
      font-size: 14px;
      color: #747474;
      line-height: 1.286;
      border: 1px solid;
      background: white;
      border-radius: 20px;
      display: block;
      padding-top: 5px;
      padding-bottom: 5px;
      text-align: center;
      transition: 0.5s all ease;

      &:hover {
        background: #747474;
        color: white;
      }
    }
  }
}

@media (max-width: 768px) {
  .catalog__item {
    flex-direction: column;

    &--img {
      margin-bottom: 20px;
      text-align: center;

      &::before {
        display: none;
      }
    }

    .catalog__item--meta {
      padding-bottom: 10px;
    }

    .catalog__item--link {
      position: relative;
    }

    .catalog__item--title {
      margin-bottom: 20px;
      text-align: center;
    }
  }
}