.content {
  background-color: #f9f9f9;
  padding: 15px 15px 0;
  margin-bottom: 15px;
}

.blog__item {
  display: block;
  margin-bottom: 30px;

  &:hover {
    .blog__item--img::before {
      background: rgba(172, 166, 165, 0.1);
      transition: 0.5s all ease;
    }
  }

  &--img {
    position: relative;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    overflow: hidden;

    &::before {
      background: rgba(172, 166, 165, 0.5);
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
    }

    .label {
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      background: #005b7f;
      border-bottom-right-radius: 10px;
      padding: 10px 24px;

      font-size: 18px;
      color: white;
      font-weight: bold;
      line-height: 1;
      text-transform: uppercase;
    }
  }

  &--title {
    margin-bottom: 15px;

    a {
      font-size: 18px;
      color: #747474;
      line-height: 1;

      &:hover {
        color: #005b7f;
        transition: 0.5s all ease;
      }
    }
  }

  &--meta {
    .blog__item--date {
      font-size: 14px;
      line-height: 1.286;
    }

    .blog__item--category {
      font-size: 14px;
      color: #005b7f;
      line-height: 1.286;
    }
  }
}

@media (max-width: 768px) {
  .category__list {
    margin-top: 10px;
    margin-bottom: 10px;

    .blog_navigation {
      flex-wrap: wrap;
      padding-left: 10px;
    }
  }
}