article.article {
  background-color: #f9f9f9;
  padding: 70px 60px;
  margin-bottom: 50px;

  .article__header {
    .title {
      font-size: 14px;
      color: #005b7f;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.429;
      margin: 0 0 30px;
    }

    time {
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.667;
    }
  }

  .article__body {
    p {
      font-size: 14px;

      b {
        color: #005b7f;
        font-weight: bold;
      }

      a {
        color: #005b7f;
        font-weight: bold;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .article__slider {
      margin: 30px 0;
    }
  }

}

.related {
  h2 {
    font-size: 18px;
    color: #005b7f;
    line-height: 1;
    margin-bottom: 30px;
  }

  .related__item {

    .related__info {
      padding: 25px 20px 0;

      .meta {
        .category {
          font-size: 14px;
          color: #005b7f;
          line-height: 1.286;
        }

        .date {
          font-size: 12px;
          line-height: 1.5;
        }

        .publish {
          font-size: 12px;
          line-height: 1.5;
          display: flex;
          align-items: center;

          .ic__publish {
            margin-right: 5px;
          }
        }
      }

      .title {
        padding: 18px 0;
        font-size: 16px;
        color: #005b7f;
        display: block;
        line-height: 1.125;

        &:hover {
          opacity: .8;
          transition: all 0.5s ease;
        }
      }

      .text {
        font-size: 14px;
        line-height: 1.286;
      }
    }

    &--footer {
      padding: 25px 20px;
    }
  }

}