fieldset.filter_box {
  margin-bottom: 25px;

  .filter_title {
    color: #303435;
    font-family: "MyriadPro-Bold", sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
  }

  .filter_box--content {
    background-color: #e9e9e9;
    padding: 14px 12px;
    max-height: 350px;

    .uppercase {
      text-transform: uppercase;
    }

    label {
      display: block;

      input {
        margin-right: 15px;
      }

      span {
        color: #005b7f;
        font-size: 18px;
        line-height: 22px;
      }
    }
  }
}

.content__wrapper {
  margin-bottom: 60px;

  h1 {
    color: #005b7f;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    margin: 30px 0;
  }
}

#mse2_selected_wrapper {
  margin-bottom: 30px;

  .filter__total {
    font-size: 18px;
    line-height: 1;
  }

  #mse2_selected {
    .mse2_selected_link {
      border-radius: 9px;
      border: 1px solid #747474;
      color: #747474;
      font-size: 15px;
      margin-right: 15px;
      padding: 6px 15px 4px;

      &:hover {
        border: 1px solid #d31128;

        sup {
          color: #d31128;
        }
      }

      em {
        font-style: normal;
      }

      sup {
        top: -1px;
        left: 5px;
        font-size: 15px;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

#mse2_filters {
  .btn--blue {
    padding-top: 8px;
    padding-bottom: 7px;
  }
}

#mse2_results {
  padding-top: 35px;
}

.good__item {
  border-radius: 10px;
  border: 1px solid #1f3549;
  background-color: #ffffff;
  cursor: pointer;
  height: 320px;
  margin-bottom: 28px;
  position: relative;
  overflow: hidden;

  &--img {
    height: 230px;
    padding: 18px 15px;
  }

  &--detail {
    padding: 17px 15px;

    .left__block {
      .title {
        color: #005b7f;
        font-size: 18px;
        line-height: 16px;
        text-transform: uppercase;
      }

      .category {
        color: #005b7f;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        margin-bottom: 8px;
      }

      .pre-category {
        font-size: 14px;
        line-height: 14px;
        margin-bottom: 15px;
      }

      .options {
        display: none;

        span {
          display: block;
          font-size: 14px;
          line-height: 19px;
        }
      }
    }

    .right__block {
      width: 28px;
      margin-left: 20px;

      a {
        text-align: right;
        margin-bottom: 18px;

        &:hover {
          opacity: .8;
          transition: .7s all ease;
        }

        &.ic_comment {
          position: relative;

          &::before {
            content: '';
            background-image: url(../images/general/ic_card_1.png);
            background-repeat: no-repeat;
            width: 24px;
            height: 22px;
            display: block;
          }

          span.label {
            position: absolute;
            top: -7px;
            left: 0;
            color: #005b7f;
            font-size: 12px;
            line-height: 14px;
          }
        }

        &.ic_comparison {
          position: relative;

          &::before {
            content: '';
            background-image: url(../images/general/ic_comparison.svg);
            background-repeat: no-repeat;
            width: 24px;
            height: 24px;
            display: block;
          }
        }

        &.ic_see {
          position: relative;

          &::before {
            content: '';
            background-image: url(../images/general/ic_see.svg);
            background-repeat: no-repeat;
            width: 27px;
            height: 15px;
            display: block;
          }
        }
      }
    }
  }

  &:hover {
    position: relative;
    z-index: 1;
    transition: .6s all ease;
    height: 410px;
    margin-bottom: -150px;
    box-shadow: 0px 10px 25px #1f3549;

    .options {
      display: block;
    }
  }
}

.more_wrap {
  margin-bottom: 18px;
}

.filter-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-weight: 700;
  text-transform: uppercase;

  span {
    color: #005b7f;
    font-size: 16px;
    padding-left: 10px;
  }
}

.filter-mobile-block {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: 0.7s linear;

  &.active {
    display: block;
    visibility: visible;
    opacity: 1;
  }
}

@media (max-width: 768px) {

  .content__wrapper h1 {
    font-size: 28px;
    line-height: 28px;
    margin: 15px 0;
  }

  .filter__total {
    margin-bottom: 15px;
  }

  #mse2_selected_wrapper #mse2_selected .mse2_selected_link {
    display: inline-block;
    padding: 0 15px 0;
    margin-bottom: 5px;
    font-size: 13px;
  }

  .filters__wrapper fieldset.filter_box {
    margin-bottom: 15px;

    .filter_title {
      font-size: 16px;
      margin-bottom: 15px;
    }

    .filter_box--content {
      max-height: 220px;

      label {
        margin-bottom: 0;

        span {
          font-size: 14px;
        }
      }
    }
  }

  #mse2_filters .btn--blue {
    margin-bottom: 15px;
  }

  .good__item {
    height: 410px;
    margin-bottom: 20px;

    &:hover {
      margin-bottom: 20px;
    }

    &--detail .left__block .options {
      display: block;
    }
  }
}