.history__wrap {
  flex-wrap: wrap;
  margin-bottom: 40px;

  .item {
    background-color: rgb(242, 244, 245);
    box-shadow: inset 3px 3px 8.19px 3px rgba(58, 58, 58, 0.18);
    cursor: pointer;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    width: 16.6%;
    position: relative;

    &::before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -15px;
      content: '';
      background-image: url(../images/general/arrow_ellipse.png);
      background-repeat: no-repeat;
      width: 32px;
      height: 32px;
      z-index: 1;
    }

    &__year {
      font-size: 24px;
      color: #005b7f;
      font-weight: bold;
      line-height: 1.638;
    }

    &__title {
      font-size: 14px;
      color: rgb(88, 88, 88);
      font-weight: bold;
      line-height: 1;
      padding: 0px 20px;
    }

    &.active {
      background-color: rgb(74, 133, 157);
      box-shadow: 4.373px 2.424px 8.19px 0.81px rgba(58, 58, 58, 0.18);

      .item__year,
      .item__title {
        color: white;
      }
    }
  }
}

#history__item--content {
  background-color: rgb(230, 243, 249);
  box-shadow: 4.373px 2.424px 8.19px 0.81px rgba(58, 58, 58, 0.18);
  padding: 30px 35px;
  font-size: 16px;
  color: rgb(88, 88, 88);
  line-height: 1.125;
  margin-bottom: 70px;

  .text__history {
    display: none;
  }
}

@media (max-width: 768px) {
  .history__wrap {

    .item {
      width: 50%;
    }
  }
}