.partners__wrap {
  .partner__item {
    background-color: #e9e9e9;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    margin-bottom: 30px;
    padding: 15px 30px;
    transition: all 0.5s ease-in;

    &:hover {
      border-radius: 10px;
      background-color: rgb(197, 211, 214);
      box-shadow: 0px 4px 17.28px 0.72px rgba(58, 58, 58, 0.45);
    }

    &--img {
      padding-bottom: 15px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        display: block;
        height: 100%;
        width: auto;
        max-width: 100%;
      }
    }

    &--body {
      .partner__item--name {
        font-size: 16px;
        font-family: "Myriad Pro";
        color: rgb(0, 91, 127);
        font-weight: bold;
        text-transform: uppercase;
      }

      .partner__item--location {
        font-size: 16px;
        font-family: "Myriad Pro";
        color: rgb(0, 91, 127);
      }
    }
  }
}