.form_in_page {
  margin-top: 25px;

  form {
    label {
      width: 360px;
      position: relative;

      &::before {
        content: '';
        background-image: url(../images/general/ic_search_b.png);
        background-repeat: no-repeat;
        position: absolute;
        width: 28px;
        height: 28px;
        left: 10px;
        top: 8px;
        display: block;
      }

      input {
        padding-left: 50px;
      }
    }
  }
}

.manual__item {
  display: flex;
  border-width: 1px;
  border-color: rgb(181, 199, 203);
  border-style: solid;
  padding: 15px;
  margin-bottom: 20px;
  transition: all 0.5s ease;

  &:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 13.44px 0.56px rgba(58, 58, 58, 0.36);
  }

  &--body {
    padding: 0 15px;

    .manual__item--category {
      font-size: 14px;
      color: #005b7f;
      line-height: 1.286;
      padding-bottom: 25px;
    }

    .manual__item--title {
      font-size: 16px;
      color: #005b7f;
      line-height: 1.125;
      margin-bottom: 25px;
    }
  }

  .manual__item--link {
    a {
      font-size: 14px;
      color: #747474;
      line-height: 1.286;
      border: 1px solid;
      background: white;
      border-radius: 20px;
      display: block;
      padding-top: 5px;
      padding-bottom: 5px;
      text-align: center;
      transition: 0.5s all ease;

      &:hover {
        background: #747474;
        color: white;
      }
    }
  }
}

@media (max-width: 768px) {
  .manual__item {
    flex-direction: column;

    &--img {
      margin-bottom: 20px;
      text-align: center;

      &::before {
        display: none;
      }
    }

    .manual__item--category {
      padding-bottom: 10px;
      text-align: center;
    }

    .manual__item--link {
      position: relative;
    }

    .manual__item--title {
      margin-bottom: 20px;
      text-align: center;
    }
  }
}