.map_reg {
  display: flex;

  .left__block {
    width: 80%;
  }

  .right__block {
    width: 20%;
  }
}

#short-region-info {
  font-size: 13px;
  line-height: 15px;

  span.city-name {
    display: block;
    font-size: 18px;
    color: #005b7f;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 15px;
  }

  .city__item {
    margin-bottom: 15px;
    font-size: 14px;
    color: #747474;
    line-height: 1.222;

    a {
      color: #747474;

      &:hover {
        opacity: .8;
      }
    }
  }
}

@media (max-width: 768px) {
  .map_reg {

    .left__block {
      display: none;
    }

    .right__block {
      width: 100%;
    }
  }
}