.select__region {
  margin-bottom: 60px;
  display: flex;
  align-items: center;

  span {
    display: inline-block;
    font-size: 16px;
    color: #005b7f;
    line-height: 2.25;
    width: 160px;
  }

  label {
    font-size: 14px;
    color: #005b7f;
    line-height: 2;
    width: 100%;

    select {
      display: inline-block;
      width: 220px;
      padding: 0 10px;
      background: url(../images/general/left-arrow.png) no-repeat right rgb(255, 255, 255);
      -webkit-appearance: none;
      background-position-x: 190px;
      border-width: 2px;
      border-color: rgb(0, 91, 127);
      border-style: solid;
      border-radius: 5px;
      font-size: 14px;
      color: rgb(116, 116, 116);
    }
  }
}

.objects__wrap {
  .object {
    margin-bottom: 35px;
  }

  .object__item {
    border-width: 1px;
    border-color: rgb(197, 211, 214);
    border-style: solid;
    background-color: rgb(255, 255, 255);
    padding: 35px 25px;
    transition: all 0.5s ease-in;
    height: 100%;

    &:hover {
      box-shadow: 0px 4px 17.28px 0.72px rgba(58, 58, 58, 0.45);
    }

    &--slider {
      position: relative;

      .objects__slider {
        margin-bottom: 30px;

        .gallery-img {
          margin: 0 auto;
        }
      }


      .another-block {
        display: flex;
        justify-content: center;

        .swiper-pagination {
          text-align: center;
        }

        .swiper-pagination-bullet {
          background: rgb(116, 116, 116);
          margin-right: 20px;
          width: 9px;
          height: 9px;

          &:last-child {
            margin-right: 0;
          }
        }

        .swiper-pagination-bullet-active {
          background: #005b7f;
          border: 0;
        }

        .swiper-button-next,
        .swiper-button-prev {
          color: #096184;

          &::after {
            content: '';
            background-repeat: no-repeat;
            width: 10px;
            height: 25px;
          }

          &:focus {
            outline: 0;
          }
        }

        .swiper-button-prev:after {
          background-image: url(../images/general/arrow_left.png);
        }

        .swiper-button-next:after {
          background-image: url(../images/general/arrow_right.png);
        }
      }
    }

    &--info {
      margin-top: 50px;

      .item {
        display: flex;
        align-items: flex-start;
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }

        &--name {
          width: 60%;
          font-size: 16px;
          color: #005b7f;
          font-weight: bold;
        }

        &--value {
          width: 40%;
          font-size: 16px;
          color: rgb(116, 116, 116);
        }
      }
    }
  }
}