.product__content {
  margin-top: 17px;

  .wrapper__product {
    background-color: #f9f9f9;
    margin-bottom: 35px;

    .nav-tabs {
      background-color: white;
      border-bottom: 0;

      .nav-link {
        color: #404040;
        font-family: "MyriadPro-Bold", sans-serif;
        font-size: 20px;
        line-height: 22px;
        padding: 28px 53px;
        border: 0;
      }

      .nav-link.active,
      .nav-tabs .nav-item.show .nav-link {
        background-color: #f9f9f9;
      }
    }
  }
}

#productTabContent {

  h2.title,
  h2.category {
    color: #404040;
    font-family: "MyriadPro-Bold", sans-serif;
    font-size: 20px;
    line-height: 22px;
  }

  .info__block {
    margin-top: 22px;
    margin-bottom: 20px;

    .price__wrap {
      color: #005b7f;
      font-family: "MyriadPro-Bold", sans-serif;
      font-size: 24px;
      line-height: 25.69px;
    }

    .btn {
      color: #005b7f;

      &:hover {
        color: $white;
      }
    }
  }

  .base__options {
    margin-bottom: 30px;

    h2 {
      color: #404040;
      font-family: "MyriadPro-Bold", sans-serif;
      font-size: 20px;
      line-height: 22px;
      margin-bottom: 20px;
    }

    span {
      color: #6B6B6B;
      line-height: 26px;
      font-size: 18px;
      display: block;

      b {
        font-family: "MyriadPro-Bold", sans-serif;
      }
    }
  }

  button {
    width: auto;
    padding: 6px 52px 5px;
  }

  .share__block {
    h3 {
      color: #404040;
      font-family: "MyriadPro-Bold", sans-serif;
      font-size: 16px;
      line-height: 23.56px;
    }
  }

  .product__description {
    h3 {
      color: #404040;
      font-family: "MyriadPro-SemiBold", sans-serif;
      font-size: 23px;
      line-height: 24.63px;
      margin-bottom: 22px;
    }

    p {
      color: #404040;
      font-size: 14px;
      line-height: 22px;
    }
  }

  .product__review {
    h3 {
      color: #404040;
      font-family: "MyriadPro-SemiBold", sans-serif;
      font-size: 23px;
      line-height: 24.63px;
      margin-bottom: 24px;
    }

    .review__item {
      margin-bottom: 50px;

      &--header {
        h4 {
          color: #404040;
          font-family: "MyriadPro-SemiBold", sans-serif;
          font-size: 18px;
          line-height: 24.63px;
        }

        span {
          color: #404040;
          font-size: 14px;
          line-height: 24.63px;
        }
      }

      &--body {
        .review__item--text {
          color: #404040;
          font-size: 16px;
          line-height: 24.63px;
        }
      }

      &--footer {
        .review__item--btn {
          color: #005b7f;
          font-size: 14px;
          line-height: 24.63px;

          &:hover {
            opacity: 0.8;
            transition: all 0.5s ease;
          }
        }
      }

    }
  }
}

.recommended__wrap {
  h2 {
    color: #005b7f;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 26px;
  }
}

.fotorama__nav {
  margin-top: 10px;
}

#msGallery {
  margin-bottom: 45px;
}

@media (max-width: 768px) {
  .wrapper__product .tab-content {
    padding: 14px 10px;
  }

  #productTabContent h2.title,
  #productTabContent h2.category,
  #productTabContent .base__options h2 {
    font-size: 18px;
    line-height: 18px;
  }

  #productTabContent .product__description h3 {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 10px;
  }

  .product__content .wrapper__product .nav-tabs {
    overflow-x: auto;
    min-width: 100%;
    display: flex;
    flex-wrap: inherit;
    white-space: nowrap;

    .nav-link {
      font-size: 16px;
      padding: 15px 25px;
    }
  }

  #productTabContent .product__review .review__item--body .review__item--text {
    font-size: 14px;
  }

  .recommended__wrap h2 {
    font-size: 18px;
    line-height: 18px;
  }
}