.profile__content {
  .profile__content--header {
    margin-bottom: 20px;

    .welcome {
      font-size: 18px;
      color: #005b7f;
      font-weight: bold;
      line-height: 1.2;

    }
  }

  .nav-tabs {
    border-bottom: 1px solid #005b7f;

    .nav-link.active {
      border-color: transparent;
      font-weight: bold;
      border-bottom: 1px solid;
      position: relative;
      padding: 8px 40px 8px 0;
      border-radius: 0;
    }
  }

  .nav-tabs .nav-link:hover,
  .nav-tabs .nav-link:focus {
    margin-bottom: -1px;
    border-bottom: 2px solid;
  }

  .nav-tabs .nav-link {
    border: 1px solid transparent;
    color: #005b7f;
    font-size: 16px;
    line-height: 1.2;
    padding: 8px 40px 8px 0;
  }

  #profileTabContent {
    padding: 15px 0;

    .test__block {
      margin-top: 25px;
    }

    .tab__headline {
      font-size: 14px;
      color: #005b7f;
      font-weight: bold;
      line-height: 1.2;
      margin-bottom: 20px;
    }

    .form-group {
      margin-bottom: 0;

      label {
        font-size: 14px;
        color: #005b7f;
        line-height: 2;
        width: 160px;
      }
    }

    .forgot {
      display: block;
      font-size: 14px;
      color: rgb(123, 127, 122);
      text-decoration: underline;
      line-height: 1.2;
      margin: 10px 0 25px;
    }

    button {
      border: 0;
      border-radius: 10px;
      background-color: #005b7f;
      color: white;
      font-size: 14px;
      font-weight: bold;
      line-height: 1.2;
      padding: 5px 25px;
      transition: all 0.5s ease;

      &:hover {
        box-shadow: 0px 1px 5px 0px rgba(111, 105, 109, 0.83);
        opacity: .7;
      }

      &.save {
        border-width: 1px;
        border-color: rgb(243, 239, 239);
        border-style: solid;
        background-color: rgb(233, 233, 233);
        color: #005b7f;
      }
    }

    .tab__text p {
      font-size: 14px;
      color: #005b7f;
      line-height: 1.2;
    }
  }

  .date__update,
  .course {
    font-size: 14px;
    color: #005b7f;
    line-height: 1.2;
    margin-bottom: 20px;

    span {
      font-weight: bold;
    }
  }

  .prices__wrap {
    padding-top: 35px;
    padding-bottom: 65px;

    .price__item {

      &:hover {
        a>.price__item--label {
          background-color: rgb(13, 131, 178);
        }
      }

      a {
        display: flex;
        align-items: center;
        transition: 0.5s all ease;

        .price__item--label {
          background-color: #005b7f;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
          color: rgb(255, 255, 255);
          font-size: 16px;
          padding: 8px 20px;
          line-height: 1.2;
        }
      }
    }
  }

  .note {
    font-size: 14px;
    color: #005b7f;
    font-weight: bold;
    line-height: 1.2;
  }
}