.video__item {
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;

  &::after {
    margin: 0;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    background-image: url(../images/general/ic_play.png);
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
  }

  &--img {
    position: relative;

    &::before {
      background-color: rgba(0, 91, 127, 0.36);
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  &--thumb {
    display: none;
  }

  &--body {
    display: none;
    padding: 30px;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 260px;

    .video__item--title {
      font-size: 16px;
      color: rgb(255, 255, 255);
      font-weight: bold;
      line-height: 1.125;
      margin-bottom: 20px;
    }

    .video__item--info {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      span {
        margin-right: 10px;

        &.ic__flash {
          margin-right: 17px;
        }
      }

      font-size: 14px;
      color: rgb(255, 255, 255);
      font-weight: bold;
      line-height: 1.786;
    }

  }

  &:hover {
    .video__item--img {
      display: none;
    }

    .video__item--thumb {
      display: block;
    }

    .video__item--body {
      display: block;
    }

  }
}