section.brands__list
  .container
    .row
      .wrapper.d-flex.justify-content-between
        .brands__list--item
          .brand__logo
            img.img-responsive(src="assets/images/general/brands/nasosi.svg", alt="«Насоси плюс обладнання")
        .brands__list--item
          .brand__logo
            img.img-responsive(src="assets/images/general/brands/sprut.svg", alt="Sprut")
        .brands__list--item
          .brand__logo
            img.img-responsive(src="assets/images/general/brands/aruna.svg", alt="Aruna")
        .brands__list--item
          .brand__logo.mt-logo
            img.img-responsive(src="assets/images/general/brands/rudes.png", alt="Rudes")
        .brands__list--item.varna
          .brand__logo
            img.img-responsive(src="assets/images/general/brands/varna.svg", alt="Varna")
