.header__slider.swiper-container.container
  .swiper-wrapper
    .header__slider--item.swiper-slide
      img.img-responsive(src="assets/images/content/slider/varna_tiff.jpg", alt="")
    .header__slider--item.swiper-slide
      img.img-responsive(src="assets/images/content/slider/varna_tiff.jpg", alt="")
    .header__slider--item.swiper-slide
      img.img-responsive(src="assets/images/content/slider/varna_tiff.jpg", alt="")
    .header__slider--item.swiper-slide
      img.img-responsive(src="assets/images/content/slider/varna_tiff.jpg", alt="")
    .header__slider--item.swiper-slide
      img.img-responsive(src="assets/images/content/slider/varna_tiff.jpg", alt="")
  .swiper-pagination