.btn {
  border-radius: 9px;
  border: 1px solid #747474;
  display: block;
  font-size: 14px;
  line-height: initial;
  padding: 4px 20px 2px;
  text-align: center;
  transition: background 0.3s ease;
  width: max-content;
  transition: 0.5s all ease;

  &:hover {
    background: #005b7f;
    border-color: #005b7f;
    color: $white;
  }

  &:focus {
    outline: 0;
  }
}

.btn--blue {
  background-color: #005b7f;
  border-color: #005b7f;
  color: white;
  width: 100%;
  margin-bottom: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  transition: 0.5s all ease;

  &:hover {
    background-color: $white;
    color: #005b7f;
  }
}

.btn--bluelight {
  background-color: #8ec7dd;
  border-color: #8ec7dd;
  color: white;
  width: auto;
  margin-bottom: 25px;
  padding: 8px 20px 6px;
  height: auto;
  transition: 0.5s all ease;

  &:hover {
    background-color: $white;
    color: #005b7f;
  }
}

.btn__testing {
  background-color: #005b7f;
  border-color: #005b7f;
  color: white;
  width: 190px;
  margin-bottom: 25px;
  height: 30px;
  line-height: 1.5;
  position: relative;
  padding-left: 25px;
  transition: 0.5s all ease;

  &::before {
    position: absolute;
    left: 10px;
    top: 2px;
    content: '';
    background-image: url(../images/general/ic_question.png);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    display: block;
  }

  &:hover {
    background-color: rgba(0, 91, 127, 0.534);
  }
}