form {
  width: 100%;

  .form-control {
    background: $white;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 20px;
    color: #757474; // Accessibility
    padding: 20px 15px;
    border-width: 1px;
    border-color: rgb(187, 215, 221);
    border-style: solid;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);


    &.error {
      border-color: $lightPink;
    }

    &:focus {
      border-color: #005b7f;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.102764) !important;
      box-shadow: 0px 4px 17.28px 0.72px rgba(58, 58, 58, 0.45);
    }
  }
}

.custom-control-input:checked~.custom-control-label::before {
  border-color: #005b7f;
  background-color: #005b7f;
}