// Modal forms
.modal-dialog {
  max-width: 335px;

  .modal-content {
    box-shadow: 0px 4px 17.28px 0.72px rgba(58, 58, 58, 0.45);
    border: 0;
  }

  .modal-body {
    padding: 35px 30px;

    h5.modal-title {
      font-size: 18px;
      color: #005b7f;
      font-weight: bold;
      line-height: 1.2;
      margin-bottom: 25px;
    }

    .form-group {
      margin-bottom: 0;

      label {
        font-size: 14px;
        color: #005b7f;
        line-height: 2;
        width: 100%;
      }

      select {
        display: block;
        width: 100%;
        padding: 0 10px;
        background: url(../images/general/left-arrow.png) no-repeat right rgb(255, 255, 255);
        -webkit-appearance: none;
        background-position-x: 230px;
      }
    }

    .forgot {
      font-size: 14px;
      color: rgb(123, 127, 122);
      text-decoration: underline;
      line-height: 1.2;
    }

    .check__block {
      margin-top: 15px;
    }

    .dop__info {
      margin-top: 15px;
      margin-bottom: 30px;

      .policy {
        a {
          font-size: 14px;
          color: #005b7f;
          text-decoration: underline;
          line-height: 1.2;
          transition: all 0.5s ease;

          &:hover {
            text-decoration: none;
            opacity: .8;
          }
        }
      }
    }

    .login_social_networks {
      margin-top: 30px;
      font-size: 14px;
      color: #005b7f;
      line-height: 1.2;

      .head-wrap {
        margin-bottom: 10px;

        .sub__headline {
          overflow: hidden;

          &:before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            box-sizing: border-box;
            width: 100%;
            height: 1px;
            background: #f3efef;
            border: solid #FFF;
            border-width: 0 10px;
            margin-left: -100%;
          }

          & {
            &:after {
              content: '';
              display: inline-block;
              vertical-align: middle;
              box-sizing: border-box;
              width: 100%;
              height: 1px;
              background: #f3efef;
              border: solid #FFF;
              border-width: 0 10px;
              margin-right: -100%;
            }
          }
        }
      }

      .headline {
        margin-bottom: 15px;
      }

      .login_btn {
        a {
          margin-right: 10px;
          transition: all 0.5s ease;

          &:last-child {
            margin-right: 0;
          }

          &:hover {
            opacity: 0.7;
          }
        }
      }

    }

    button {
      border: 0;
      border-radius: 10px;
      background-color: #005b7f;
      color: white;
      font-size: 14px;
      font-weight: bold;
      line-height: 1.2;
      padding: 5px 25px;
      transition: all 0.5s ease;

      &:hover {
        box-shadow: 0px 1px 5px 0px rgba(111, 105, 109, 0.83);
        opacity: .7;
      }

      &.cancel {
        border-width: 1px;
        border-color: rgb(243, 239, 239);
        border-style: solid;
        background-color: rgb(233, 233, 233);
        color: #005b7f;
      }
    }
  }
}

.thanks--content {
  font-size: 14px;
  color: #005b7f;
  line-height: 1.2;

  a {
    color: #005b7f;
    text-decoration: underline;
  }
}