/*==========  Desktop First  ==========*/

// ≤1200px
@include media-breakpoint-down(lg) {}

// 1366
@media screen and (max-width:1366px) {
  header.header {
    ul.menu__list .menu__item .menu__item--link {
      font-size: 16px;
    }

    .header__top .header__right .wrap_search {
      width: 200px;
    }
  }

  section.socials .social__item {
    max-width: 260px;
  }

  // header.header .header__middle ul.menu__list>li>ul,
  // header.header .sticky-menu ul.menu__list>li>ul {
  //   top: 48px;
  // }

  // .jquery-accordion-menu ul li a:first-child {
  //   height: 36px;
  // }

  // .jquery-accordion-menu ul li a {
  //   padding: 5px 17px 5px;
  // }

  // .jquery-accordion-menu ul li:before {
  //   top: 12px;
  // }

  // .jquery-accordion-menu .jquery-accordion-menu-footer,
  // .jquery-accordion-menu .jquery-accordion-menu-header {
  //   height: 48px;
  // }
}

// ≤992px

@media (max-width: 992px) {}

@media (max-width: 800px) {}

// ≤768px
@media (max-width: 768px) {

  [class^='col-'] {
    padding-left: 10px;
    padding-right: 10px;
  }

  .h-desktop {
    display: none;
  }

  section h2.section__title {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 0;

    .swiper-pagination-bullet {
      margin: 0px 6px;
      width: 8px;
      height: 8px;
    }
  }



  header.header {

    .header__wrap {
      position: relative;
      display: flex;
      flex-wrap: wrap;

      .header__logo {
        position: relative;
        margin: 0 auto;
        z-index: 1;

        .logo__desktop {
          display: none;
        }

        .logo__mobile {
          display: block;
        }
      }
    }

    .header__slider {
      margin-top: 0;
    }

    .header__back {
      display: block;
    }

    .header__menu,
    .header__login {
      display: none;
    }

    .header__toggle {
      display: block;
    }

    &.header_img {
      margin-bottom: -40px;

      .header__wrap {
        background: transparent;
        z-index: 2;
      }

      .header__toggle--mobile span {
        background: $white;
      }
    }

    .header__middle,
    .header__bottom {
      display: none;
    }
  }

  header.header .sticky-menu,
  header.header .static__search {
    display: none !important;
  }

  header.header .static {
    display: none;
  }

  #mse2_results {
    padding-top: 0;
  }

  #mse2_selected_wrapper {
    margin-bottom: 15px;
  }

  footer.footer {
    padding: 0 0 20px;

    .footer__logo {
      margin-bottom: 20px;
      padding-top: 0;
      display: flex;
      justify-content: center;
    }


    .footer__copiryte {
      text-align: center;
      font-size: 18px;
    }

    .mobile__section {
      .footer__info--phone {
        margin-bottom: 15px;

        a {
          font-size: 32px;
          text-align: center;
        }
      }

      .footer__map {
        margin-bottom: 15px;

        .btn {
          font-size: 18px;
        }
      }
    }

    .container {
      padding: 20px 15px;

      .footer__logo {
        img {
          width: 170px;
          height: auto;
        }
      }

      .footer__menu {
        margin: 60px 0;
        flex-wrap: wrap;

        nav {
          width: 50%;

          ul.list li a {
            font-size: 14px;
          }
        }
      }
    }

    .list__social {
      padding-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;

      li {
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

// ≤576px
@include media-breakpoint-down(xs) {}

// ≤ 360px

@media (max-width: 360px) {}

/*==========  Mobile First  ==========*/

// ≥576px
@include media-breakpoint-up(sm) {}

// ≥768px
@media (min-width: 769px) {
  .item {
    &__content {

      .mobile {
        display: none;
      }

      .desktop {
        display: block;
      }
    }
  }

  .header__toggle {
    display: none;
  }

  header.header {
    .header__wrap {
      .header__back {
        display: none;
      }

      .header__logo {
        .logo__mobile {
          display: none;
        }
      }
    }
  }
}

// ≥800px
@media (min-width: 768px) and (max-width: 1024px) {
  header.header .header__menu .nav-item .nav-link {
    font-size: 12px;
    padding: 0.5rem 0;
  }
}

// ≥992px
@media (min-width: 993px) {}

// ≥1200px
@include media-breakpoint-up(xl) {}

// @media (min-width: 1430px) {
//   .container {
//     max-width: 1200px;
//   }
// }