@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";

::placeholder {
  color: $lightGray;
}

::selection {
  background-color: $gray;
  color: $white;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.5;
  font-family: $default-font;
  overflow-x: hidden;
  color: $gray;
  background: $white;
  outline: 0;
}

input,
textarea {
  outline: none;
  cursor: pointer;

  &:focus:required:invalid {
    border-color: red;
  }

  &:required:valid {
    border-color: green;
  }
}

a {
  cursor: pointer;

  &:hover {
    text-decoration: none;
    transition: color 0.3s ease;
  }
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;

  &.img-width {
    width: 100%;
  }
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

b,
strong {
  font-weight: bold;
}

.container {
  margin: 0 auto;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;

  &.list {
    li {
      &:not(last-child) {
        margin-bottom: 5px;
      }

      a {
        color: #383838;
        font-size: 16px;
        line-height: 32px;
      }
    }
  }
}

input:focus {
  outline: 0;
  box-shadow: none;

}

section {
  margin: 30px 0;

  h2.section__title {
    color: #303435;
    font-size: 24px;
    line-height: 1.208;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 400;

    span {
      font-weight: 700;
    }
  }
}

.ic__youtube {
  content: url(../images/general/ic_youtube.png);
  width: 65px;
  height: 50px;
}

.ic__facebook {
  content: url(../images/general/ic_facebook.svg);
  width: 50px;
  height: 50px;
}

.login__facebook {
  content: url(../images/general/login_fb.png);
  width: 30px;
  height: 30px;
}

.login__gplus {
  content: url(../images/general/login_gplus.png);
  width: 30px;
  height: 30px;
}

.ic__login {
  content: url(../images/general/ic_user.png);
  width: 24px;
  height: 24px;
}

.ic__call {
  content: url(../images/general/ic_call.png);
  width: 24px;
  height: 24px;
}

.ic__search {
  content: url(../images/general/ic_search.png);
  width: 20px;
  height: 20px;
}

.ic__catmenu--1 {
  content: url(../images/general/ic_catalog_view_1.svg);
  width: 28px;
  height: 28px;
  margin-right: 25px;
  fill: #005b7f;
}

.ic__catmenu--2 {
  content: url(../images/general/ic_catalog_view_2.svg);
  width: 28px;
  height: 28px;
}

.ic__filter {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  background: url(../images/general/filter.svg) no-repeat 50% 50%;
  background-size: contain;
  fill: #005b7f;
}

.ic__share {
  content: url(../images/general/ic_share_2.svg);
  width: 28px;
  height: 28px;

  &:hover {
    opacity: 0.8;
  }
}

.ic__like {
  content: url(../images/general/ic_heart.svg);
  width: 28px;
  height: 28px;

  &:hover {
    opacity: 0.8;
  }
}

.ic__publish {
  content: url(../images/general/ic_publish.png);
  width: 17px;
  height: 17px;
  position: relative;

  &:hover {
    opacity: 0.8;
  }
}

.ic__gauge {
  content: url(../images/general/ic_gauge.png);
  width: 21px;
  height: 21px;
}

.ic__power {
  content: url(../images/general/ic_power.png);
  width: 20px;
  height: 22px;
}

.ic__flash {
  content: url(../images/general/ic_flash.png);
  width: 13px;
  height: 21px;
}

.ic__yml {
  content: url(../images/general/ic_yml.png);
  width: 53px;
  height: 66px;
}

.ic__xls {
  content: url(../images/general/ic_xls.png);
  width: 53px;
  height: 66px;
}

.ic__xml {
  content: url(../images/general/ic_xml.png);
  width: 53px;
  height: 66px;
}

.simplebar-track {
  background-color: rgba(0, 91, 127, 0.2);
  width: 8px !important;
  right: 5px;
}

.simplebar-scrollbar {
  columns: #005b7f !important;
  cursor: pointer !important;
  right: 0;
  width: 8px !important;

  &:before {
    background: rgba(0, 91, 127, 0.46);
    border-radius: 4px;
    box-shadow: 0 0 13px rgba(0, 0, 2, 0.15);
    opacity: 1 !important;
  }
}

.rounded {
  border-radius: 0.5rem !important;
}

.swiper-pagination {
  text-align: right;
}

.swiper-pagination-bullet {
  background: white;
  opacity: 1;
  width: 12px;
  height: 12px;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 12px;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #005b7f;
  border: 1px solid white;
}

.wrapper {
  h1.title {
    font-size: 36px;
    color: #005b7f;
    line-height: 1;
    margin: 40px 0;
  }
}

.selectize-control.single .selectize-input {
  display: block;
  font-size: 14px;
  color: rgb(116, 116, 116);
  padding: 8px 10px;
  box-shadow: none !important;
  border-radius: 5px !important;
  border-width: 2px;
  border-color: rgb(0, 91, 127);
  border-style: solid;
  width: 220px;
  background-color: #fff;
  background-image: none;
}

.selectize-control.single .selectize-input::after {
  border-color: rgb(0, 91, 127) transparent transparent transparent;
}

//Модули
@import "modules/modules";
@import "media";