.breadcrumb
  .container
    .row
      .col-12
        nav(aria-label='breadcrumb')
          ol.breadcrumb
            li.breadcrumb-item
              a(class='breadcrumb-item--link' href='#') Головна
            li.breadcrumb-item
              a(class='breadcrumb-item--link' href='#') Каталог
            li.breadcrumb-item.active(aria-current='page') Поверхневі насоси