.nav__wrap
  .container
    .row.justify-content-lg-between.align-items-center
      .breadcrumbs
        nav(aria-label='breadcrumb')
          ol.breadcrumb
            li.breadcrumb-item
              a(class='breadcrumb-item--link' href='#') Головна
            li.breadcrumb-item.active(aria-current='page') Блог
      .category__list
        nav(aria-label="blog navigation")
          ul.blog_navigation.d-flex
            li.item
              a.item__link.active(href="#") всі публікації
            li.item
              a.item__link(href="#") всі публікаціїы
            li.item
              a.item__link(href="#") новинки і огляди
            li.item
              a.item__link(href="#") рекламні каталоги
        