footer.footer
  .container
    .row
      .col-12.col-md-4.col-lg-4
        .footer__logo
          a(href="")
            img.img-responsive(src="assets/images/general/logo.png", alt="Logo")
        
        .mobile__section.d-block.d-sm-none
          .footer__info--phone
            a(href="tel:+0800503340" aria-label="Phone") 0-800-50-33-40
          .footer__map.d-flex.justify-content-center.align-item-center
            a.btn(href="") На мапі
            span.ic_location

        .footer__copiryte &copy; Varna 2019

      .col-8.col-md-4.col-lg-4.hr__right.d-none.d-sm-block
        .footer__info.d-flex.flex-column
          .footer__info--phone.mb-lg-3
            a(href="tel:+0577387638" aria-label="Phone") 057-738-76-38
            a(href="tel:+0800503340" aria-label="Phone") 0-800-50-33-40
          .footer__info--address
            address
              | Україна, 61161, <br>
              | г. Харків, вул. Тюрінська, 75 <br>   
              span email 
                a(href="mailto:sales@waterpump.com.ua") sales@waterpump.com.ua
          a.btn(href="") На мапі

      .col-4.col-md-3.col-lg-3.hr__right.d-none.d-sm-block
        nav.footer__nav
          ul.list
            li.list__item
              a(href="#") Головна
            li.list__item
              a(href="#") Про компанію
            li.list__item
              a(href="category.html") Продукція
            li.list__item
              a(href="#") Інфоцентр
            li.list__item
              a(href="#") Сервіс
            li.list__item
              a(href="#") Контакти
              
      .col-12.col-md-1.col-lg-1.d-none.d-sm-block
        ul.list__social
          li
            a.ic__youtube(href="", aria-hidden="true")
          li
            a.ic__facebook(href="", aria-hidden="true")